<%= form_for :membership, url: '/member/new',remote: true do |f| %>
<div class="col col-md-4">
  <%= f.label :título %>:<br />
  <%= f.text_field :name,:id=>'membresia',:class=>"form-control"%>
  <br>
</div>
<div class="col col-md-4">
  <%= f.label :comunidad %>:<br />
  <%= f.text_field :organization,:class=>"form-control"%>
</div>
<div class="col col-md-4">
  <%= f.label :fecha %><br>
  <%= f.date_select :date ,:start_year  =>1990, :end_year=>Time.now.year%>
</div>
<%= f.hidden_field :resume_id, :value => current_user.resume.id%>
<br><br><br>

<div class="actions" >
  <%= f.submit "Guardar", :class =>"btn btn-primary pull-right" ,:id=>'boton_membresias'%>
</div>
<br>
<% end %>
