<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading"><div class="panel-title"style="padding-top:1px;padding-bottom:1px"><h4 style="margin-left:5px">Membresía</h4></div></div>
      <div class="panel-body">
      </div>
      <div class="panel-footer well">
        <%= form_for :membership, url: '/membership/update', html: { method: :put } do |f| %>
        <div class="row">
          <div class="field col col-md-4 col-xs-4">
            <%= f.label :título %><br />
            <%= f.text_field :name,:class=>"form-control"%>
            <br>
        </div>
         <div class="field col col-md-4 col-xs-4">
        <%= f.label :comunidad %><br />
        <%= f.text_field :organization,:class=>"form-control"%>
        </div>
        <div class="field col col-md-4 col-xs-4">
        <%= f.label :fecha %><br>
        <%= f.date_select :date ,:start_year  =>1990, :end_year=>Time.now.year%>
        </div>
          <br><br><br>
        <%=f.hidden_field :id, :value => @membership.id%>
          <div class="actions">
            <%= f.submit "Guardar", :class =>"btn btn-primary pull-right" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
