<%= form_for :publication, url: '/publication/new',remote: true do |f| %>
  <div class="field col col-md-4 col-xs-4" style="top:10px">
    <%= f.label :tipo_de_publicación %>:
    <%= f.select( :publicationType, @publicationTypes.map {|a| [a]}) -%>
  </div>
  <div class="field col col-md-4 col-xs-4">
    <%= f.label :Nombre %><br />
    <%= f.text_field :name,:id=>'nombre_publicacion',:class=>"form-control"%>
  </div>
  <div class="field col col-md-4 col-xs-4">
    <%= f.label :lugar %><br />
    <%= f.text_field :location,:class=>"form-control"%>
    <br><br>
  </div>
  <div class="field col col-md-4 col-xs-4" style="top:-40px">
    <%= f.label :fecha %>:
    <%= f.date_select :date ,:start_year  =>1990, :end_year=>Time.now.year%>
  </div>
  <%= f.hidden_field :resume_id, :value => current_user.resume.id%>
  <div class="actions">
    <%= f.submit "Guardar", :class =>"btn btn-primary",:id=>'boton_publicaciones' %>
  </div>
<% end %>
