<%= form_for :publication, url: '/publication/new',remote: true do |f| %>
  <div class="row">
    <div class="field col col-md-6">
      <%= f.label :Nombre %><br />
      <%= f.text_field :name,:id=>'nombre_publicacion',:class=>"form-control"%>
    </div>
    <div class="field col col-md-6">
      <%= f.label :lugar %><br />
      <%= f.text_field :location,:class=>"form-control"%>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="field col col-md-6">
      <%= f.label :tipo_de_publicación %>:
      <%= f.select( :publicationType, @publicationTypes.map {|a| [a]},{},:class=>"selector") -%>
    </div>
    <br>
    <div class="field col col-md-6">
      <%= f.label :fecha %>:
      <%= f.date_select :date ,:start_year  =>1990, :end_year=>Time.now.year,:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre']%>
    </div>
  </div>

  <%= f.hidden_field :resume_id, :value => current_user.resume.id%>
  <div class="actions">
    <%= f.submit "Guardar", :class =>"btn btn-primary pull-right",:id=>'boton_publicaciones' %>
  </div>
  <br>
<% end %>
