<%= form_for :referential, url: '/referential/new',remote:true do |f| %>
<div class="row">
  <div class="col col-md-4">
    <%= f.label :institución %>:<br />
    <%= f.text_field :institution,:class=>"form-control"%>
  </div>
  <div class="col col-md-4">
    <%= f.label :nombre_de_la_persona_de_referencia %>:<br />
    <%= f.text_field :name,:id=>'referencia',:class=>"form-control"%>
  </div>
    <div class="col col-md-4">
    <%= f.label :número_de_referencia %>:<br />
    <%= f.number_field :number,:class=>"form-control"%>
    <br>
  </div>
  <br>
  <%= f.hidden_field :resume_id, :value => current_user.resume.id%>
  <div class="actions">
    <%= f.submit "Guardar", :class =>"btn btn-primary pull-right" ,:id=>'boton_referencias'%>
  </div>
</div>
<% end %>
