<%= form_for :referential, url: '/referential/new',remote:true do |f| %>
<div class="field col col-sm-4 col-md-4 col-xs-4">
  <%= f.label :nombre_de_la_persona_de_referencia %>:<br />
  <%= f.text_field :name,:id=>'referencia',:class=>"form-control"%>
</div>
  <div class="field col col-sm-4 col-md-4 col-xs-4">
  <%= f.label :institución %>:<br />
  <%= f.text_field :institution,:class=>"form-control"%>
</div>
  <div class="field col col-sm-4 col-md-4 col-xs-4">
  <%= f.label :número_de_referencia %>:<br />
  <%= f.number_field :number,:class=>"form-control"%>
</div>
<%= f.hidden_field :resume_id, :value => current_user.resume.id%>
<div class="actions">
  <%= f.submit "Guardar", :class =>"btn btn-primary" ,:id=>'boton_referencias'%>
</div>
<% end %>
