<style>
  .collapse {
    display:block !important;
  }
  ul#iconos{
    list-style:none;
  }
  #iconos li{
    display:inline;
  }
  .navbar-inverse{
    background-color:#45526e;
    background-image: -webkit-linear-gradient(top,#45526e 0,#45526e 100%)
    height:20%;
  }
  navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #45526e;
}
li a{
  color:white;
}
@media (min-width:785px)
{
  #menu{
  display:block;
}
  #iconos{
    display:none !important;
  }
  .navbar-inverse{
    height:20%;
  }
  #logo-cato{
    width:50px;
    height:60px;
    margin-top:10px;
    margin-bottom:10px;
  }
}

@media (min-width:300px) and (max-width:768px)
{
  .navbar-inverse{
    height:10%;
  }
  #menu{
    display:none !important;
  }
  #iconos{
    display:block !important;
    float: right !important;
    margin-right: -15px;
  }
  #iconos li{
    float: left;
    position: relative;
    display: block
  }
  #logo-cato{
    width:50px;
    height:60px;
    margin-top:0px;
  }
}
.collapse .navbar-collapse{
  display: block !important;
}
</style>
<div class="collapse navbar-collapse navbar-fixed-top navbar-inverse" style="vertical-align: middle;" >

  <img src="/logocato.gif" style="" id="logo-cato">
  <ul id="menu" class="nav navbar-nav navbar-right" style="margin-top:15px; " >
    <li class="scroll" id="home-li" ><a href="#home" style="color:white;"><span class="fa fa-home  fa-lg" style="margin-left:30%" ></span><br>Inicio</a></li>
    <li class="scroll" id="services-li"><a href="#services" style="color:white;"><span class="fa fa-handshake-o fa-lg" style="margin-left:35%" ></span><br>Servicios</a></li>
    <li class="scroll" id="about-us-li"><a href="#about-us" style="color:white;"><span class="fa fa-info-circle fa-lg" style="margin-left:40%" ></span><br>Sobre Nosotros</a></li>
    <li class="scroll" id="contact-us-li"><a href="#contact-us" style="color:white;"><span class="fa fa-phone  fa-lg" style="margin-left:45%" ></span><br>Contáctanos</a></li>
    <!-- <li class="scroll"><a href="" >Empresas Asociadas</a></li> -->
    <!-- <li class="scroll"><a href="">Detras</a></li> -->
    <!-- <li class="scroll"><a href="">Por que Bolsa de Trabajo?</a></li> -->
    <li class="scroll">
          <%if user_signed_in?%>
            <%= link_to '<span class="fa fa-user-circle  fa-lg" style="margin-left:30%" ></span><br>Perfil'.html_safe, users_profile_path,:style=>"color:white"%>
          <%else %>
            <%= link_to '<span class="fa fa-sign-in  fa-lg" style="margin-left:40%" ></span><br>Ingresar'.html_safe, users_profile_path,:style=>"color:white"%>
          <%end %>
      </li>
  </ul>
  <ul id="iconos" class="nav navbar-nav navbar-right"  >
    <li class="scroll" id="home-li" style="display:inline "><a href="#home" style="color:white;"><span class="fa fa-home  fa-lg" style="margin-left:30%" ></span></a></li>
    <li class="scroll" id="services-li" style="display:inline "><a href="#services" style="color:white;"><span class="fa fa-handshake-o fa-lg" style="margin-left:35%" ></span></a></li>
    <li class="" id="about-us-li"><a href="#about-us" style="color:white;"><span class="fa fa-info-circle fa-lg" style="margin-left:40%" ></span></a></li>
    <li class="" id="contact-us-li"><a href="#contact-us" style="color:white;"><span class="fa fa-phone  fa-lg" style="margin-left:45%" ></span></a></li>
    <!-- <li class="scroll"><a href="" >Empresas Asociadas</a></li> -->
    <!-- <li class="scroll"><a href="">Detras</a></li> -->
    <!-- <li class="scroll"><a href="">Por que Bolsa de Trabajo?</a></li> -->
    <li class="scroll">
          <%if user_signed_in?%>
            <%= link_to '<span class="fa fa-user-circle  fa-lg" style="margin-left:30%" ></span>'.html_safe, users_profile_path,:style=>"color:white"%>
          <%else %>
            <%= link_to '<span class="fa fa-sign-in  fa-lg" style="margin-left:40%" ></span>'.html_safe, users_profile_path,:style=>"color:white"%>
          <%end %>
      </li>
  </ul>
</div>


<br><br>
<section id="home">

    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#home-slider" data-slide-to="0" class="active"></li>
        <li data-target="#home-slider" data-slide-to="1"></li>
        <li data-target="#home-slider" data-slide-to="2"></li>
        <li data-target="#home-slider" data-slide-to="3"></li>
        <li data-target="#home-slider" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(dji_0014.jpg);width: 100%;height: auto;">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">Bienvenido a  <span>SiSe UCB</span></h1>
            <p class="animated fadeInRightBig carousel-letters">Una red donde podrás desarrollar tu vida profesional</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="/users/sign_up">Regístrate</a>
          </div>
        </div>
        <div class="item" style="background-image: url(frontis.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig"> <span>SiSe UCB</span></h1>
            <p class="animated fadeInRightBig carousel-letters">donde podrás publicar y recibir ofertas laborales</p>
            <%=link_to 'Ingresar',users_profile_path,:class=>'btn btn-start animated fadeInUpBig' %>
          </div>
        </div>
        <div class="item" style="background-image: url(dsc_8129.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">no hagas<span> filas</span></h1>
            <p class="animated fadeInRightBig carousel-letters">contáctate con las empresas y profesionales de manera más rápida</p>
            <%=link_to 'Ingresar',users_profile_path,:class=>'btn btn-start animated fadeInUpBig' %>
          </div>
        </div>
        <div class="item" style="background-image: url(red.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig"><span>contáctate</span></h1>
            <p class="animated fadeInRightBig carousel-letters">publica - infórmate - comparte</p>
            <%if !user_signed_in?%>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="/users/sign_up">Empezar</a>

            <%end%>
          </div>
        </div>
        <div class="item" style="background-image: url(IMG_1004.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig"> <span>únete</span></h1>
            <p class="animated fadeInRightBig carousel-letters">A la más grande red profesional de bolivia</p>
            <%if !user_signed_in?%>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="/users/sign_up">Unirme</a>
            <%end%>
          </div>
        </div>
      </div>
      <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
      <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>

      <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>

    </div><!--/#home-slider-->

</section>

    <section id="services">
      <div class="container">
        <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="row">
            <div class="text-center col-sm-8 col-sm-offset-2">
              <h2><b>SERVICIOS</b></h2>
              <p style="font-size:16px">Esta plataforma fue desarrollada por la Universidad Católica Boliviana "San Pablo" a fin de facilitar el contacto entre sus titulados y las empresas del medio. Tratando de satisfacer las necesidades de ambos. Las empresas requieren profesionales y las personas necesitan una plataforma que les permita una mayor vinculación con el medio, mediante un registro histórico de sus actividades profesionales y laborales online. </p>
            </div>
          </div>
        </div>
        <div class="text-center our-services">
          <div class="row">
            <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="service-icon"style="background-color:#1a5a8f;">
                <i class="fa fa-address-book-o"></i>
              </div>
              <div class="service-info">
                <h3>Comunicación Instantánea</h3>
                <p>Requerimientos de trabajo entregados al instante</p>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
              <div class="service-icon"style="background-color:#1a5a8f;">
                <i class="fa fa-bullhorn"></i>
              </div>
              <div class="service-info">
                <h3>Mayores Alcances</h3>
                <p>Publica tus experiencias, y ábrete al público </p>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
              <div class="service-icon" style="background-color:#1a5a8f;">
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
              </div>
              <div class="service-info">
                <h3>Ofertas Laborales</h3>
                <p>Oferta y demanda los servicios profesionales que necesitas</p>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="650ms">
              <div class="service-icon"style="background-color:#1a5a8f;">
                <i class="fa fa-envelope-open-o"></i>
              </div>
              <div class="service-info">
                <h3>Disponibilidad de Trabajo</h3>
                <p>Contáctate con las empresas que requieren personal con tu capacidad</p>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="750ms">
              <div class="service-icon"style="background-color:#1a5a8f;">
                <i class="fa fa-id-card"></i>
              </div>
              <div class="service-info">
                <h3>Currículum On line</h3>
                <p>Esta página te permitirá registrar toda la información, personal y laboral para tenerla siempre al alcance de tu mano, en cualquier parte del mundo.</p>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
              <div class="service-icon"style="background-color:#1a5a8f;">
                <i class="fa fa-users"></i>
              </div>
              <div class="service-info">
                <h3>Arma tu red</h3>
                <p>Busca personas afines a ti, y ábrete a infinitas posibilidades laborales</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!--/#services-->
    <style>
    #services{
      color:white;
      background-image:url(estadistica3.jpg);
      background-repeat:no-repeat;
      background-size:cover;
      background-position:center;
    }
    </style>
    <style media="screen">
      #about-us {
        background-image: url(Imagen8.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 60px 0;

      }
    </style>
    <section id="about-us" class="parallax">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            </div>
          <div class="col-sm-6 col-md-5">
            <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
              <h2><b>SOBRE NOSOTROS</b></h2>
              <p style="color:white;">Somos un equipo de trabajo de la Universidad Catolica Boliviana "San Pablo" interesados en extender el servicio y la vinculación con los titulados de nuestras carreras, esperamos lograr este objetívo, mediante la presente plataforma SiSe UCB.</p>
            </div>
          </div>
          <%@edu=Education.new%>
          <%@user=User.new%>
          <%@total=@edu.universitarios+@user.empresas+@edu.titulados%>
          <div class="col-sm-6 col-md-5">
            <div class="our-skills wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p class="lead service-text"style="color:white">Estudiantes universitarios </p>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="<%= @edu.universitarios*100/@total%>" style="background-color:#1a5a8f"><%= @edu.universitarios*100/@total%>%</div>
                </div>
              </div>
              <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
                <p class="lead service-text"style="color:white">Estudiantes egresados</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="<%= @edu.titulados*100/@total%>" style="background-color:#1a5a8f"><%= @edu.titulados*100/@total%>%</div>
                </div>
              </div>
              <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                <p class="lead service-text" style="color:white">Empresas asociadas</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="<%= @user.empresas*100/@total%>" style="background-color:#1a5a8f"><%= @user.empresas*100/@total%>%</div>
                </div>
              </div>
              <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <p class="lead service-text" style="color:white">Ofertas de trabajo</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="85" style="background-color:#1a5a8f">85%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!--/#about-us-->
    <style>
    #contact-us{
      background-image:url(contact-bg.jpg);
    }
    </style>
    <!-- <section id="map">
      <div >
        <h2>Donde encontrarnos</h2>
        <div id="map-us"></div>
        <br><br>
      </div>
      </section> -->
    <section id="contact">
      <div id="contact-us" class="x">
        <div class="col col-md-2">
          <div class="container-fluid">
            <h3 style="color:white">Enlaces importantes</h3>
            <ul>
              <h4><a href="https://www.ucbcba.edu.bo">Página Principal</a></h4>
              <h4><a href="https://siaa.ucbcba.edu.bo/siaa2/login.aspx">SIAA</a></h4>
            </ul>
          </div>
        </div>
        <div class="col col-md-3">
          <div class="container-fluid">
            <h3 style="color:white">Comunícate con nosotros</h3>
            <ul>
              <h4 style="color:#028fcc"><b>Dirección: </b>Calle M.M.Marques, Cochabamba</h4>
              <h4 style="color:#028fcc"><b>Teléfono: </b>4293100</h4>
              <h4 style="color:#028fcc"><b>Mail: </b>infoucatolica@ucbcba.edu.bo</h4>
            </ul>
          </div>
        </div>
        <div class="col col-md-3">
          <h3 style="color:white">Nuestra Misión</h3>
          <div class="container-fluid">
            <h4 style="color:#028fcc">Es la constante búsqueda de la verdad mediante la investigación, la conservación y la comunicación del saber para el bien de la sociedad.</h4>
          </div>
        </div>
        <div class="col col-md-4">
          <h3 style="color:white">Nuestra Visión</h3>
          <div class="container-fluid">
            <h4 style="color:#028fcc">La Universidad Católica Boliviana “San Pablo” se distinguirá por una clara identidad católica en su manera de ser y de actuar, inspirando así, la construcción de una cultura basada en el humanismo cristiano.</h4>
          </div>
        </div>
        <br><br><br><br><br><br>
      </div>
    </section><!--/#contact-->
    <footer id="footer" class="fusion-footer-copyright-area" style="background-color: #052845;border-color: #1a5a8f;border-top-width: 1px;padding-top: 18px;padding-bottom: 16px;">
    <div class="  ">
      <div class="">
        <div >
          <div class="container" style="color: #1a5a8f;font-size: 11px;top:15px;">
            Universidad Católica Boliviana "San Pablo" Unidad Académica Cochabamba  | Todos los derechos reservados 2019
          </div>

        </div>
        <br>
        <div>
          <ul class="nav navbar-nav navbar-right" style="margin-top:-35px;margin-right:10px">
          <li>
            <a style="color:#1a5a8f;" href="https://www.facebook.com/lacatocba" target="_blank" rel="noopener noreferrer" data-placement="top" data-title="Facebook" data-toggle="tooltip" >
              <span class="fa fa-facebook-official fa-2x"></span>
            </a>
          </li>
          <li>
            <a  style="color:#1a5a8f;" href="https://twitter.com/LaCatocba" target="_blank" rel="noopener noreferrer" data-placement="top" data-title="Twitter" data-toggle="tooltip" title="" >
              <span class="fa fa-twitter fa-2x"></span>
            </a>
          </li>
          <li>
            <a  style="color:#1a5a8f;" href="https://www.youtube.com/user/ucbcbalacato" target="_blank" rel="noopener noreferrer" data-placement="top" data-title="YouTube" data-toggle="tooltip" title="" data-original-title="YouTube">
              <span class="fa fa-youtube-play fa-2x"></span>
            </a>
          </li>
          <li>
            <a  style="color:#1a5a8f;" href="https://plus.google.com/u/0/+LaCato" target="_blank" rel="noopener noreferrer" data-placement="top" data-title="" data-toggle="tooltip" title="" data-original-title="Google+">
              <span class="fa fa-google-plus fa-2x"></span>
            </a>
          </li>
          <li>
            <a  style="color:#1a5a8f;" href="https://www.linkedin.com/company/lacatocochabamba/" target="_blank" rel="noopener noreferrer" data-placement="top" data-title="" data-toggle="tooltip" title="" data-original-title="LinkedIn">
              <span class="fa fa-linkedin fa-2x"></span>
            </a>
          </li>
          <li>
            <a  style="color:#1a5a8f;" href="mailto:infoucatolica@ucbcba.edu.bo" target="_self" rel="noopener noreferrer" data-placement="top" data-title="Email" data-toggle="tooltip" title="" data-original-title="Email">
              <span class="fa fa-envelope-o fa-2x"></span>
            </a>
          </li>
        </ul>
        </div>
      </div>
    </div>
    </footer>
