<style media="screen">
  .navbar-inverse{
    background-color:#1a5a8f;
  }
  navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #1a5a8f;
}
li a{
  color:white;
}
</style>
<div class="collapse navbar-collapse navbar-fixed-top navbar-inverse" style="height:20%;vertical-align: middle;">

  <img src="/logocato.gif" style="width:50px;height:60px;margin-top:10px;margin-bottom:10px;">
  <ul class="nav navbar-nav navbar-right" style="margin-top:15px; ">
    <li class="scroll" id="home-li" ><a href="#home" style="color:white;">Inicio</a></li>
    <li class="scroll" id="services-li"><a href="#services" style="color:white;">Servicios</a></li>
    <li class="scroll" id="about-us-li"><a href="#about-us" style="color:white;">Sobre Nosotros</a></li>
    <li class="scroll" id="contact-us-li"><a href="#contact-us" style="color:white;">Contactanos</a></li>
    <!-- <li class="scroll"><a href="" >Empresas Asociadas</a></li> -->
    <!-- <li class="scroll"><a href="">Detras</a></li> -->
    <!-- <li class="scroll"><a href="">Por que Bolsa de Trabajo?</a></li> -->
    <li class="scroll">
          <%if user_signed_in?%>
            <%= link_to 'Perfil', users_profile_path,:style=>"color:white"%>
          <%else %>
            <%= link_to 'Ingresar', users_profile_path,:style=>"color:white"%>
          <%end %>
        </a>
      </li>
  </ul>
</div>
<br><br>
<section id="home">

    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#home-slider" data-slide-to="0" class="active"></li>
        <li data-target="#home-slider" data-slide-to="1"></li>
        <li data-target="#home-slider" data-slide-to="2"></li>
        <li data-target="#home-slider" data-slide-to="3"></li>
        <li data-target="#home-slider" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(dji_0014.jpg);width: 100%;height: auto;">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">Bienvenido a  <span>Bolsa de Trabajo</span></h1>
            <p class="animated fadeInRightBig carousel-letters">Una red Social donde podras desarrollar tu vida profesional</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="/users/sign_up">Registrate</a>
          </div>
        </div>
        <div class="item" style="background-image: url(frontis.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig"> <span>bolsa de Trabajo</span></h1>
            <p class="animated fadeInRightBig carousel-letters">donde podras publicar y recibir ofertas laborales</p>
            <%=link_to 'Ingresar',users_profile_path,:class=>'btn btn-start animated fadeInUpBig' %>
          </div>
        </div>
        <div class="item" style="background-image: url(dsc_8129.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">no hagas<span> filas</span></h1>
            <p class="animated fadeInRightBig carousel-letters">contactate con las empresas y profesionales de manera mas rapida</p>
            <%=link_to 'Ingresar',users_profile_path,:class=>'btn btn-start animated fadeInUpBig' %>
          </div>
        </div>
        <div class="item" style="background-image: url(red.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig"><span>contactate</span></h1>
            <p class="animated fadeInRightBig carousel-letters">publica - informate - comparte</p>
            <%if !user_signed_in?%>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="/users/sign_up">Empezar</a>

            <%end%>
          </div>
        </div>
        <div class="item" style="background-image: url(IMG_1004.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig"> <span>Unete</span></h1>
            <p class="animated fadeInRightBig carousel-letters">A la mas grande red profesional de bolivia</p>
            <%if !user_signed_in?%>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="/users/sign_up">Unirme</a>
            <%end%>
          </div>
        </div>
      </div>
      <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
      <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>

      <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>

    </div><!--/#home-slider-->

</section>

    <section id="services">
      <div class="container">
        <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="row">
            <div class="text-center col-sm-8 col-sm-offset-2">
              <h2><b>SERVICIOS</b></h2>
              <p style="font-size:16px">Esta plataforma fue desarrollada por la Universidad Católica Boliviana "San Pablo" a fin de facilitar el contacto entre sus titulados y las empresas del medio. Tratando de satisfacer las necesidades de ambos. Las empresas requieren profesionales y las personas necesitan una plataforma que les permita una mayor vinculación con el medio, mediante un registro historico de sus actividades profesionales y laborales online. </p>
            </div>
          </div>
        </div>
        <div class="text-center our-services">
          <div class="row">
            <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="service-icon"style="background-color:#1a5a8f;">
                <i class="fa fa-address-book-o"></i>
              </div>
              <div class="service-info">
                <h3>Comunicación Instantánea</h3>
                <p>Requerimientos de trabajo entregados al instante</p>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
              <div class="service-icon"style="background-color:#1a5a8f;">
                <i class="fa fa-bullhorn"></i>
              </div>
              <div class="service-info">
                <h3>Mayores Alcances</h3>
                <p>Publica tus experiencias, y ábrete al publico </p>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
              <div class="service-icon" style="background-color:#1a5a8f;">
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
              </div>
              <div class="service-info">
                <h3>Ofertas Laborales</h3>
                <p>Oferta y demanda los servicios profesionales que necesitas</p>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="650ms">
              <div class="service-icon"style="background-color:#1a5a8f;">
                <i class="fa fa-envelope-open-o"></i>
              </div>
              <div class="service-info">
                <h3>Disponibilidad de Trabajo</h3>
                <p>Contáctate con las empresas que requieren personal con tu capacidad</p>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="750ms">
              <div class="service-icon"style="background-color:#1a5a8f;">
                <i class="fa fa-id-card"></i>
              </div>
              <div class="service-info">
                <h3>Curriculum On line</h3>
                <p>Esta página te permitirá registrar toda la información, personal y laboral para tenerla siempre al alcance de tu mano, en cualquier parte del mundo.</p>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
              <div class="service-icon"style="background-color:#1a5a8f;">
                <i class="fa fa-users"></i>
              </div>
              <div class="service-info">
                <h3>Arma tu red</h3>
                <p>Busca personas afines a ti, y ábrete a infinitas posibilidades laborales</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!--/#services-->
    <style>
    #services{
      color:white;
      background-image:url(estadistica3.jpg);
      background-repeat:no-repeat;
      background-size:cover;
      background-position:center;
    }
    </style>
    <style media="screen">
      #about-us {
        background-image: url(Imagen8.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 60px 0;

      }
    </style>
    <section id="about-us" class="parallax">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            </div>
          <div class="col-sm-6 col-md-5">
            <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
              <h2><b>SOBRE NOSOTROS</b></h2>
              <p style="color:white;">Somos un equipo de trabajo de la Universidad Catolica Boliviana "San Pablo" interesados en extender el servicio y la vinculación con los titulados de nuestras carreras, esperamos lograr este objetívo, mediante la presente plataforma Bolsa de Trabajo.</p>
            </div>
          </div>
          <%@edu=Education.new%>
          <%@user=User.new%>
          <%@total=@edu.universitarios+@user.empresas+@edu.titulados%>
          <div class="col-sm-6 col-md-5">
            <div class="our-skills wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p class="lead service-text"style="color:white">Estudiantes universitarios </p>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="<%= @edu.universitarios*100/@total%>" style="background-color:#1a5a8f"><%= @edu.universitarios*100/@total%>%</div>
                </div>
              </div>
              <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
                <p class="lead service-text"style="color:white">Estudiantes egresados</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="<%= @edu.titulados*100/@total%>" style="background-color:#1a5a8f"><%= @edu.titulados*100/@total%>%</div>
                </div>
              </div>
              <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                <p class="lead service-text" style="color:white">Empresas asociadas</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="<%= @user.empresas*100/@total%>" style="background-color:#1a5a8f"><%= @user.empresas*100/@total%>%</div>
                </div>
              </div>
              <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <p class="lead service-text" style="color:white">Ofertas de trabajo</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="85" style="background-color:#1a5a8f">85%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!--/#about-us-->
    <style>
    #contact-us{
      background-image:url(contact-bg.jpg);
    }
    </style>
    <!-- <section id="map">
      <div >
        <h2>Donde encontrarnos</h2>
        <div id="map-us"></div>
        <br><br>
      </div>
      </section> -->
    <section id="contact">
      <div id="contact-us" class="parallax">
        <div class="container">
          <div class="row">
            <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp service-text" data-wow-duration="1000ms" data-wow-delay="300ms">
              <h2>Contactanos</h2>
              <p class="service-text">Si tienes alguna sugerencia, duda o demas puedes contactarte con nuestro personal tecnico</p>
            </div>
          </div>
          <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
              <div class="col-sm-3">

              </div>
              <div class="col-sm-6">
                <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <p class="service-text">Nuestro personal tecnico se encuentra en constante apoyo a los usuarios del sistema, no dudes en llamarlo si tienes algun problema.</p>
                  <ul class="address">
                    <li><i class="fa fa-map-marker"></i> <span class="service-text"> Nombre:</span><span style="color:#028fcc"> Brandon Quiroga Gutierrez</span> </li>
                    <li><i class="fa fa-phone"></i> <span class="service-text"> Celular:</span><span style="color:#028fcc"> 77936031</span>  </li>
                    <li> <span class="service-text"> Email:</span><span style="color:#028fcc"> b.quirogag95@gmail.com</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!--/#contact-->
