<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><div class="panel-title"><h3>Mis Grupos </h3></div></div>
    <div class="panel-body">
      <% if @groups.size >0%>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <th class="info">Nombre del grupo</th>
            <th class="info">Descripción</th>
            <th class="info">Miembros</th>
            <th class="info">Acciones</th>
          </thead>
          <tbody>
            <% @groups.each do |group| %>
            <tr>
              <td><%=group.name%>&emsp;</td>
              <td><%=group.description%></td>
              <td><%=group.members%></td>
              <td>
                <a href="/grupos/<%=group.id%>/miembros"><button class="btn btn-default btn-sm pull-right">Ver Miembros</button></a>
                <button class="btn btn-warning btn-sm pull-right">
                  <%if current_user.is_my_group(group.id)%>
                    <%=link_to "Borrar", {controller: "groups",action:"abandonar",id:group.id}%>
                  <%else%>
                    <%if current_user.is_in_this_group(group)%>
                      <%=link_to "Salir", {controller: "groups",action:"abandonar",id:group.id}%>
                    <%else%>
                      <%=link_to "Unirme",{ controller: "groups",action:"unirme",id:group.id}%>
                    <%end%>
                  <%end%>
                </button>
              </td>
            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
      <%end%>
    </div>
    <div class="panel panel-footer well">
      <%= form_for :group, url: '/nuevo/grupo' do |f| %>
      <div class="row">
        <div  class="col col-md-6">
          <%= f.label :nombre_del_grupo %>:
          <%= f.text_field :name,:id=>'nombre',:class=>'form-control'%>
        </div>
        <div class="col-md-6">
          <%= f.label :descripcion_del_grupo %>:
          <%= f.text_field :description,:class=>'form-control'%>
          <%= f.hidden_field :user_id, :value => current_user.id%>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="actions col-md-12">
          <%= f.submit "Guardar" , :class =>"btn btn-primary pull-right",:id=>'boton_grupos'%>
        </div>
      <% end %>
   </div>
</div>
</div>
 <script>
$('#boton_grupos').attr('disabled',true);
 $('#nombre').keyup(function(){
     if($(this).val().length !=0)
       $('#boton_grupos').attr('disabled', false);
     else
         $('#boton_grupos').attr('disabled',true);
 })
 </script>
