<%if current_user.is_administrator or current_user.is_secretary?%>
<div class="panel panel-default">
  <div class="panel-heading"><div class="panel-title"><h3>Usuarios registrados: <%=@users.size%> </h3></div></div>
  <div class="panel-body">
    <div class="input-group">
      <span class="input-group-addon">Buscar</span>
      <input id="filtrar" type="text" class="form-control" placeholder="Ingresa el nombre de la persona que quiere buscar...">
    </div>
  <% if @users.size >0%>
    <ul class="list-group" id="usuarios">
      <% @users.each do |usuario| %>
      <li class="list-group-item">
        <div>
          <h4>  <b><%=usuario.name%>&nbsp;<%=usuario.last_name %></b>
            <%if current_user.not_me(usuario.id) and !usuario.is_administrator%>
              <button class="btn btn-default btn-sm pull-right">
                <%=link_to "Ver Curriculum", {controller: "resumes",action:"external_show",id:usuario.id}%>
              </button>
            <%if current_user.is_administrator%>
            <button class="btn btn-warning btn-sm pull-right">

              <%if ( !usuario.access_locked?)%>
                <%=link_to "Bloquar usuario", {controller: "users",action:"bloquear",id:usuario.id}%>
              <%else%>
                  <%=link_to "Desbloquear", {controller: "users",action:"desbloquear",id:usuario.id}%>
              <%end%>

            <%end%>
            </button>
            <%end%>
          </h4>&nbsp;
          <%=usuario.email%>&nbsp;
          <%if usuario.is_company?%>
            Empresa
          <%else%>
            <%if usuario.is_administrator%>
              Administrador
              <%else%>
              Usuario
              <%end%>
          <%end%>
        </div>
      </li>
      <%end%>
   <%end%>
  </ul>
  </div>
</div>
<script>
$(document).ready(function () {
            (function ($) {
                $('#filtrar').keyup(function () {
                    var rex = new RegExp($(this).val(), 'i');
                    $('#usuarios li').hide();
                    $('#usuarios li').filter(function () {
                        return rex.test($(this).text());
                    }).show();
                })
            }(jQuery));
        });
</script>
<%else%>
  <script>
    alert('No tienes permiso para acceder a esta informacion');
    // window.location="/users/profile");
  </script>
<%end%>
