<style>
 .grado-select  {
margin: 10px;
margin-bottom: 0px;
width: 400px;
padding: 5px 5px 5px 5px;
font-size: 16px;
border: 1px solid #ccc;
height: 34px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
  .center-select{
    padding-left:25%;
  left:30%;
  }
  .date-select  {
 margin: 10px;
 margin-bottom: 0px;
 width: 50px;
 padding: 5px 5px 5px 5px;
 font-size: 16px;
 border: 1px solid #ccc;
 height: 20px;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 }
 .report-button {
   position:relative;
   top:-5px;
 }
</style>


  <div class="container" style="margin-top:50px">
  <h2>Lista de reportes</h2>
    <div class="panel panel-primary">
      <div class="panel-heading"><div class="panel-title" style="padding-top:1px;padding-bottom:1px"><h3 style="margin-top:10px">Criterios de busqueda</h3></div></div>
        <div class="panel-body">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title" style="padding-top:1px;padding-bottom:1px">
                <span class="btn btn-default pull-right" id="estaticos_der" onclick="toggleEstaticos()" style="display:none;">Mostrar menos</span>
                <span class="btn btn-default pull-right" id="estaticos_ab" onclick="toggleEstaticos()"  >Mostrar más</span>
                <h4>Reportes estaticos  </h4>
              </div>
            </div>
            <div class="panel panel-body" id="estaticos" style="display:none;">
              <div class="panel-info">
                <div class="panel panel-heading">
                  <div class="panel-title" tabindex="-1" href="#" style="padding-top:1px;padding-bottom:1px">
                      <span class="btn btn-default pull-right" id="estaticos_registrados_der" onclick="toggleRegistrados()" style="display:none;">Mostrar menos</span>
                      <span class="btn btn-default pull-right" id="estaticos_registrados_ab" onclick="toggleRegistrados()">Mostrar más</span>
                      <h5>Estudiantes registrados </h5>
                  </div>
                </div>
                <ul class="list-group" style="display:none;" id="registrados">
                  <li class="list-group-item">Por fecha
                    <a href="/reportes/UsuariosPorFecha"><button class="btn btn-info btn-sm float-xs-right btn-negro pull-right report-button">Ver</button></a>
                  </li>
                  <li class="list-group-item">Por Género
                    <a href="/reportes/UsuariosPorGenero"><button class="btn btn-info btn-sm float-xs-right btn-negro pull-right report-button">Ver</button></a>
                  </li>
                  <li class="list-group-item">Por Género y Universidad
                    <a href="/reportes/UsuariosPorGeneroUniversidad"><button class="btn btn-info btn-sm float-xs-right btn-negro pull-right report-button">Ver</button></a>
                  </li>
                </ul>
              </div>
                  <div class="panel-info">
                    <div class="panel panel-heading">
                      <div class="panel-title" tabindex="-1" href="#" style="padding-top:1px;padding-bottom:1px">
                        <span class="btn btn-default pull-right" id="estaticos_titulados_der" onclick="toggleTitulados()" style="display:none;">Mostrar menos</span>
                        <span class="btn btn-default pull-right" id="estaticos_titulados_ab" onclick="toggleTitulados()" >Mostrar más</span>
                        <h5>Estudiantes titulados </h5>
                      </div>
                    </div>
                    <ul class="list-group" style="display:none;" id="titulados">
                      <li class="list-group-item">Por Universidad
                        <a href="/reportes/UsuariosPorUniversidad"><button class="btn btn-info btn-sm float-xs-right btn-negro pull-right report-button">Ver</button></a>
                      </li>
                      <li class="list-group-item">Por Carrera
                        <a href="/reportes/UsuariosPorCarrera"><button class="btn btn-info btn-sm float-xs-right btn-negro pull-right report-button">Ver</button></a>
                      </li>
                      <!-- <li class="list-group-item">Con Maestria
                      <a href="/reportes/ConPostgrado"><button class="btn btn-info btn-sm float-xs-right btn-negro">Ver</button></a>
                    </li> -->
                  </ul>
                </div>
                <div class="panel-info">
                  <ul class="list-group">
                <li class="list-group-item">Empresas clasificadas codigo CIUU
                  <a href="/reportes/EmpresasPorcodigoCIUU"><button class="btn btn-info btn-sm float-xs-right btn-negro pull-right report-button">Ver</button></a>
                </li>
                <li class="list-group-item">Trabajos por rango salarial
                  <a href="/reportes/TrabajosPorRangoSalarial"><button class="btn btn-info btn-sm float-xs-right btn-negro pull-right report-button">Ver</button></a>
                </li>
                <li class="list-group-item">Tiempo transcurridos para conseguir un trabajo
                  <a href="/reportes/TiempoParaTrabajar"><button class="btn btn-info btn-sm float-xs-right btn-negro pull-right report-button">Ver</button></a>
                </li>
                <li class="list-group-item">Tiempo de permanencia en un trabajo
                  <a href="/reportes/DuracionDeTrabajo"><button class="btn btn-info btn-sm float-xs-right btn-negro pull-right report-button">Ver</button></a>
                </li>
                <li class="list-group-item">Tiempo y relacion de ingresos y titulados
                  <a href="/reportes_estaticos"><button class="btn btn-info btn-sm float-xs-right btn-negro pull-right report-button">Ver</button></a>
                </li>
                <li class="list-group-item">Impacto laboral de las distintas carreras
                  <a href="/reportes_actividades"><button class="btn btn-info btn-sm float-xs-right btn-negro pull-right report-button">Ver</button></a>
                </li>
              </ul>
            </div>
            </div>
            <div>
            </div>
          </div>

        <!-- Reportes dinamicos -->
          <div class="panel-info" style="left:5px;">
            <div class="panel-heading">
              <div class="panel-title" style="padding-top:1px;padding-bottom:1px">
                <h4>Filtros dinamicos</h4>
              </div>
            </div>
            <div class="panel-body">
                <%= form_for :report, url: '/reporte/nuevo' do |f|%>
                <div class="row">
                  <!-- reportes por grado academico -->
                  <div class="col col-md-5 col-sm-4">
                    <div class="field">
                      <input type="checkbox" id=check_grados name="check_grados" class="field">
                      <%=f.label :reportes_por_grados %>
                    </div>
                    <div id="grados" name="grados" style="display:none;" >
                      <select id="grado" onchange="cambioCarreras()" name="report[grado]" class="grado-select">
                      <option>Licenciatura</option>
                      <option>Maestria</option>
                      <option>Doctorado</option>
                      <option>Diplomado</option>
                      <option>Especialidad</option>
                      <option>Post Doctorado</option>
                      <option selected>Todos</option>
                    </select>
                  </div>
                  <br>
                  <%@e=Education.new%>
                  <div id="grado_licenciatura" style="display:none;">
                    <%= f.select(:grado_licenciatura,@e.licenciaturas,{},:class=>"grado-select",:include_blank => true)%>
                  </div>
                  <div id="grado_especialidad" style="display:none;">
                    <%= f.select(:grado_postgrado,@e.especialidades,{},:class=>"selectpicker grado-select",:include_blank => true)%>
                  </div>
                  <div id="grado_maestria" style="display:none;">
                    <%= f.select(:grado_maestria,@e.maestrias,{},:class=>"selectpicker grado-select",:include_blank => true)%>
                  </div>
                  <div id="grado_doctorado" style="display:none;">
                    <%= f.select(:grado_doctorado,@e.doctorados,{},:class=>"selectpicker grado-select",:include_blank => true)%>
                  </div>
                  <div id="grado_diplomado" style="display:none;">
                    <%= f.select(:grado_doctorado,@e.diplomados,{},:class=>"selectpicker grado-select",:include_blank => true)%>
                  </div>
                  <div id="grado_postdoctorado" style="display:none;">
                    <%= f.select(:grado_doctorado,@e.postdoctorados,{},:class=>"selectpicker grado-select",:include_blank => true)%>
                  </div>
                  <br>
                </div>


                <div class="col col-md-4   col-sm-3">
                  <div>
                    <input type="checkbox" id="check_fecha">
                    <%=f.label :por_fecha %>
                    <div id="fecha_inicio" style="display:none; margin-left:10px;">
                      Fecha inicio:
                      <%= f.date_select :fecha_inicio,:start_year  =>1990, :end_year=>Time.now.year,:include_blank => true%>
                    </div>
                    <div id="fecha_fin" style="display:none; margin-left:10px;">
                      Fecha fin:
                      &nbsp;&nbsp;&nbsp;&nbsp;<%= f.date_select :fecha_fin,:start_year  =>1990,:end_year=>Time.now.year,:include_blank => true%>
                    </div>
                  </div>
                </div>
                <div  class="col col-md-3 col-sm-3">
                  <div>
                    <input type="checkbox" id="check_genero">
                    <%=f.label :por_genero %>
                    <div id="hombres" style="display:none;margin-left:10px;">
                      <%= f.radio_button :genero,"Masculino"%>
                      Hombres
                    </div>
                    <div id="mujeres" style="display:none;margin-left:10px;">
                      <%= f.radio_button :genero,"Femenino"%>
                      Mujeres
                    </div>
                    <div id="ambos" style="display:none;margin-left:10px;">
                      <%= f.radio_button :genero,"Ambos",:checked => true %>
                      Ambos
                    </div>
                  </div>
                </div>
                <div  class="col">
                </div>
                <br>
                <div class="actions col col-md-12">
                  <%= f.submit "Generar" , :class =>"btn btn-info pull-right"%>
                </div>
                <div>
                </div>
                <br><br><br><br><br>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>



  <script>

  function toggleEstaticos() {
    var x = document.getElementById("estaticos");
    var y = document.getElementById("estaticos_der");
    var z = document.getElementById("estaticos_ab");
    if (x.style.display === "none") {
        x.style.display = "block";
        z.style.display = "none";
        y.style.display = "block";
    } else {
        x.style.display = "none";
        z.style.display = "block";
        y.style.display = "none";

    }
  };

    function toggleRegistrados() {
      var x = document.getElementById("registrados");
      var y = document.getElementById("estaticos_registrados_der");
      var z = document.getElementById("estaticos_registrados_ab");

      if (x.style.display === "none") {
        x.style.display = "block";
        z.style.display = "none";
        y.style.display = "block";
      } else {
        x.style.display = "none";
        z.style.display = "block";
        y.style.display = "none";
      }
    };

      function toggleTitulados() {
        var x = document.getElementById("titulados");
        var y = document.getElementById("estaticos_titulados_der");
        var z = document.getElementById("estaticos_titulados_ab");
        if (x.style.display === "none") {
          x.style.display = "block";
          z.style.display = "none";
          y.style.display = "block";
        } else {
          x.style.display = "none";
          z.style.display = "block";
          y.style.display = "none";
        }
      };
  function openNav() {
      document.getElementById("mySidenav").style.display="block";
};

/* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
function closeNav() {
    document.getElementById("mySidenav").style.display = "none";
}
  window.onload = function() {
   document.getElementById("mySidenav").style.display="none";
   var checkbox = document.getElementById('check_grados');
   if (checkbox.checked) {
   document.getElementById("grados").style.display = "block";
   } else {
   document.getElementById("grados").style.display = "none";
  }
  };
  function cambioCarreras(){
    var x= document.getElementById("grado").value;
    if (x=="Licenciatura")
    {
      document.getElementById("grado_licenciatura").style.display="block";
      document.getElementById("grado_maestria").style.display="none";
      document.getElementById("grado_postdoctorado").style.display="none";
      document.getElementById("grado_doctorado").style.display="none";
      document.getElementById("grado_diplomado").style.display="none";
      document.getElementById("grado_especialidad").style.display="none";

    }
    if (x=="Maestria")
    {
      document.getElementById("grado_licenciatura").style.display="none";
      document.getElementById("grado_maestria").style.display="block";
      document.getElementById("grado_postdoctorado").style.display="none";
      document.getElementById("grado_doctorado").style.display="none";
      document.getElementById("grado_diplomado").style.display="none";
      document.getElementById("grado_especialidad").style.display="none";

    }
    if (x=="Doctorado")
    {
      document.getElementById("grado_licenciatura").style.display="none";
      document.getElementById("grado_maestria").style.display="none";
      document.getElementById("grado_doctorado").style.display="block";
      document.getElementById("grado_postdoctorado").style.display="none";
      document.getElementById("grado_especialidad").style.display="none";
      document.getElementById("grado_diplomado").style.display="none";
    }
    if (x=="Postdoctorado")
    {
      document.getElementById("grado_licenciatura").style.display="none";
      document.getElementById("grado_maestria").style.display="none";
      document.getElementById("grado_postdoctorado").style.display="block";
      document.getElementById("grado_doctorado").style.display="none";
      document.getElementById("grado_especialidad").style.display="none";
      document.getElementById("grado_diplomado").style.display="none";
    }
    if (x=="Diplomado")
    {
      document.getElementById("grado_licenciatura").style.display="none";
      document.getElementById("grado_maestria").style.display="none";
      document.getElementById("grado_postdoctorado").style.display="none";
      document.getElementById("grado_doctorado").style.display="none";
      document.getElementById("grado_especialidad").style.display="none";
      document.getElementById("grado_diplomado").style.display="block";
    }
    if (x=="Doctorado")
    {
      document.getElementById("grado_licenciatura").style.display="none";
      document.getElementById("grado_maestria").style.display="none";
      document.getElementById("grado_postdoctorado").style.display="none";
      document.getElementById("grado_doctorado").style.display="block";
      document.getElementById("grado_diplomado").style.display="none";
      document.getElementById("grado_especialidad").style.display="none";
    }
    if (x=="Especialidad")
    {
      document.getElementById("grado_licenciatura").style.display="none";
      document.getElementById("grado_maestria").style.display="none";
      document.getElementById("grado_postdoctorado").style.display="none";
      document.getElementById("grado_doctorado").style.display="none";
      document.getElementById("grado_diplomado").style.display="none";
      document.getElementById("grado_especialidad").style.display="block";

    }
    if (x=="Todos")
    {
      document.getElementById("grado_licenciatura").style.display="none";
      document.getElementById("grado_maestria").style.display="none";
      document.getElementById("grado_postgrado").style.display="none";
      document.getElementById("grado_doctorado").style.display="none";
      document.getElementById("grado_especialidad").style.display="none";
      document.getElementById("grado_diplomado").style.display="none";
    }
  }
  $('#check_grados').click(function() {
    $('#grados')[this.checked ? "show" : "hide"]();
  });
    $('#check_fecha').click(function() {
      $('#fecha_inicio')[this.checked ? "show" : "hide"]();
      $('#fecha_fin')[this.checked ? "show" : "hide"]();
    });
    $('#check_genero').click(function() {
      $('#hombres')[this.checked ? "show" : "hide"]();
      $('#mujeres')[this.checked ? "show" : "hide"]();
      $('#ambos')[this.checked ? "show" : "hide"]();
    });


  </script>
