<style>
</style>


  <div class="container">
  <h2>Lista de reportes</h2>
    <div class="panel panel-default">
      <div class="panel-heading"><div class="panel-title"><h3>Criterios de busqueda</h3></div></div>
        <div class="panel-body">
          <h3>Reportes estaticos</h3>
          <span onclick="openNav()"><button class="btn btn-info btn-lg ">Ver reportes</button></span>
          <div class="">
          <div id="mySidenav" class="sidenav" style="display:none;">
              <a onclick="closeNav()"><span class="glyphicon glyphicon-remove float-xs-left"></span></a>
            <ul>
              <li class="list-group-item">
                <p class="test" tabindex="-1" href="#">Estudiantes registrados <span class="glyphicon glyphicon-chevron-right "></span></p>
                <ul>
                    <li class="list-group-item">Por fecha
                      <a href="/reportes/UsuariosPorFecha"><button class="btn btn-primary btn-sm float-xs-right btn-negro">Ver Reporte Estadístico</button></a>
                    </li>
                    <li class="list-group-item">Por Género
                      <a href="/reportes/UsuariosPorGenero"><button class="btn btn-primary btn-sm float-xs-right btn-negro">Ver Reporte Estadístico</button></a>
                    </li>
                    <li class="list-group-item">Por Género y Universidad
                      <a href="/reportes/UsuariosPorGeneroUniversidad"><button class="btn btn-primary btn-sm float-xs-right btn-negro">Ver Reporte Estadístico</button></a>
                    </li>
                </ul>
              </li>
              <li class="list-group-item test">
                <p class="test" tabindex="-1" href="#">Estudiantes titulados <span class="glyphicon glyphicon-chevron-right btn-negro"></span></p>
                <ul class="submenu">
                  <li class="list-group-item">Por Universidad
                    <a href="/reportes/UsuariosPorUniversidad"><button class="btn btn-primary btn-sm float-xs-right btn-negro">Ver Reporte Estadístico</button></a>
                  </li>
                  <li class="list-group-item">Por Carrera
                    <a href="/reportes/UsuariosPorCarrera"><button class="btn btn-primary btn-sm float-xs-right btn-negro">Ver Reporte Estadístico</button></a>
                  </li>
                  <!-- <li class="list-group-item">Con Maestria
                    <a href="/reportes/ConPostgrado"><button class="btn btn-primary btn-sm float-xs-right btn-negro">Ver Reporte Estadístico</button></a>
                  </li> -->
                </ul>
              </li>
              <li class="list-group-item">Empresas clasificadas codigo CIUU
                <a href="/reportes/EmpresasPorcodigoCIUU"><button class="btn btn-primary btn-sm float-xs-right btn-negro">Ver Reporte Estadístico</button></a>
              </li>
              <li class="list-group-item">Trabajos por rango salarial
                <a href="/reportes/TrabajosPorRangoSalarial"><button class="btn btn-primary btn-sm float-xs-right btn-negro">Ver Reporte Estadístico</button></a>
              </li>
                <li class="list-group-item">Tiempo transcurridos para conseguir un trabajo <br>
                <a href="/reportes/TiempoParaTrabajar"><button class="btn btn-primary btn-sm float-xs-right btn-negro">Ver Reporte Estadístico</button></a>
              </li>
              <li class="list-group-item">Tiempo de permanencia en un trabajo<br>
                <a href="/reportes/DuracionDeTrabajo"><button class="btn btn-primary btn-sm float-xs-right btn-negro">Ver Reporte Estadístico</button></a>
              </li>
            </ul>
          </div>
          <div>
          </div>

        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-8" style="top:-100px;">
          <h3>Reportes dinamicos</h3>
          <%= form_for :report, url: '/reporte/nuevo' do |f|%>
            <div class="container-fluid">
              <!-- reportes por grado academico -->
              <div class="col-sm-3 col-md-6 col-lg-6">
                <div class="field">
                  <%=f.label :reportes_por_grados %>
                  <input type="checkbox" id=check_grados name="check_grados" class="field">
                </div>
                <div id="grados" name="grados" style="display:none;" class="field">
                  <select id="grado" onchange="cambioCarreras()" name="report[grado]">
                    <option>Licenciatura</option>
                    <option>Maestria</option>
                    <option>Doctorado</option>
                    <option>Diplomado</option>
                    <option>Especialidad</option>
                    <option>Post Doctorado</option>
                    <option selected>Todos</option>
                  </select>
                </div>
                <br>
                <%@e=Education.new%>
                <div id="grado_licenciatura" style="display:none;">
                  <%= f.select(:grado_licenciatura,@e.licenciaturas,:class=>"selectpicker",:include_blank => true)%>
                </div>
                <div id="grado_especialidad" style="display:none;">
                  <%= f.select(:grado_postgrado,@e.especialidades,:class=>"selectpicker",:include_blank => true)%>
                </div>
                <div id="grado_maestria" style="display:none;">
                  <%= f.select(:grado_maestria,@e.maestrias,:class=>"selectpicker",:include_blank => true)%>
                </div>
                <div id="grado_doctorado" style="display:none;">
                  <%= f.select(:grado_doctorado,@e.doctorados,:class=>"selectpicker",:include_blank => true)%>
                </div>
                <div id="grado_diplomado" style="display:none;">
                  <%= f.select(:grado_doctorado,@e.diplomados,:class=>"selectpicker",:include_blank => true)%>
                </div>
                <div id="grado_postdoctorado" style="display:none;">
                  <%= f.select(:grado_doctorado,@e.postdoctorados,:class=>"selectpicker",:include_blank => true)%>
                </div>

              </div>


              <div class="col-sm-3 col-md-6 col-lg-3">
                <div>
                  <%=f.label :por_fecha %>
                  <input type="checkbox" id="check_fecha">
                  <div id="fecha_inicio" style="display:none;">
                    <%= f.label :fecha_inicio%>
                    <%= f.date_select :fecha_inicio,:start_year  =>1990, :end_year=>Time.now.year,:include_blank => true%>
                  </div>
                  <div id="fecha_fin" style="display:none;">
                    <%= f.label :fecha_fin%>
                    <%= f.date_select :fecha_fin,:start_year  =>1990, :end_year=>Time.now.year,:include_blank => true%>
                  </div>
                </div>
              </div>
              <div  class="col-sm-3 col-md-6 col-lg-3">
                <div>
                  <%=f.label :por_genero %>
                  <input type="checkbox" id="check_genero">
                  <div id="hombres" style="display:none;">
                    <%= f.label :hombres%>
                    <%= f.radio_button :genero,"Masculino"%>
                  </div>
                  <div id="mujeres" style="display:none;">
                    <%= f.label :mujeres%>
                    <%= f.radio_button :genero,"Femenino"%>
                  </div>
                  <div id="ambos" style="display:none;">
                    <%= f.label :ambos%>
                    <%= f.radio_button :genero,"Ambos",:checked => true %>
                  </div>
                </div>
              </div>
              <div  class="col-sm-3 col-md-6 col-lg-4">
              </div>
              <br>
              <div class="actions col-xs-12">
                <%= f.submit "Generar" , :class =>"btn btn-primary"%>
              </div>
            <div>


            </div>

            <br><br><br><br><br>
          <% end %>
        </div>
      </div>
  </div>
  </div>
</div>



  <script>
  function openNav() {
      document.getElementById("mySidenav").style.display="block";
};

/* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
function closeNav() {
    document.getElementById("mySidenav").style.display = "none";
}
  window.onload = function() {
   document.getElementById("mySidenav").style.display="none";
   var checkbox = document.getElementById('check_grados');
   if (checkbox.checked) {
   document.getElementById("grados").style.display = "block";
   } else {
   document.getElementById("grados").style.display = "none";
  }
  };
  function cambioCarreras(){
    var x= document.getElementById("grado").value;
    if (x=="Licenciatura")
    {
      document.getElementById("grado_licenciatura").style.display="block";
      document.getElementById("grado_maestria").style.display="none";
      document.getElementById("grado_postdoctorado").style.display="none";
      document.getElementById("grado_doctorado").style.display="none";
      document.getElementById("grado_diplomado").style.display="none";
      document.getElementById("grado_especialidad").style.display="none";

    }
    if (x=="Maestria")
    {
      document.getElementById("grado_licenciatura").style.display="none";
      document.getElementById("grado_maestria").style.display="block";
      document.getElementById("grado_postdoctorado").style.display="none";
      document.getElementById("grado_doctorado").style.display="none";
      document.getElementById("grado_diplomado").style.display="none";
      document.getElementById("grado_especialidad").style.display="none";

    }
    if (x=="Doctorado")
    {
      document.getElementById("grado_licenciatura").style.display="none";
      document.getElementById("grado_maestria").style.display="none";
      document.getElementById("grado_doctorado").style.display="block";
      document.getElementById("grado_postdoctorado").style.display="none";
      document.getElementById("grado_especialidad").style.display="none";
      document.getElementById("grado_diplomado").style.display="none";
    }
    if (x=="Postdoctorado")
    {
      document.getElementById("grado_licenciatura").style.display="none";
      document.getElementById("grado_maestria").style.display="none";
      document.getElementById("grado_postdoctorado").style.display="block";
      document.getElementById("grado_doctorado").style.display="none";
      document.getElementById("grado_especialidad").style.display="none";
      document.getElementById("grado_diplomado").style.display="none";
    }
    if (x=="Diplomado")
    {
      document.getElementById("grado_licenciatura").style.display="none";
      document.getElementById("grado_maestria").style.display="none";
      document.getElementById("grado_postdoctorado").style.display="none";
      document.getElementById("grado_doctorado").style.display="none";
      document.getElementById("grado_especialidad").style.display="none";
      document.getElementById("grado_diplomado").style.display="block";
    }
    if (x=="Doctorado")
    {
      document.getElementById("grado_licenciatura").style.display="none";
      document.getElementById("grado_maestria").style.display="none";
      document.getElementById("grado_postdoctorado").style.display="none";
      document.getElementById("grado_doctorado").style.display="block";
      document.getElementById("grado_diplomado").style.display="none";
      document.getElementById("grado_especialidad").style.display="none";
    }
    if (x=="Especialidad")
    {
      document.getElementById("grado_licenciatura").style.display="none";
      document.getElementById("grado_maestria").style.display="none";
      document.getElementById("grado_postdoctorado").style.display="none";
      document.getElementById("grado_doctorado").style.display="none";
      document.getElementById("grado_diplomado").style.display="none";
      document.getElementById("grado_especialidad").style.display="block";

    }
    if (x=="Todos")
    {
      document.getElementById("grado_licenciatura").style.display="none";
      document.getElementById("grado_maestria").style.display="none";
      document.getElementById("grado_postgrado").style.display="none";
      document.getElementById("grado_doctorado").style.display="none";
      document.getElementById("grado_especialidad").style.display="none";
      document.getElementById("grado_diplomado").style.display="none";
    }
  }
  $('#check_grados').click(function() {
    $('#grados')[this.checked ? "show" : "hide"]();
  });
    $('#check_fecha').click(function() {
      $('#fecha_inicio')[this.checked ? "show" : "hide"]();
      $('#fecha_fin')[this.checked ? "show" : "hide"]();
    });
    $('#check_genero').click(function() {
      $('#hombres')[this.checked ? "show" : "hide"]();
      $('#mujeres')[this.checked ? "show" : "hide"]();
      $('#ambos')[this.checked ? "show" : "hide"]();
    });


  </script>
