  <div class="container">
  <h1>Lista de reportes</h1>
    <div class="panel panel-default">
      <div class="panel-heading"><div class="panel-title"><h3>Criterios de busqueda</h3></div></div>
        <div class="panel-body">
          <%= form_for :report, url: '/reporte/nuevo' do |f| %>
            <div class="container-fluid">
              <!-- reportes por grado academico -->
              <div class="col-sm-3 col-md-6 col-lg-4">
                <div class="field">
                  <%=f.label :reportes_por_grados %>
                  <input type="checkbox" id=check_grados name="check_grados" class="field">
                </div>
                <div id="grados" name="grados" style="display:none;" class="field">
                  <select id="grado" onchange="cambioCarreras()" name="report[grado]">
                    <option>Licenciatura</option>
                    <option>Maestria</option>
                    <option>Doctorado</option>
                    <option>Postgrado</option>
                    <option selected>Todos</option>
                  </select>
                </div>
                <%@e=Education.new%>
                <div id="grado_licenciatura" style="display:none;">
                  <%= f.select :grado_licenciatura,@e.licenciaturas,{:class=>"selectpicker",:include_blank => true}%>
                </div>
                <div id="grado_postgrado" style="display:none;">
                  <%= f.select(:grado_postgrado,@e.postgrados,:class=>"selectpicker",:include_blank => true)%>
                </div>
                <div id="grado_maestria" style="display:none;">
                  <%= f.select(:grado_maestria,@e.maestrias,:class=>"selectpicker",:include_blank => true)%>
                </div>
                <div id="grado_doctorado" style="display:none;">
                  <%= f.select(:grado_doctorado,@e.doctorados,:class=>"selectpicker",:include_blank => true)%>
                </div>
                <div class="form-control">

              </div>


              <div class="col-sm-3 col-md-6 col-lg-4">
                <div class="form-control">
                  <!-- <input type="checkbox" id=check_carreras>reporte por carreras</input> -->
                </div>
              </div>
              <div  class="col-sm-3 col-md-6 col-lg-4">
              </div>
              <div  class="col-sm-3 col-md-6 col-lg-4">
              </div>
              <div class="actions col-xs-3">
                <%= f.submit "Guardar" , :class =>"btn btn-primary"%>
              </div>
            </div>
            <br><br><br><br><br>
          <% end %>
        </div>
  </div>

  </div>

  <script>
  window.onload = function() {
   var checkbox = document.getElementById('check_grados');
   if (checkbox.checked) {
   document.getElementById("grados").style.display = "block";
   } else {
   document.getElementById("grados").style.display = "none";
  }
  };
  function cambioCarreras(){
    var x= document.getElementById("grado").value;
    if (x=="Licenciatura")
    {
      document.getElementById("grado_licenciatura").style.display="block";
      document.getElementById("grado_maestria").style.display="none";
      document.getElementById("grado_postgrado").style.display="none";
      document.getElementById("grado_doctorado").style.display="none";
    }
    if (x=="Maestria")
    {
      document.getElementById("grado_licenciatura").style.display="none";
      document.getElementById("grado_maestria").style.display="block";
      document.getElementById("grado_postgrado").style.display="none";
      document.getElementById("grado_doctorado").style.display="none";
    }
    if (x=="Postgrado")
    {
      document.getElementById("grado_licenciatura").style.display="none";
      document.getElementById("grado_maestria").style.display="none";
      document.getElementById("grado_postgrado").style.display="block";
      document.getElementById("grado_doctorado").style.display="none";
    }
    if (x=="Doctorado")
    {
      document.getElementById("grado_licenciatura").style.display="none";
      document.getElementById("grado_maestria").style.display="none";
      document.getElementById("grado_postgrado").style.display="none";
        document.getElementById("grado_doctorado").style.display="blok";
    }
    if (x=="Todos")
    {
      document.getElementById("grado_licenciatura").style.display="none";
      document.getElementById("grado_maestria").style.display="none";
      document.getElementById("grado_postgrado").style.display="none";
      document.getElementById("grado_doctorado").style.display="none";
    }
  }
  $('#check_grados').click(function() {
    $('#grados')[this.checked ? "show" : "hide"]();
  });

  </script>
