<%= form_for :skill, url: '/skill/new',remote: true do |f| %>
  <div class="row">
    <div class="col col-md-4">
      <%= f.label :habilidad %><br />
      <%= f.text_field :description,:id=>'habilidad',:class=>"form-control"%>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Guardar" , :class =>"btn btn-primary pull-right",:id=>'boton_habilidades'%>
    </div>
  </div>
      <%= f.hidden_field :resume_id, :value => current_user.resume.id%>
<% end %>
