<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><div class="panel-title"><h3>Conocimiento</h3></div></div>
      <div class="panel-body">
      </div>
      <div class="panel-footer well">
        <%= form_for :skill, url: '/skill/update', html: { method: :put } do |f| %>
        <div class="row">
          <div class="field col col-md-6">
            <%= f.label :descripcion %><br />
            <%= f.text_field :description,:class=>"form-control"%>
          </div>
          <%=f.hidden_field :id, :value => @skill.id%>
          <br>
          <div class="actions">
            <%= f.submit "Guardar",:class=>"btn btn-primary pull-right" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
