<div class="container" style="margin-top:50px">
  <div class="panel panel-primary">
    <div class="panel-heading"><div class="panel-title" style="padding-top:1px;padding-bottom:1px"><h4 style="margin-left:5px">Conocimiento</h4></div></div>
      <div class="panel-body">
      </div>
      <div class="panel-footer well">
        <%= form_for :skill, url: '/skill/update', html: { method: :put } do |f| %>
        <div class="row">
          <div class="field col col-md-6">
            <%= f.label :descripción %><br />
            <%= f.text_field :description,:class=>"form-control"%>
          </div>
          <%=f.hidden_field :id, :value => @skill.id%>
          <br>
          <div class="actions">
            <%= f.submit "Guardar",:class=>"btn btn-primary pull-right" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
