<div class="container" style="margin-top:50px">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="panel-title"style="padding-top:1px;padding-bottom:1px"><h4 style="margin-left:5px">Experiencia Laboral </h4>
      </div>
    </div>
    <div class="panel-body">
    </div>

  <div class="panel-footer well">
    <%= form_for :experience, url: '/experience/update', html: { method: :put } do |f| %>
      <div class="row">
        <div class="col col-md-6">
          <%= f.label :empresa %>
          <%= f.text_field :company_name,:class=>"form-control"%>
        </div>
        <div class="field col col-md-6">
          <%@exp=Experience.new%>
          <%= f.label :Pais_o_region %>:<br />
          <%=f.select :city, @exp.countries,{},:class=>"selector"%>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="field col col-md-6">
          <%= f.label :cargo_profesional %><br />
          <%= f.text_field :job_title,:class=>"form-control"%>
        </div>
        <div class="field col col-md-6">
          <%= f.label :actividades_a_cargo %>:<br />
          <%= f.text_field :job_description,:class=>"form-control"%>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col col-md-6">
          <%= f.label :personass_bajo_mi_cargo %>:<br />
          <%= f.text_field :in_my_charge,:class=>"form-control"%>
        </div>
        <div class="col col-md-6">
          <%= f.label :rango_salarial %><br>
          <%= f.select(:salary_range, options_for_select(Experience.salary_range),{} ,:class=>"selector")%><br>
          <em>Nota: Esta información no es publica</em>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col col-md-6">
          <%= f.label :Fecha_ingreso %>
          <%= f.date_select :start_date ,:start_year  =>1990, :end_year=>Time.now.year%>
        </div>
        <div class="col col-md-6" id="date" style="display:none;">
          <%= f.label :fecha_salida %>
          <%= f.date_select :end_date ,:start_year  =>1990, :end_year=>Time.now.year %>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <%= f.check_box :until_now,:id=>"checkboxDate", :checked =>"true"%>
          <%=f.label :a_la_fecha_sigue_trabajando_en_la_empresa%>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col col-md-6">
          <input type="checkbox" id="checkbox" name="checkbox"> Desea agregar una persona de referencia
        </div>
      </div>
      <div class="row">
        <div id="rest" style="display:none;">
          <div class="col col-md-6">
            <%= f.label :Persona_de_Referencia %><br />
            <%= f.text_field :referential,:class=>"form-control"%>
          </div>
          <div class="col col-md-6">
            <%= f.label :numero_de_referencia %>
            <%= f.number_field :referential_number,:class=>"form-control"%>
          </div>
        </div>
      </div>
      <br><br>

      <%=f.hidden_field :id, :value => @experience.id%>
      <div class="actions">

        <%= f.submit "Guardar",:class =>"btn btn-primary pull-right" %>
        <br>
    </div>
    <% end %>
  </div>
</div>
</div>
<script>
window.onload = function() {
 var checkbox2 = document.getElementById('checkboxDate');
 if (checkbox2.checked) {
 document.getElementById("date").style.display = "none";
 } else {
 document.getElementById("date").style.display = "block";
 }
};

$('#checkboxDate').click(function() {
  $('#date')[this.checked ? "hide" : "show"]();
});
</script>

<script>
window.onload = function() {

 var checkbox = document.getElementById('checkbox');
 if (checkbox.checked) {
 document.getElementById("rest").style.display = "block";
 } else {
 document.getElementById("rest").style.display = "none";
 }
};
$('#checkbox').click(function() {
  $('#rest')[this.checked ? "show" : "hide"]();
});

</script>


<style>
.selector{
  width: 120px;
  padding: 5px 35px 5px 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  height: 32px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  }
    .center-select{
      padding-left:25%;
    left:30%;
    }
}
</style>
