$("#cursos").append(
  '<li class="list-group-item"><div><p><b><%=@new.date.year%></b>&emsp;<%=@new.name%>&emsp;<%=@new.given%>&emsp;<%=@new.institution%>&emsp;<%=@new.workload%> Hrs.<button class="btn btn-danger btn-sm  pull-right"><%=link_to "Eliminar", @new , method: :delete , data: { confirm: "Estas seguro de que quieres eliminar esta información?" }, :class=>"button-link"%></button>&emsp;<button class="btn btn-warning btn-sm pull-right" style="position:relative;"><%=link_to "Editar", [:edit,@new], :class=>"button-link"%></button></p></div></li>');
