<div class="container">
  <div class="panel-heading">
    <div class="panel-title">
      <h2>Cambiar contraseña</h2>
    </div>
  </div>
  <div class="panel panel-body">


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field col col-md-6">
    <%= f.label :password, "New password",:class=>'form-label' %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characteres minimo)</em>
        Una mayuscula, una minuscula y un número
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off",:class=>'form-control' %>
  </div>
  <div class="col col-md-6">
  </div>
  <div class="field col col-md-6">
    <%= f.label :password_confirmation, "Repita la nueva contraseña",:class=>'form-label' %>
    <%= f.password_field :password_confirmation, autocomplete: "off",:class=>'form-control' %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Cambiar mi contraseña",:class=>'btn btn-primary' %>
  </div>
<% end %>
</div>
</div>
</div>
