<br><br><br>
<div id="page-content-wrapper">
  <div class="container">
    <div class="panel panel-default" >
      <div class="panel panel-default">
        <div class="panel-heading">
          <div clas="panel-footer well">
            <h2 >&nbsp;Personas Calificadas </h2>
          </div>
        </div>
      </div>
    <div class="container"  style="width:95%;">
      <h4>Se encontraron <%=@users.size%> personas que cumplen su requerimiento</h4>
      <%if @ids.size>0%>
        <!-- The Modal -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <div id="myModal2" class="full reveal" data-reveal>
          </div>
        </div>
        <!--Fin modal CVs -->
      </div>

      <%= form_for :post, url: '/posts/oferta' do |f| %>
        <%= f.hidden_field :user_id,:value => current_user.id%>
        <%=f.hidden_field :titulo,:value => @titulos%>
        <%=f.hidden_field :post_grado,:value => @postgrados%>
        <%=f.hidden_field :horas,:value => nil%>
        <%=f.hidden_field :experiencia,:value => @experiencias%>
        <%=f.hidden_field :ciudad,:value => nil%>
        <%=f.hidden_field :idiomas,:value => @idiomas%>
        <%=f.hidden_field :cargo,:value => @cargos%>
        <%=f.hidden_field :habilidades,:value => @habilidades%>
        <%=f.hidden_field :results, :value=> @ids %>
        <!-- <textarea name="message" rows="14" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Message' doit être renseigné."></textarea> -->
          <center>
            <button type="submit" class="btn btn-primary btn-lg btn-publicar pull-right">Publicar a todos</button>
          </center>
          <p><i>(El proceso puede tardar unos pocos minutos debido a que se enviaran notificaciones a los perfiles y a los correos electronicos de los ofertados)</i></p>
      <%end%>
      <%end%>
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <% @users.each do |user| %>
        <div class="col-lg-4 col-md-4" align="center">
          <div class="panel-footer well">
            <div class="">
            <br>
            <h2><td><%= user.name%>   <%=user.last_name%></td></h2>
            <p><strong>Informacion Personal </strong><br>
              <strong>Email: </strong><%= user.email %><br>
            </p>
            <div class="btn btn-group" align='center'>
              <button class="btn btn-default botonCV" value="<%=user.id%>">Ver Perfil</button>
            </div>
          </div>
          </div>
        </div>
        <% end %>
      </div>
      <br>
      <center>
        <div class="btn btn-group" align='center'>
          <a href="/oferta/nueva"><button class='btn btn-default btn-sm'>Volver a la Busqueda</button></a>
        </div>
      </center>
    </div>
    </div>
  </div>
</div>



<script>
var modal = document.getElementById('myModal');
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0];
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
$(".botonCV").on("click",function(e) {
  // e.preventDefault();
    var value= "http://localhost:3000/usuarios/curriculums/" +$(this).val();
  $('#myModal').show();
  $('#myModal2').load(value);
});
</script>
<style>
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: -160px;
    width: 100%; /* Full width */
    height: 120; /* Full hei ght */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 20% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
</style>
