<style>
/* form {
  border-radius: 5px;
  max-width:700px;
  width:100%;
  margin: 5% auto;
  background-color: #FFFFFF;
  overflow: hidden;
}

h1 {
  text-align:center;
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}
input {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  width: 75%;
  height: 40px;
  float: left;
  padding: 0px 15px;
}
navbar {
    top:0;
    display: inline; */
}
</style>
<div class="container" style="margin-top:50px">
  <div class="panel panel-primary">
    <div class="panel panel-heading">
      <div class="panel-title" style="padding-top:1px;padding-bottom:1px">
        <h3 style="margin-top:10px">Formulario de Oferta de Trabajo</h3>
      </div>
    </div>
  <div class="panel panel-body">
    <div class="info"><p> Busca <i class="fa fa-search"></i> lo que necesites </p></div>
    <%= form_for :post, url: '/resultados/busqueda' do |f| %>
      <%= f.hidden_field :user_id,:value => current_user.id%>
      <h2>Llena los siguientes campos, como requisito para el puesto laboral:</h2>
      <div class="form-horizontal">
        <!-- <div id="sendmessage"> La oferta fue publicada exitosamente!. Gracias. </div> -->
        <div class="col col-md-6">
          <div class="form-group">
            <%= f.label :titulo_academico ,:class=>'form-label'%>
            <span class="icon-case"><i class="fa fa-male"></i></span><br>
            <div class="col col-md-9">
              <%=f.text_field :titulo,:class=>'form-control'%>
            </div>
            <!-- <input type="text" name="nom" id="nom" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Nom' doit être renseigné."/> -->
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <%= f.label :post_grado ,:class=>'form-label'%><br>
            <!-- <span class="icon-case"><i class="fa fa-user"></i></span></br> -->
            <div class="col col-md-9">
              <%=f.text_field :post_grado,:class=>'form-control'%>
              <!-- <input type="text" name="prenom" id="prenom" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Prénom' doit être renseigné."/> -->
              <div class="validation"></div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :horas_de_Trabajo ,:class=>'form-label'%>
            <span class="icon-case"><i class="fa fa-clock-o"></i></span><br>
            <div class="col col-md-9">
              <%=f.number_field :horas,:class=>'form-control'%>
            </div>
            <!-- <input type="text" name="society" id="society" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Société' doit être renseigné."/> -->
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <%= f.label :experienca_en ,:class=>'form-label'%>
            <span class="icon-case"><i class="fa fa-comment-o"></i></span><br>
            <div class="col col-md-9">
              <%=f.text_field :experiencia,:class=>'form-control'%>
            </div>
            <!-- <input type="text" name="sujet" id="sujet" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Sujet' doit être renseigné."/> -->
            <div class="validation"></div>
          </div>
        </div>
        <div class="col col-md-6">
          <div class="form-group">
            <%= f.label :ciudad ,:class=>'form-label'%>
            <span class="icon-case"><i class="fa fa-building-o"></i></span><br>
            <div class="col col-md-9">
              <%=f.text_field :ciudad,:class=>'form-control' %>
            </div>
            <!-- <input type="text" name="ville" id="ville" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Ville' doit être renseigné."/> -->
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <%= f.label :idiomas,:class=>'form-label'%>
            <span class="icon-case"><i class="fa fa-phone"></i></span><br>
            <div class="col col-md-9">
              <%=f.text_field :idioma,:class=>'form-control'%>
            </div>
            <!-- <input type="text" name="phone" id="phone" data-rule="maxlen:10" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Téléphone' doit être renseigné. Minimum 10 chiffres"/> -->
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <%= f.label :cargo,:class=>'form-label'%>
            <span class="icon-case"><i class="fa fa-info"></i></span><br>
            <div class="col col-md-9">
              <%=f.text_field :cargo,:class=>'form-control'%>
            </div>
            <!-- <input type="text" name="fonction" id="fonction" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Fonction' doit être renseigné."/> -->
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <%= f.label :habilidades ,:class=>'form-label'%>
            <span class="icon-case"><i class="fa fa-comments-o"></i></span><br>
            <div class="col col-md-9">
              <%=f.text_field :habilidades,:class=>'form-control'%>
            </div>
            <!-- <textarea name="message" rows="14" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Message' doit être renseigné."></textarea> -->
            <div class="validation"></div>
          </div>
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-primary pull-right">Buscar</button>
      <%end%>
      <br><br><br><br><br><br>
      <br><br><br><br><br><br>
    </div>
  </div>
  </div>
  </div>
