<div class="container" style="margin-top:25px">
  <div class="panel panel-default">
    <div class="panel-heading"><div class="panel-title"><h3>Conocimiento</h3></div></div>
      <div class="panel-body">
      </div>
      <div class="panel-footer well">
      <%= form_for :knowledge, url: '/knowledge/update', html: { method: :put } do |f| %>
      <div class="row">
      <div class="field col col-md-6">
        <%= f.label :Nombre %><br />
        <%= f.text_field :description,:class=>"form-control"%>
      </div>
      <br>
      <%=f.hidden_field :id, :value => @knowledge.id%>
        <div class="actions">
          <%= f.submit "Guardar",:class=>"btn btn-primary pull-right" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
