<%= form_for :education,url:'/education/new', remote: true do |f| %>
  <div class="row">
    <div  class="col col-md-6">
      <%= f.label :Grado_académico %>
      <div>
        <%=f.text_field :title, :id=>'filtrar',:class=>"form-control"%>
        <%= f.select :lista,@title_list,{},class:"form-control col-12 col-md-12 col-xs-12",:id=>'titulos',:style=>"margin-top: 10px;height: 170px;display:none",:size=>'10',:name=>'type[]'%>
      </div>
    </div>
    <div class="col col-md-6">
      <%= f.label :institución %>
      <%= f.text_field :school_name,:id=>'filtrar_u',:class=>"form-control"%>
      <%= f.select :school_name,@schools,{},class:"form-control col-12 col-md-12 col-xs-12",:id=>'universidades',:style=>"margin-top: 10px;;height: 170px;display:none",:size=>'10',:name=>'type[]'%>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="field col col-md-6 col-xs-6">
      <%= f.label :Fecha_ingreso %>:
      <%= f.date_select :start_date,:start_year  =>1990, :end_year=>Time.now.year + 5,:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre']%>
    </div>
    <div class="field col col-md-6 col-xs-6" >
      <%= f.label :fecha_titulación %>:
      <%= f.date_select :end_date ,:start_year  =>1990, :end_year=>Time.now.year + 5,:class=>'form-control',:id=>'date',:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre']%>
    </div>
  </div>
  <br>
  <div class="pull-left">
    <a id="link-mas">Mostrar más</a>
    <a id="link-menos" style="display:none">Mostrar menos</a>
  </div>
  <br>
  <div id="mas" style="display:none">
    <div class="row">
      <div class="col col-md-6">
        <%= f.label :titulo_del_trabajo_académico %>
        <%= f.text_field :thesis,:class=>"form-control"%>
      </div>
      <div class="col col-md-6">
        <%= f.label :modalidad_de_titulación %>
        <%= f.text_field :modality,:class=>"form-control"%>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-6">
        <%= f.label :nota_del_proyecto %><br />
        <%= f.number_field :grade,:class=>"form-control",min:1,max:100%>
      </div>
      <div class="col col-md-6">
        <%= f.label :promedio_académico %><br />
        <%= f.number_field :average,:class=>"form-control",min:1,max:100%>
      </div>
    </div>
  </div>
  <%= f.hidden_field :resume_id, :value => current_user.resume.id%>
  <div class="actions" style="">
    <%= f.submit "Guardar" , :class =>"btn btn-primary pull-right",:style=>'margin-top:5px;',:id=>'boton_academico'%>
  </div>
  <br><br>

<% end %>

<script>
  $("#link-mas").click(function(){
    document.getElementById('link-mas').style.display='none';
    document.getElementById('link-menos').style.display='block';
    document.getElementById('mas').style.display="block";
  });
  $("#link-menos").click(function(){
    document.getElementById('link-menos').style.display='none';
    document.getElementById('link-mas').style.display='block';
    document.getElementById('mas').style.display="none";
  });
</script>
<script>
$(document).ready(function () {
  (function ($) {
      $('#filtrar_u').keyup(function () {
          var input_value = document.getElementById('universidades');
          if($(this).val() == "") {
          input_value.style.display = 'none';
          } else {
           input_value.style.display = 'block';
          }
          var rex = new RegExp($(this).val(), 'i');
          $('#universidades option').hide();
          $('#universidades option').filter(function () {
              return rex.test($(this).text());
          }).show();
      })
  }(jQuery));
});
$("#universidades").change(function(){
$("#filtrar_u").val(this.value);
}).change();

</script>
