<%= form_for :merit, url: '/merit/new',remote: true do |f| %>
<div class="row">
  <div class="field col col-md-6">
    <%= f.label :Mérito %><br>
    <%= f.text_field :name, :id=>'merito',:class=>"form-control"%>
  </div>
  <div class="field col col-md-6">
    <%= f.label :fecha %><br>
    <%= f.date_select :date ,:start_year  =>1990, :end_year=>Time.now.year%>
  </div>
</div>
<%= f.hidden_field :resume_id, :value => current_user.resume.id%>
<div class="actions">
  <%= f.submit "Guardar", :class =>"btn btn-primary pull-right" ,:id=>'boton_meritos'%>
</div>
<br>
<% end %>
