<div class="container" style="margin-top:25px">
  <div class="panel panel-default">
    <div class="panel-heading"><div class="panel-title"><h3>Merito</h3></div></div>
      <div class="panel-body">
      </div>
      <div class="panel-footer well">
        <%= form_for :merit, url: '/merit/update', html: { method: :put } do |f| %>
        <div class="row">
          <div class="col col-md-6">
            <%= f.label :Merito %><br />
            <%= f.text_field :name,:class=>"form-control"%>
          </div>
          <div class="col col-md-6">
            <%= f.label :fecha %><br>
            <%= f.date_select :date ,:start_year  =>1990, :end_year=>Time.now.year %>
          </div>
        </div>
        <%=f.hidden_field :id, :value => @merit.id%>
          <div class="actions">
            <%= f.submit "Guardar",:class =>"btn btn-primary pull-right"  %>
          </div>
          <br>
        <% end %>
      </div>
    </div>
  </div>
