<br><br><br>
<div class="container">
  <div class="container">
    <div class="container">
    <div >
    </div>
    <div class="panel panel-primary">
      <%if current_user.id==@user.id %>
      <div class="panel panel-heading">
        <div class="panel-title" style="padding-top:1px;padding-bottom:1px">
          <h3 style="margin-top:10px">Información Externa</h3>
          <i>(Así es como te ven los demas en nuestra red)</i>
        </div>
      </div>
      <%end%>
      <div class="panel panel-body">
        <div class="row">
        <div class="col col-md-5">
      </div>
        <div class="col col-md-4">
        <%=image_tag(@picture.image.url, class: 'img-thumbnail ',style:"width:150px;height:150px")%>
      </div>
      <div class="col col-md-3">
      </div>
    </div>
        <div class="container">
            <div class="col-md-4">
            </div>
            <div class="col col-md-4">
              <h3><%=@user.name%></h3>
              <div class="container">
                <b>Dirección:</b><%=@company_info.address%><br>
                <b>Nombre de persona de contacto: </b><%=@company_info.contact_name%><br>
                <b>Correo de contacto: </b><%=@company_info.contact_email%><br>
                <b>Codigo CIUU: </b>
                <%if @company_info.ciu_code%>
                  <%=@company_info.ciu_code.ciu%><br>
                  <%end%>
                <b>Area de trabajo: </b>
                <%if @company_info.ciu_code%>
                <%=@company_info.ciu_code.description%><br>
                <%end%>
                <b>Telefono fijo: </b><%=@company_info.phone%><br>
                <b>NIT: </b><%=@company_info.nit%><br>

                <b>Sobre nosotros:</b>
                <div class="container">
                <p id='texto'><%=@company_info.description%></p>
              </div>
              </div>
            </div>
            <div class="col col-md-3">
            </div>
        </div>

      </div>
    </div>
  </div>
  </div>
</div>


<style>
#texto{
  word-wrap: break-word;
  word-break: normal;
}
</style>
