<h1>Curriculum Vitae</h1>
  <div class="panel panel-default">
    <div class="panel-heading"><div class="panel-title"><h3>Formacion Academica </h3></div></div>
    <div class="panel-body">
    <% if @educations.size >0%>
    <ul class="list-group">
    <% @educations.each do |education| %>
      <li class="list-group-item">
        <div>
          <h4>  <b><%=education.title%>&emsp;</b><button class="btn btn-warning btn-sm pull-right"><%=link_to "Editar", [:edit,education]%></button></h4>
          <%=education.school_name%>&nbsp;
          <%=education.start_date.year%>&emsp; - &emsp; <%=education.end_date.year%>
        </div>
      </li>
        <%end%>
     <%end%>
   </ul>
   </div>
<div class="panel-footer well">
<%= form_for :education, url: '/education/new' do |f| %>
  <div  class="field col-xs-3">
    <%= f.label :Titulo_academico %>:
    <%= f.text_field :title,:class=>"form-control"%>
  </div>

    <div class="field col-xs-3">
    <%= f.label :Universidad %>:
    <%= f.text_field :school_name,:class=>"form-control"%>
  </div>
  <div class="field col-xs-4">
  <%= f.label :descripcion %>:
  <%= f.text_area :description, :class=>"form-control"%>
</div><br><br>
  <div class="field col-xs-3">
    <%= f.label :Fecha_ingreso %>:
      <%= f.date_select :start_date,:start_year  =>1990, :end_year=>Time.now.year, :class=> "form-control"%>
  </div>

    <div class="field col-xs-3">
    <%= f.label :fecha_egreso %>:
    <%= f.date_select :end_date ,:start_year  =>1990, :end_year=>Time.now.year%>
  </div>
      <%= f.hidden_field :resume_id, :value => current_user.resume.id%>

  <div class="actions col-xs-3">
    <%= f.submit "Guardar" , :class =>"btn btn-primary"%>
  </div>
  <br><br><br><br><br>
<% end %>
</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h3>Experiencia Profesional </h3>
    </div>
  </div>
  <div class="panel-body">
        <% if @experiences.size >0%>
            <ul class="list-group">
              <% @experiences.each do |experience| %>
              <li class="list-group-item">
              <div>
                  <p>
                  <h5><b><%=experience.company_name%></b></h5>
                  <%=experience.job_title%>&emsp;<button class="btn btn-warning btn-sm pull-right"><%=link_to "Editar", [:edit,experience]%></button><br>
                  <%=experience.start_job_date%>&emsp; - &emsp;
                  <%=experience.finish_job_date%>
                </p>
            </div>
          </li>
        <%end%>
     <%end%>
   </ul>
   </div>
 </div>
 <div class="panel-footer well">
<%= form_for :experience, url: '/experience/new' do |f| %>
  <div class="field">
    <%= f.label :cargo_profesional %><br />
    <%= f.text_field :job_title%>
  </div>

    <div class="field">
    <%= f.label :empresa %>
    <%= f.text_field :company_name%>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_field :job_description%>
  </div>
  <div class="field">
    <%= f.label :Fecha_ingreso %>
    <%= f.date_select :start_date ,:start_year  =>1990, :end_year=>Time.now.year%>
  </div>
    <div class="field">
    <%= f.label :fecha_salida %>
    <%= f.date_select :end_date ,:start_year  =>1990, :end_year=>Time.now.year%>
  </div>
      <%= f.hidden_field :resume_id, :value => current_user.resume.id%>

  <div class="actions">
    <%= f.submit "Guardar", :class =>"btn btn-primary" %>
  </div>
<% end %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h2>Cursos y Seminarios </h2>
    </div>
  </div>
  <div class="panel-body">
    <% if @courses.size >0%>
      <ul class="list-group">
        <h5><% @courses.each do |course| %></h5>
          <li class="list-group-item">
              <div>
                  <p>
                    <b><%=course.date.year%></b>&emsp;
                    <%=course.name%>&emsp;
                    <%=course.given%>&emsp;
                    <%=course.workload%> Hrs.
                    &emsp;<button class="btn btn-warning btn-sm pull-right"><%=link_to "Editar", [:edit,course]%></button>
                  </p>
              </div>
          </li>
          <%end%>
        <%end%>
      </ul>
    </div>
      <div class="panel-footer well">
  <%= form_for :course, url: '/course/new' do |f| %>
    <div class="field">
      <%= f.label :nombre %><br />
      <%= f.text_field :name%>
    </div>
    <div class="field">
      <%= f.label :fecha %>
      <%= f.date_select :date ,:start_year  =>1990, :end_year=>Time.now.year%>
    </div>
    <div>
      <%=f.label :yo_di_este_seminario_o_curso%>

      <%= f.select(:given, options_for_select(Course.participations)) %>
    </div>
    <div class="field">
      <%= f.label :carga_horaria %><br />
      <%= f.number_field :workload%> Hrs.
    </div>
        <%= f.hidden_field :resume_id, :value => current_user.resume.id%>

    <div class="actions">
      <%= f.submit "Guardar" , :class =>"btn btn-primary"%>
    </div>
    <% end %>

  </div>
</div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><h2> Conocimientos</h2></div>
  </div>
  <div class="panel-body">
    <% if @knowledges.size >0%>
    <ul class="list-group">
      <h5><% @knowledges.each do |know| %></h5>
        <li class="list-group-item">
          <div>
            <p>

              <b><%=know.knowledge_area.name%></b>
              &emsp;<button class="btn btn-warning btn-sm pull-right"><%=link_to "Editar", [:edit,know]%></button><br>
              <%=know.description%>
            </p>
          </div>
        </li>
        <%end%>
     <%end%>
    </ul>
  </div>

  <div class="panel-footer well">
    <%= form_for :knowledge, url: '/knowledge/new' do |f| %>
    <div class="field">
      <%= f.label :area %><br />
      <%= f.select( :knowledge_area_id, KnowledgeArea.all.collect {|a| [a.name, a.id]}) -%>
    </div>
      <div class="field">
      <%= f.label :Nombre %><br />
      <%= f.text_field :description%>
    </div>
    <%= f.hidden_field :resume_id, :value => current_user.resume.id%>
    <div class="actions">
      <%= f.submit "Guardar", :class =>"btn btn-primary" %>
    </div>
  <% end %>
  </div>
</div>



<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><h2> Publicaciones </h2></div>
  </div>

  <div class="panel-body">
  <% if @publications.size >0%>
    <ul class="list-group">
    <h5><% @publications.each do |pub| %></h5>
      <li class="list-group-item">
        <div>
                <p>
                  <b><%=pub.publicationType%>&emsp;<button class="btn btn-warning btn-sm pull-right"><%=link_to "Editar", [:edit,pub]%></button> </b><br>
                  <%=pub.date.year%>&emsp;<b><%=pub.name%></b><br>
                  <%=pub.location%>

                </p>
            </div>
      </li>
      <%end%>
     <%end%>
    </ul>
  </div>

  <div class="panel-footer well">
    <%= form_for :publication, url: '/publication/new' do |f| %>
  <div class="field">
    <%= f.label :tipo_de_publicacion %>
    <%= f.select( :publicationType, @publicationTypes.map {|a| [a]}) -%>
  </div>
    <div class="field">
    <%= f.label :Nombre %><br />
    <%= f.text_field :name%>
  </div>
     <div class="field">
    <%= f.label :lugar %><br />
    <%= f.text_field :location%>
  </div>
    <div class="field">
    <%= f.label :fecha %>
    <%= f.date_select :date ,:start_year  =>1990, :end_year=>Time.now.year%>
  </div>
  <%= f.hidden_field :resume_id, :value => current_user.resume.id%>
  <div class="actions">
    <%= f.submit "Guardar", :class =>"btn btn-primary" %>
  </div>
<% end %>
  </div>
</div>




<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><h2> Meritos </h2></div>
  </div>

  <div class="panel-body">
  <% if @merits.size >0%>
    <ul class="list-group">
    <h5><% @merits.each do |merit| %></h5>
      <li class="list-group-item">
        <div>
                <p>
                  <b><%=merit.date.year%></b>&emsp;<%=merit.name%>&emsp;<button class="btn btn-warning btn-sm pull-right"><%=link_to "Editar", [:edit,merit]%></button><br>
                </p>
            </div>
      </li>
       <%end%>
     <%end%>
    </ul>
  </div>

  <div class="panel-footer well">
    <%= form_for :merit, url: '/merit/new' do |f| %>
    <div class="field">
    <%= f.label :Merito %><br />
    <%= f.text_field :name%>
    </div>
    <div class="field">
    <%= f.label :fecha %>
    <%= f.date_select :date ,:start_year  =>1990, :end_year=>Time.now.year%>
  </div>
  <%= f.hidden_field :resume_id, :value => current_user.resume.id%>
  <div class="actions">
    <%= f.submit "Guardar", :class =>"btn btn-primary" %>
  </div>
<% end %>
  </div>
</div>






<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><h2> Membresia </h2></div>
  </div>

  <div class="panel-body">
  <% if @memberships.size >0%>
    <ul class="list-group">
    <h5><% @memberships.each do |member| %></h5>
      <li class="list-group-item">
       <div>
                <p>
                  <b><%=member.name%> en <%=member.organization%>&emsp;<button class="btn btn-warning btn-sm pull-right"><%=link_to "Editar", [:edit,member]%></button></b><br>
                  desde <%=member.date.year%>&emsp;<br>
                </p>
            </div>
      </li>
      <%end%>
     <%end%>
    </ul>
  </div>

  <div class="panel-footer well">
    <%= form_for :membership, url: '/member/new' do |f| %>
    <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :name%>
    </div>   <div class="field">
    <%= f.label :comunidad %><br />
    <%= f.text_field :organization%>
    </div>
    <div class="field">
    <%= f.label :fecha %>
    <%= f.date_select :date ,:start_year  =>1990, :end_year=>Time.now.year%>
  </div>
  <%= f.hidden_field :resume_id, :value => current_user.resume.id%>
  <div class="actions">
    <%= f.submit "Guardar", :class =>"btn btn-primary" %>
  </div>
<% end %>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><h2> Idiomas </h2></div>
  </div>

  <div class="panel-body">
    <% if @languages.size >0%>
    <ul class="list-group">
      <h5><% @languages.each do |language| %></h5>
      <li class="list-group-item">
        <div>
            <p>
              <b><%=language.name%></b>&emsp;
              <%=language.level%>&emsp;
              <%=language.skill%>
              &emsp;<button class="btn btn-warning btn-sm pull-right"><%=link_to "Editar", [:edit,language]%></button>
            </p>
        </div>
      </li>
      <% end %>
      <% end %>
    </ul>
  </div>

  <div class="panel-footer well">
    <%= form_for :language, url: '/language/new' do |f| %>
      <div class="field">
        <%= f.label :nombre %><br />
        <%= f.text_field :name%>
      </div>
      <div>
        <%=f.label :nivel%>

        <%= f.select(:level, options_for_select(Language.levels)) %>
      </div>
      <div>
        <%=f.label :habilidades%>

        <%= f.select(:skill, options_for_select(Language.skills)) %>
      </div>
          <%= f.hidden_field :resume_id, :value => current_user.resume.id%>

      <div class="actions">
        <%= f.submit "Guardar" , :class =>"btn btn-primary"%>
      </div>
      <% end %>
  </div>
</div>























<script type="text/javascript">
 $('.datepicker').datepicker();
</script>
