<style media="screen">
  @media (min-width: 980px){
  .link-eliminar{
    display:none;
  }
  .button-eliminar{
    display:block;
  }
}
@media (max-width: 979px){
.link-eliminar{
  display:block;
}
.button-eliminar{
  display:none;
}
}
</style>
<div class="container">
  <div class= "panel panel-default panel-heading">
    <h1  class="text-center">Currículum Vitae</h1>
    <ul class="nav nav-tabs">
      <li><a class="tablinks" onclick="openSector(event, 'Academico')" id="defaultOpen">Académico</a></li>
      <li><a class="tablinks" onclick="openSector(event, 'Laboral')">Laboral</a></li>
      <li><a class="tablinks" onclick="openSector(event, 'Seminarios')">Seminarios</a></li>
      <li><a class="tablinks" onclick="openSector(event, 'Publicaciones')">Publicaciones</a></li>
      <li><a class="tablinks" onclick="openSector(event, 'Meritos')">Meritos</a></li>
      <li><a class="tablinks" onclick="openSector(event, 'Membresias')">Membresías</a></li>
      <li><a class="tablinks" onclick="openSector(event, 'Conocimientos')">Conocimientos</a></li>
      <li><a class="tablinks" onclick="openSector(event, 'Habilidades')">Habilidades</a></li>
      <li><a class="tablinks" onclick="openSector(event, 'Idiomas')">Idiomas</a></li>
      <li><a class="tablinks" onclick="openSector(event, 'Referencias')">Referencias</a></li>
    </ul>
  </div>
  <!-- Sector Academico -->
  <div id='Academico' class="tabcontent">
    <div class="panel panel-default">
      <div class="panel-heading"><div class="panel-title"><h3>Formación Académica </h3></div></div>
      <div class="panel-body">
        <ul class="list-group" id="educations_resume">
          <% if @educations.size >0%>
          <% @educations.each do |education| %>
            <li class="list-group-item">
              <div>
                <h4>
                  <b><%=education.title%>&emsp;</b>
                  <div class="btn-group pull-right">
                    <button class="btn btn-danger btn-sm pull-right button-eliminar"><%=link_to 'Eliminar', education , method: :delete , data: { confirm: "Estas seguro de que quieres eliminar esta información?" }, :class=>"button-link"%></button>
                    <%=link_to '<i class="fa fa-times-circle btn-lg pull-right text-danger"style="padding-left:0;padding-right:0;" ></i>'.html_safe, education , method: :delete , data: { confirm: "Estas seguro de que quieres eliminar esta información?" }, :class=>"button-link link-eliminar"%>
                </div>
                <div class="btn-group pull-right">
                  <button class="btn btn-warning btn-sm pull-right button-eliminar" style="position:relative;"><%=link_to "Editar", [:edit,education], :class=>"button-link"%></button>
                  <%=link_to '<i class="fa fa-pencil btn-lg pull-right text-primary" style="padding-left:0;padding-right:0;" ></i>'.html_safe, [:edit,education], :class=>"button-link link-eliminar"%>
                </div>
                </h4>
                <%=education.school_name%>&nbsp;
                <%=education.start_date.year%>&emsp; - &emsp; <%=education.end_date.year%>
              </div>
            </li>
          <%end%>
        <%end%>
      </ul>
    </div>
    <div class="panel-footer well">
      <%=render :partial=>'educations/form'%>
    </div>
  </div>
</div>

<!-- Sector Laboral -->
<div id='Laboral' class="tabcontent">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h3>Experiencia Profesional </h3>
      </div>
    </div>
    <div class="panel-body">
        <ul class="list-group" id="experiencias">
          <% if @experiences.size >0%>
          <% @experiences.each do |experience| %>
          <li class="list-group-item">
          <div>
            <p>
              <h5><b><%=experience.company_name%></b></h5>
              <%=experience.job_title%>&emsp;
              <button class="btn btn-danger btn-sm  pull-right button-eliminar"><%=link_to 'Eliminar', experience , method: :delete , data: { confirm: "Estas seguro de que quieres eliminar esta información?" }, :class=>"button-link"%></button>
              <%=link_to '<i class="fa fa-times-circle btn-lg pull-right text-danger"style="padding-left:0;padding-right:0;" ></i>'.html_safe, experience , method: :delete , data: { confirm: "Estas seguro de que quieres eliminar esta información?" }, :class=>"button-link link-eliminar"%>
              <button class="btn btn-warning btn-sm pull-right button-eliminar" style="position:relative;"><%=link_to "Editar", [:edit,experience], :class=>"button-link"%></button>
              <%=link_to '<i class="fa fa-pencil btn-lg pull-right text-primary" style="padding-left:0;padding-right:0;" ></i>'.html_safe, [:edit,experience], :class=>"button-link link-eliminar"%>

              <br>
              <%=experience.start_job_date%>&emsp; - &emsp;
              <%=experience.finish_job_date%>
              <div>RANGO SALARIAL: <%=experience.salary_range%></div>
            </p>
          </div>
          </li>
          <%end%>
          <%end%>
        </ul>
    </div>
  </div>
  <div class="panel-footer well">
    <%=render :partial=>'experiences/form'%>
  </div>
</div>

<!-- sector Seminarios -->
<div id='Seminarios' class="tabcontent">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h3>Cursos y Seminarios </h3>
      </div>
    </div>
    <div class="panel-body">
      <ul class="list-group" id="cursos">
        <% if @courses.size >0%>
        <h5><% @courses.each do |course| %></h5>
        <li class="list-group-item">
          <div>
            <p>
              <button class="btn btn-danger btn-sm pull-right button-eliminar"><%=link_to 'Eliminar', course , method: :delete , data: { confirm: "Estas seguro de que quieres eliminar esta información?" }, :class=>"button-link"%></button>
              <%=link_to '<i class="fa fa-times-circle btn-lg pull-right text-danger"style="padding-left:0;padding-right:0;" ></i>'.html_safe, course , method: :delete , data: { confirm: "Estas seguro de que quieres eliminar esta información?" }, :class=>"button-link link-eliminar"%>
              <button class="btn btn-warning btn-sm pull-right button-eliminar" style="position:relative;"><%=link_to "Editar", [:edit,course], :class=>"button-link"%></button>
              <%=link_to '<i class="fa fa-pencil btn-lg pull-right text-primary" style="padding-left:0;padding-right:0;" ></i>'.html_safe, [:edit,course], :class=>"button-link link-eliminar"%>
              <b><%=course.date.year%></b>&emsp;
              <%=course.name%>&emsp;
              <%=course.given%>&emsp;
              <%=course.institution%>&emsp;
              <%=course.workload%> Hrs.
            </p>
          </div>
        </li>
        <%end%>
        <%end%>
      </ul>
    </div>

  <div class="panel-footer well">
    <%=render :partial=>'courses/form'%>
  </div>
</div>
</div>

<!-- Sector Publicaciones -->
<div id='Publicaciones' class="tabcontent">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title"><h3> Publicaciones </h3></div>
    </div>
    <div class="panel-body">
      <ul class="list-group" id="publicaciones">
      <% if @publications.size >0%>
        <h5><% @publications.each do |pub| %></h5>
        <li class="list-group-item">
          <div>
            <p>
              <button class="btn btn-danger btn-sm  pull-right button-eliminar"><%=link_to 'Eliminar', pub , method: :delete , data: { confirm: "Estas seguro de que quieres eliminar esta información?" }, :class=>"button-link"%></button>
              <%=link_to '<i class="fa fa-times-circle btn-lg pull-right text-danger"style="padding-left:0;padding-right:0;" ></i>'.html_safe, pub , method: :delete , data: { confirm: "Estas seguro de que quieres eliminar esta información?" }, :class=>"button-link link-eliminar"%>
              <button class="btn btn-warning btn-sm pull-right button-eliminar" style="position:relative;"><%=link_to "Editar", [:edit,pub], :class=>"button-link"%></button>
              <%=link_to '<i class="fa fa-pencil btn-lg pull-right text-primary" style="padding-left:0;padding-right:0;" ></i>'.html_safe, [:edit,pub], :class=>"button-link link-eliminar"%>
              <b><%=pub.date.year%></b>&emsp;<%=pub.name%>&emsp;<%=pub.publicationType%>
              <%=pub.location %>
            </p>
          </div>
        </li>
        <%end%>
      <%end %>
      </ul>
    </div>
  </div>
  <div class="panel-footer well">
    <%=render :partial=>'publications/form'%>
  </div>
</div>

<!-- Sector Habilidades -->
<div id='Meritos' class="tabcontent">
  <div class="panel panel-default">
    <div class="panel-heading"><div class="panel-title"><h3> Meritos </h3></div></div>
    <div class="panel-body">
      <ul class="list-group" id="meritos">
      <% if @merits.size >0%>
          <h5><% @merits.each do |merit| %></h5>
          <li class="list-group-item">
            <div>
              <p>
                <button class="btn btn-danger btn-sm  pull-right button-eliminar"><%=link_to 'Eliminar', merit , method: :delete , data: { confirm: "Estas seguro de que quieres eliminar esta información?" }, :class=>"button-link"%></button>
                <%=link_to '<i class="fa fa-times-circle btn-lg pull-right text-danger"style="padding-left:0;padding-right:0;" ></i>'.html_safe, merit , method: :delete , data: { confirm: "Estas seguro de que quieres eliminar esta información?" }, :class=>"button-link link-eliminar"%>
                <button class="btn btn-warning btn-sm pull-right button-eliminar" style="position:relative;"><%=link_to "Editar", [:edit,merit], :class=>"button-link"%></button>
                <%=link_to '<i class="fa fa-pencil btn-lg pull-right text-primary" style="padding-left:0;padding-right:0;" ></i>'.html_safe, [:edit,merit], :class=>"button-link link-eliminar"%>
                <b><%=merit.date.year%></b>&emsp;<%=merit.name%>&emsp;
              </p>
            </div>
          </li>
          <%end%>
        <%end%>
        </ul>
    </div>
  </div>
  <div class="panel-footer well">
    <%=render :partial=>'merits/form'%>
  </div>
</div>
<!-- Sector Membresias -->
<div id='Membresias' class="tabcontent">
  <div class="panel panel-default">
    <div class="panel-heading"><div class="panel-title"><h3> Membresía </h3></div></div>
    <div class="panel-body">
        <ul class="list-group" id="membresias">
          <% if @memberships.size >0%>
          <h5><% @memberships.each do |member| %></h5>
          <li class="list-group-item">
            <div>
              <p>
                <button class="btn btn-danger btn-sm  pull-right button-eliminar"><%=link_to 'Eliminar', member , method: :delete , data: { confirm: "Estas seguro de que quieres eliminar esta información?" }, :class=>"button-link"%></button>
                <%=link_to '<i class="fa fa-times-circle btn-lg pull-right text-danger"style="padding-left:0;padding-right:0;" ></i>'.html_safe, member , method: :delete , data: { confirm: "Estas seguro de que quieres eliminar esta información?" }, :class=>"button-link link-eliminar"%>
                <button class="btn btn-warning btn-sm pull-right button-eliminar" style="position:relative;"><%=link_to "Editar", [:edit,member], :class=>"button-link"%></button></b>
                <%=link_to '<i class="fa fa-pencil btn-lg pull-right text-primary" style="padding-left:0;padding-right:0;" ></i>'.html_safe, [:edit,member], :class=>"button-link link-eliminar"%>
                <b><%=member.name%> en <%=member.organization%>&emsp;
                desde <%=member.date.year%>&emsp;<br>
              </p>
            </div>
          </li>
          <%end%>
          <%end%>
        </ul>
    </div>
  </div>
  <div class="panel-footer well">
    <%=render :partial=>'memberships/form'%>
  </div>
</div>
<!-- Sector Conocimientos -->
<div id='Conocimientos' class="tabcontent">
  <div class="panel panel-default">
  <div class="panel-heading"><div class="panel-title"><h3> Conocimientos</h3></div></div>
  <div class="panel-body">
    <ul class="list-group" id="conocimientos">
    <% if @knowledges.size >0%>
      <h5><% @knowledges.each do |known| %></h5>
      <li class="list-group-item">
        <div>
          <p>
            <button class="btn btn-danger btn-sm  pull-right button-eliminar"><%=link_to 'Eliminar', known , method: :delete , data: { confirm: "Estas seguro de que quieres eliminar esta información?" }, :class=>"button-link"%></button>
            <%=link_to '<i class="fa fa-times-circle btn-lg pull-right text-danger"style="padding-left:0;padding-right:0;" ></i>'.html_safe, known , method: :delete , data: { confirm: "Estas seguro de que quieres eliminar esta información?" }, :class=>"button-link link-eliminar"%>
            <button class="btn btn-warning btn-sm pull-right button-eliminar" style="position:relative;"><%=link_to "Editar", [:edit,known], :class=>"button-link"%></button>
            <%=link_to '<i class="fa fa-pencil btn-lg pull-right text-primary" style="padding-left:0;padding-right:0;" ></i>'.html_safe, [:edit,known], :class=>"button-link link-eliminar"%>
            <b><%=known.description%></b>&emsp;
            &emsp;
          </p>
        </div>
      </li>
      <% end %>
    <% end %>
  </ul>
  </div>
</div>
    <div class="panel-footer well">
      <%=render :partial=>'knowledges/form'%>
    </div>
</div>
<!-- Sector Habilidades -->
<div id='Habilidades' class="tabcontent">
    <div class="panel panel-default">
      <div class="panel-heading"><div class="panel-title"><h3> Habilidades</h3></div></div>
      <div class="panel-body">
        <ul class="list-group" id="habilidades">
        <% if @skills.size >0%>
          <h5><% @skills.each do |skill| %></h5>
          <li class="list-group-item">
            <div>
              <p>
                <button class="btn btn-danger btn-sm  pull-right button-eliminar"><%=link_to 'Eliminar', skill , method: :delete , data: { confirm: "Estas seguro de que quieres eliminar esta información?" }, :class=>"button-link"%></button>
                <%=link_to '<i class="fa fa-times-circle btn-lg pull-right text-danger"style="padding-left:0;padding-right:0;" ></i>'.html_safe, skill , method: :delete , data: { confirm: "Estas seguro de que quieres eliminar esta información?" }, :class=>"button-link link-eliminar"%>
                <button class="btn btn-warning btn-sm pull-right button-eliminar" style="position:relative;"><%=link_to "Editar", [:edit,skill], :class=>"button-link"%></button>
                <%=link_to '<i class="fa fa-pencil btn-lg pull-right text-primary" style="padding-left:0;padding-right:0;" ></i>'.html_safe, [:edit,skill], :class=>"button-link link-eliminar"%>
                <b><%=skill.description%></b>&emsp;
                &emsp;
              </p>
            </div>
          </li>
          <% end %>
        <% end %>
      </ul>
      </div>
    </div>
    <div class="panel-footer well">
      <%=render :partial=>'skills/form'%>
    </div>
</div>

<!-- Sector Idiomas -->
<div id='Idiomas' class="tabcontent">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title"><h3> Idiomas </h3></div>
    </div>

    <div class="panel-body">
      <ul class="list-group" id="lenguajes">
      <% if @languages.size >0%>
        <h5><% @languages.each do |language| %></h5>
        <li class="list-group-item">
          <div>
              <p>
                <button class="btn btn-danger btn-sm  pull-right button-eliminar"><%=link_to 'Eliminar', language , method: :delete , data: { confirm: "Estas seguro de que quieres eliminar esta información?" }, :class=>"button-link"%></button>
                <%=link_to '<i class="fa fa-times-circle btn-lg pull-right text-danger"style="padding-left:0;padding-right:0;" ></i>'.html_safe, language , method: :delete , data: { confirm: "Estas seguro de que quieres eliminar esta información?" }, :class=>"button-link link-eliminar"%>
                <button class="btn btn-warning btn-sm pull-right button-eliminar" style="position:relative;"><%=link_to "Editar", [:edit,language], :class=>"button-link"%></button>
                <%=link_to '<i class="fa fa-pencil btn-lg pull-right text-primary" style="padding-left:0;padding-right:0;" ></i>'.html_safe, [:edit,language], :class=>"button-link link-eliminar"%>
                <b><%=language.name%></b>&emsp;
                <%=language.level%>&emsp;
                <%=language.skill%>
                &emsp;
              </p>
          </div>
        </li>
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="panel-footer well">
      <%=render :partial=>'languages/form'%>
  </div>
</div>

<!-- Sector Referencia -->
<div id='Referencias' class= "tabcontent">
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><h3> Personas de referencia</h3></div>
  </div>
  <div class="panel-body">
    <% if @referentials.size >0%>
    <ul class="list-group" id="referencias">
      <h5><% @referentials.each do |refer| %></h5>
        <li class="list-group-item">
          <div>
            <p>
              <button class="btn btn-danger btn-sm  pull-right button-eliminar"><%=link_to 'Eliminar', refer , method: :delete , data: { confirm: "Estas seguro de que quieres eliminar esta información?" }, :class=>"button-link"%></button>
              <%=link_to '<i class="fa fa-times-circle btn-lg pull-right text-danger"style="padding-left:0;padding-right:0;" ></i>'.html_safe, refer , method: :delete , data: { confirm: "Estas seguro de que quieres eliminar esta información?" }, :class=>"button-link link-eliminar"%>
              <button class="btn btn-warning btn-sm pull-right button-eliminar" style="position:relative;"><%=link_to "Editar", [:edit,refer], :class=>"button-link"%></button>
              <%=link_to '<i class="fa fa-pencil btn-lg pull-right text-primary" style="padding-left:0;padding-right:0;" ></i>'.html_safe, [:edit,refer], :class=>"button-link link-eliminar"%>
              <b><%=refer.name%></b>
              &emsp;
              <%=refer.number%>&emsp;<%=refer.institution%>
            </p>
          </div>
        </li>
        <%end%>
     <%end%>
    </ul>
  </div>

  <div class="panel-footer well">
    <%=render :partial=>'referentials/form'%>
  </div>
</div>
</div>
</div>




<script>
$(document).ready(function(){
    $('#boton_academico').attr('disabled',true);
    $('#filtrar_u').keyup(function(){
        if($(this).val().length !=0)
          $('#boton_academico').attr('disabled', false);
        else
            $('#boton_academico').attr('disabled',true);
    })

    $('#boton_laboral').attr('disabled',true);
    $('#cargo').keyup(function(){
        if($(this).val().length !=0 )
          $('#boton_laboral').attr('disabled', false);
        else
            $('#boton_laboral').attr('disabled',true);
    })
    $('#boton_seminario').attr('disabled',true);
    $('#nombre_seminario').keyup(function(){
        if($(this).val().length !=0)
          $('#boton_seminario').attr('disabled', false);
        else
            $('#boton_seminario').attr('disabled',true);
    })
    $('#boton_publicaciones').attr('disabled',true);
    $('#nombre_publicacion').keyup(function(){
        if($(this).val().length !=0)
          $('#boton_publicaciones').attr('disabled', false);
        else
            $('#boton_publicaciones').attr('disabled',true);
    })
    $('#boton_meritos').attr('disabled',true);
    $('#merito').keyup(function(){
        if($(this).val().length !=0)
          $('#boton_meritos').attr('disabled', false);
        else
            $('#boton_meritos').attr('disabled',true);
    })
    $('#boton_membresias').attr('disabled',true);
    $('#membresia').keyup(function(){
        if($(this).val().length !=0)
          $('#boton_membresias').attr('disabled', false);
        else
            $('#boton_membresias').attr('disabled',true);
    })
    $('#boton_conocimmiento').attr('disabled',true);
    $('#conocimiento').keyup(function(){
        if($(this).val().length !=0)
          $('#boton_conocimmiento').attr('disabled', false);
        else
            $('#boton_conocimmiento').attr('disabled',true);
    })
    $('#boton_habilidades').attr('disabled',true);
    $('#habilidad').keyup(function(){
        if($(this).val().length !=0)
          $('#boton_habilidades').attr('disabled', false);
        else
            $('#boton_habilidades').attr('disabled',true);
    })
    $('#boton_idiomas').attr('disabled',true);
    $('#idioma').keyup(function(){
        if($(this).val().length !=0)
          $('#boton_idiomas').attr('disabled', false);
        else
            $('#boton_idiomas').attr('disabled',true);
    })
    $('#boton_referencias').attr('disabled',true);
    $('#referencia').keyup(function(){
        if($(this).val().length !=0)
          $('#boton_referencias').attr('disabled', false);
        else
            $('#boton_referencias').attr('disabled',true);
    })
});
</script>


<script>
$(document).ready(function () {
            (function ($) {
                $('#filtrar').keyup(function () {
                    var rex = new RegExp($(this).val(), 'i');
                    $('#titulos option').hide();
                    $('#titulos option').filter(function () {
                        return rex.test($(this).text());
                    }).show();
                })
            }(jQuery));
        });
</script>
<script>
var e=document.getElementById('filtrar');
$("#titulos").change(function(){
  $("#filtrar").val(this.value);
}).change();
</script>




<script>
window.onload = function() {
 var checkbox2 = document.getElementById('checkboxDate');
 if (checkbox2.checked) {
 document.getElementById("date").style.display = "none";
 } else {
 document.getElementById("date").style.display = "block";
 }
};

$('#checkboxDate').click(function() {
  $('#date')[this.checked ? "hide" : "show"]();
});
</script>








<script>
document.getElementById("defaultOpen").click();
function openSector(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

window.onload = function() {
  document.getElementById("defaultOpen").click();
 var checkbox = document.getElementById('checkbox');
 if (checkbox.checked) {
 document.getElementById("rest").style.display = "block";
 } else {
 document.getElementById("rest").style.display = "none";
 }
};
$('#checkbox').click(function() {
  $('#rest')[this.checked ? "show" : "hide"]();
});


</script>
<style>
  .button-link{
      color: white;
  }
</style>
