<div class="container">
  <div class= "panel panel-default panel-heading">
    <h1  class="text-center">Currículum Vitae</h1>
    <ul class="nav nav-tabs">
      <li><a class="tablinks" onclick="openSector(event, 'Academico')" id="defaultOpen">Académico</a></li>
      <li><a class="tablinks" onclick="openSector(event, 'Laboral')">Laboral</a></li>
      <li><a class="tablinks" onclick="openSector(event, 'Seminarios')">Seminarios</a></li>
      <li><a class="tablinks" onclick="openSector(event, 'Publicaciones')">Publicaciones</a></li>
      <li><a class="tablinks" onclick="openSector(event, 'Meritos')">Méritos</a></li>
      <li><a class="tablinks" onclick="openSector(event, 'Membresias')">Membresías</a></li>
      <li><a class="tablinks" onclick="openSector(event, 'Conocimientos')">Conocimientos</a></li>
      <li><a class="tablinks" onclick="openSector(event, 'Habilidades')">Habilidades</a></li>
      <li><a class="tablinks" onclick="openSector(event, 'Idiomas')">Idiomas</a></li>
      <li><a class="tablinks" onclick="openSector(event, 'Referencias')">Referencias</a></li>
    </ul>
  </div>
  <!-- Sector Academico -->
  <div id='Academico' class="tabcontent">
    <div class="panel panel-default">
      <div class="panel-heading"><div class="panel-title"><h3>Formacion Académica </h3></div></div>
        <div class="panel-body">
          <% if @educations.size >0%>
          <ul class="list-group">
            <% @educations.each do |education| %>
              <li class="list-group-item">
                <div>
                  <h4>  <b><%=education.title%>&emsp;</b><button class="btn btn-warning btn-sm pull-right" style="position:relative;"><%=link_to "Editar", [:edit,education]%></button></h4>
                  <%=education.school_name%>&nbsp;
                  <%=education.start_date.year%>&emsp; - &emsp; <%=education.end_date.year%>
                </div>
              </li>
            <%end%>
          <%end%>
        </ul>
      </div>
    </div>
    <div class="panel-footer well">
      <%= form_for :education, url: '/education/new' do |f| %>
        <div  class="field col col-md-3 col-xs-3">
          <%= f.label :Grado_académico %>:
          <!-- <%= f.select(:title,["Licenci>atura", "Maestria", "Doctorado", "Post Grado"])%> -->
          <div>
            <%= f.select :title,@title_list,{},class:"form-control  col-12 col-md-9 col-xs-12"%>
          </div>
        </div>
        <div class="field col col-md-3 col-xs-3">
          <%= f.label :institución %>:
          <%= f.text_field :school_name%>
        </div>
        <div class="field col col-md-3 col-xs-3">
          <%= f.label :descripción %>:
          <%= f.text_area :description%>
        </div><br><br>
        <div class="field col col-md-3 col-xs-3">
          <%= f.label :Fecha_ingreso %>:
          <%= f.date_select :start_date,:start_year  =>1990, :end_year=>Time.now.year + 5%>
        </div>
        <div class="field col col-md-3 col-xs-3">
          <%= f.label :fecha_egreso %>:
          <%= f.date_select :end_date ,:start_year  =>1990, :end_year=>Time.now.year + 5%>
        </div>
        <br>
        <%= f.hidden_field :resume_id, :value => @user.resume.id%>
        <div class="actions field col col-md-3 col-xs-3" >
          <%= f.submit "Guardar" , :class =>"btn btn-primary"%>
        </div>
        <br><br><br><br><br>
      <% end %>
    </div>
  </div>

<!-- Sector Laboral -->
<div id='Laboral' class="tabcontent">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h3>Experiencia Profesional </h3>
      </div>
    </div>
    <div class="panel-body">
      <% if @experiences.size >0%>
        <ul class="list-group">
          <% @experiences.each do |experience| %>
          <li class="list-group-item">
          <div>
            <p>
              <h5><b><%=experience.company_name%></b></h5>
              <%=experience.job_title%>&emsp;<button class="btn btn-warning btn-sm pull-right" style="position:relative;"><%=link_to "Editar", [:edit,experience]%></button><br>
              <%=experience.start_job_date%>&emsp; - &emsp;
              <%=experience.finish_job_date%>
              <div>RANGO SALARIAL: <%=experience.salary_range%></div>
            </p>
          </div>
          </li>
          <%end%>
        </ul>
      <%end%>
    </div>
  </div>
  <div class="panel-footer well">
    <%= form_for :experience, url: '/experience/new' do |f| %>
    <div class="field col col-md-4">
      <%= f.label :cargo_profesional %>:<br />
      <%= f.text_field :job_title%>
    </div>
    <div class="field col col-md-4">
      <%= f.label :empresa %>:<br />
      <%= f.text_field :company_name%>
    </div>
    <div class="field col col-md-4">
      <%= f.label :actividades_a_cargo %>:<br />
      <%= f.text_field :job_description%>
    </div>
    <div class="field">
      <input type="checkbox" id="checkbox" name="checkbox">Desea agregar una persona de referencia
    </div>
    <div id="rest" style="display:none;">
      <div class="field">
        <%= f.label :Persona_de_Referencia %><br />
        <%= f.text_field :referential%>
      </div>
      <div class="field">
        <%= f.label :número_de_referencia %>
        <%= f.number_field :referential_number%>
      </div>
    </div>
    <div class="field pull-right" style="position:relative;">
      ESTA INFORMACIÓN NO ES PUBLICA
      <%= f.label :rango_salarial %>
      <%= f.select(:salary_range, options_for_select(Experience.salary_range)) %>
    </div>
    <div class="field">
      <%= f.label :Fecha_ingreso %>
      <%= f.date_select :start_date ,:start_year  =>1990, :end_year=>Time.now.year%>
    </div>
    <div class="field" id="date" style="display:none;">
      <%= f.label :fecha_salida %>
      <%= f.date_select :end_date ,:start_year  =>1990, :end_year=>Time.now.year%>
    </div>
    <div class="field">
      <%=f.label :si_aun_sigue_por_favor_deje_marcada_esta_casilla%>
      <input type="checkbox" id="checkboxDate" name="until_now", checked="true">
    </div>
      <%= f.hidden_field :resume_id, :value => @user.resume.id%>
    <div class="actions">
      <%= f.submit "Guardar", :class =>"btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>

<!-- sector Seminarios -->
<div id='Seminarios' class="tabcontent">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h3>Cursos y Seminarios </h3>
      </div>
    </div>
    <div class="panel-body">
    <% if @courses.size >0%>
      <ul class="list-group">
        <h5><% @courses.each do |course| %></h5>
        <li class="list-group-item">
          <div>
            <p>
              <b><%=course.date.year%></b>&emsp;
              <%=course.name%>&emsp;
              <%=course.given%>&emsp;
              <%=course.institution%>&emsp;
              <%=course.workload%> Hrs.
              &emsp;<button class="btn btn-warning btn-sm pull-right" style="position:relative;"><%=link_to "Editar", [:edit,course]%></button>
            </p>
          </div>
          </li>
          <%end%>
        </ul>
      <%end%>
    </div>
  </div>
  <div class="panel-footer well">
    <%= form_for :course, url: '/course/new' do |f| %>
      <div class="field col col-md-4 col-xs-4">
        <%= f.label :nombre_del_curso_o_seminario %><br />
        <%= f.text_field :name%>
      </div>
      <div class="field col col-md-4 col-xs-4">
        <%= f.label :fecha %>
        <%= f.date_select :date ,:start_year  =>1990, :end_year=>Time.now.year%>
      </div>
      <div class="field col col-md-4 col-xs-4">
        <%=f.label :participé_como%>
        <%= f.select(:given, options_for_select(Course.participations)) %>
      </div>
      <div class="field col col-md-4 col-xs-4">
        <%= f.label :carga_horaria %><br />
        <%= f.number_field :workload%> Hrs.
      </div>
      <div class="field col col-md-4 col-xs-4">
        <%= f.label :institución %><br />
        <%= f.text_field :institution%>
      </div>
        <%= f.hidden_field :resume_id, :value => @user.resume.id%>
      <div class="actions">
        <%= f.submit "Guardar" , :class =>"btn btn-primary"%>
      </div>
    <% end %>
  </div>
</div>

<!-- Sector Publicaciones -->
<div id='Publicaciones' class="tabcontent">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title"><h3> Publicaciones </h3></div>
    </div>
    <div class="panel-body">
      <% if @publications.size >0%>
      <ul class="list-group">
        <h5><% @publications.each do |pub| %></h5>
        <li class="list-group-item">
          <div>
            <p>
              <b><%=pub.date.year%></b>&emsp;<%=pub.name%>&emsp;<%=pub.publicationType%><button class="btn btn-warning btn-sm pull-right" style="position:relative;"><%=link_to "Editar", [:edit,pub]%></button><br>
              <%=pub.location%>
            </p>
          </div>
        </li>
        <%end%>
      <%end%>
      </ul>
    </div>
  </div>
  <div class="panel-footer well">
    <%= form_for :publication, url: '/publication/new' do |f| %>
      <div class="field col col-md-4 col-xs-4">
        <%= f.label :tipo_de_publicacion %>
        <%= f.select( :publicationType, @publicationTypes.map {|a| [a]}) -%>
      </div>
      <div class="field col col-md-4 col-xs-4">
        <%= f.label :Nombre %><br />
        <%= f.text_field :name%>
      </div>
      <div class="field col col-md-4 col-xs-4">
        <%= f.label :lugar %><br />
        <%= f.text_field :location%>
      </div>
      <div class="field col col-md-4 col-xs-4">
        <%= f.label :fecha %>
        <%= f.date_select :date ,:start_year  =>1990, :end_year=>Time.now.year%>
      </div>
      <%= f.hidden_field :resume_id, :value => @user.resume.id%>
      <div class="actions">
        <%= f.submit "Guardar", :class =>"btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<!-- Sector Habilidades -->
<div id='Meritos' class="tabcontent">
  <div class="panel panel-default">
    <div class="panel-heading"><div class="panel-title"><h3> Méritos </h3></div></div>
    <div class="panel-body">
      <% if @merits.size >0%>
        <ul class="list-group">
          <h5><% @merits.each do |merit| %></h5>
          <li class="list-group-item">
            <div>
              <p>
                <b><%=merit.date.year%></b>&emsp;<%=merit.name%>&emsp;<button class="btn btn-warning btn-sm pull-right" style="position:relative;"><%=link_to "Editar", [:edit,merit]%></button><br>
              </p>
            </div>
          </li>
          <%end%>
        </ul>
      <%end%>
    </div>
  </div>
  <div class="panel-footer well">
    <%= form_for :merit, url: '/merit/new' do |f| %>
    <div class="field col col-md-4 col-xs-4">
      <%= f.label :Mérito %>:
      <%= f.text_field :name%>
    </div>
    <div class="field col col-md-4 col-xs-4">
      <%= f.label :fecha %>
      <%= f.date_select :date ,:start_year  =>1990, :end_year=>Time.now.year%>
    </div>
    <%= f.hidden_field :resume_id, :value => @user.resume.id%>
    <div class="actions">
      <%= f.submit "Guardar", :class =>"btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>
<!-- Sector Membresias -->
<div id='Membresias' class="tabcontent">
  <div class="panel panel-default">
    <div class="panel-heading"><div class="panel-title"><h3> Membresía </h3></div></div>
    <div class="panel-body">
      <% if @memberships.size >0%>
        <ul class="list-group">
          <h5><% @memberships.each do |member| %></h5>
          <li class="list-group-item">
            <div>
              <p>
                <b><%=member.name%> en <%=member.organization%>&emsp;<button class="btn btn-warning btn-sm pull-right" style="position:relative;"><%=link_to "Editar", [:edit,member]%></button></b><br>
                desde <%=member.date.year%>&emsp;<br>
              </p>
            </div>
          </li>
          <%end%>
        </ul>
      <%end%>
    </div>
  </div>
  <div class="panel-footer well">
    <%= form_for :membership, url: '/member/new' do |f| %>
    <div class="field col col-md-4 col-xs-4">
      <%= f.label :título %>:<br />
      <%= f.text_field :name%>
    </div>
    <div class="field col col-md-4 col-xs-4">
      <%= f.label :comunidad %>:<br />
      <%= f.text_field :organization%>
    </div>
    <div class="field col col-md-4 col-xs-4">
      <%= f.label :fecha %>
      <%= f.date_select :date ,:start_year  =>1990, :end_year=>Time.now.year%>
    </div>
    <%= f.hidden_field :resume_id, :value => @user.resume.id%>
    <div class="actions">
      <%= f.submit "Guardar", :class =>"btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>
<!-- Sector Conocimientos -->
<div id='Conocimientos' class="tabcontent">
  <div class="panel panel-default">
  <div class="panel-heading"><div class="panel-title"><h3> Conocimientos</h3></div></div>
  <div class="panel-body">
    <% if @knowledges.size >0%>
    <ul class="list-group">
      <h5><% @knowledges.each do |known| %></h5>
      <li class="list-group-item">
        <div>
          <p>
            <b><%=known.description%></b>&emsp;
            &emsp;<button class="btn btn-warning btn-sm pull-right" style="position:relative;"><%=link_to "Editar", [:edit,known]%></button>
          </p>
        </div>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
    <div class="panel-footer well">
      <%= form_for :knowledge, url: '/knowledge/new' do |f| %>
      <div class="field">
        <%= f.label :conocimiento %><br />
        <%= f.text_field :description%>
      </div>
      <%= f.hidden_field :resume_id, :value => @user.resume.id%>
      <div class="actions">
        <%= f.submit "Guardar" , :class =>"btn btn-primary"%>
      </div>
      <% end %>
    </div>
</div>
<!-- Sector Habilidades -->
<div id='Habilidades' class="tabcontent">
    <div class="panel panel-default">
      <div class="panel-heading"><div class="panel-title"><h3> Habilidades</h3></div></div>
      <div class="panel-body">
        <% if @skills.size >0%>
        <ul class="list-group">
          <h5><% @skills.each do |skill| %></h5>
          <li class="list-group-item">
            <div>
              <p>
                <b><%=skill.description%></b>&emsp;
                &emsp;<button class="btn btn-warning btn-sm pull-right" style="position:relative;"><%=link_to "Editar", [:edit,skill]%></button>
              </p>
            </div>
          </li>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>
    <div class="panel-footer well">
      <%= form_for :skill, url: '/skill/new' do |f| %>
        <div class="field">
          <%= f.label :habilidad %><br />
          <%= f.text_field :description%>
        </div>
            <%= f.hidden_field :resume_id, :value => @user.resume.id%>
        <div class="actions">
          <%= f.submit "Guardar" , :class =>"btn btn-primary"%>
        </div>
      <% end %>
    </div>
</div>

<!-- Sector Idiomas -->
<div id='Idiomas' class="tabcontent">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title"><h3> Idiomas </h3></div>
    </div>

    <div class="panel-body">
      <% if @languages.size >0%>
      <ul class="list-group">
        <h5><% @languages.each do |language| %></h5>
        <li class="list-group-item">
          <div>
              <p>
                <b><%=language.name%></b>&emsp;
                <%=language.level%>&emsp;
                <%=language.skill%>
                &emsp;<button class="btn btn-warning btn-sm pull-right" style="position:relative;"><%=link_to "Editar", [:edit,language]%></button>
              </p>
          </div>
        </li>
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="panel-footer well">
    <%= form_for :language, url: '/language/new' do |f| %>
      <div class="field">
        <%= f.label :idioma %><br />
        <%= f.text_field :name%>
      </div>
      <div>
        <%=f.label :nivel%>

        <%= f.select(:level, options_for_select(Language.levels)) %>
      </div>
      <div>
        <%=f.label :habilidades%>

        <%= f.select(:skill, options_for_select(Language.skills)) %>
      </div>
          <%= f.hidden_field :resume_id, :value => @user.resume.id%>

      <div class="actions">
        <%= f.submit "Guardar" , :class =>"btn btn-primary"%>
      </div>
      <% end %>
  </div>
</div>

<!-- Sector Referencia -->
<div id='Referencias' class= "tabcontent">
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><h3> Personas de referencia</h3></div>
  </div>
  <div class="panel-body">
    <% if @referentials.size >0%>
    <ul class="list-group">
      <h5><% @referentials.each do |refer| %></h5>
        <li class="list-group-item">
          <div>
            <p>
              <b><%=refer.name%></b>
              &emsp;<button class="btn btn-warning btn-sm pull-right" style="position:relative;"><%=link_to "Editar", [:edit,refer]%></button><br>
              <%=refer.number%>&emsp;<%=refer.institution%>
            </p>
          </div>
        </li>
        <%end%>
     <%end%>
    </ul>
  </div>

  <div class="panel-footer well">
    <%= form_for :referential, url: '/referential/new' do |f| %>
    <div class="field">
      <%= f.label :nombre_de_la_persona_de_referencia %><br />
      <%= f.text_field :name %>
    </div>
      <div class="field">
      <%= f.label :institución %><br />
      <%= f.text_field :institution%>
    </div>
      <div class="field">
      <%= f.label :número_de_referencia %><br />
      <%= f.number_field :number%>
    </div>
    <%= f.hidden_field :resume_id, :value => @user.resume.id%>
    <div class="actions">
      <%= f.submit "Guardar", :class =>"btn btn-primary" %>
    </div>
  <% end %>
  </div>
</div>
</div>
</div>












<script>
window.onload = function() {
 var checkbox2 = document.getElementById('checkboxDate');
 if (checkbox2.checked) {
 document.getElementById("date").style.display = "none";
 } else {
 document.getElementById("date").style.display = "block";
 }
};

$('#checkboxDate').click(function() {
  $('#date')[this.checked ? "hide" : "show"]();
});
</script>








<script>
document.getElementById("defaultOpen").click();
function openSector(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

window.onload = function() {
 var checkbox = document.getElementById('checkbox');
 if (checkbox.checked) {
 document.getElementById("rest").style.display = "block";
 } else {
 document.getElementById("rest").style.display = "none";
 }
};
$('#checkbox').click(function() {
  $('#rest')[this.checked ? "show" : "hide"]();
});

</script>
