<div class="container">

  <div class="pull-right">
    <br><br>
    <button id="mostrar_todo" onclick="mostrar_todo()" class="btn btn-primary button-cv">Mostrar CV completo</button>
    <button id="ocultar_todo" onclick="ocultar_todo()" style="display:none" class="btn btn-primary button-cv">Mostrar CV resumido</button>
    <button id="publicar" class="btn btn-success">Publicar</button>
  </div>

  <div id="addSuggestion" class="modal" >
      <div class="modal-content" style="width:50%">
          <span class="close" id="closeSuggestion">&times;</span>
          <%= form_for :post, url:'/posts/oferta' do |f| %>
            <p>La oferta de trabajo enviada a esta persona se publicará en su muro, al igual que la información de contacto registrado de tu empresa</p>
            <div class="field">
              <%= f.label :Agrega_tu_comentario_aqui %>:<br>
              <%= f.text_area :comment, class: "form-control",:id=>'text_form',:maxlength=>600 %>
            </div>
            <div class="field">
              <%= f.hidden_field :user_id, :value=>current_user.id %>
            </div>
            <div class="actions">
              <%= f.submit "Enviar", class: "btn btn-success",:id=>'boton_enviar',:disabled=>true%>
            </div>
          <% end %>

      </div>
  </div>
  <script>
  var botonComentario= document.getElementById("publicar")
  var modalComentario = document.getElementById("addSuggestion");
  var spanComentario =document.getElementById("closeSuggestion");
  // var btns=document.getElementById("aceptar");
  spanComentario.onclick = function() {
      modalComentario.style.display = "none";
  };
  botonComentario.onclick =function(){
    // alert("algo raro");
    modalComentario.style.display ="block";
  };

  $(document).ready(function(){
      $('#boton_enviar').attr('disabled',true);
      $('#text_form').keyup(function(){
          if($(this).val().length !=0)
            $('#boton_enviar').attr('disabled', false);
          else
              $('#boton_enviar').attr('disabled',true);
      })
  });
  </script>

  <div>
    <h2><%=@user.name%> <%=@user.last_name%></h2>
  </div>
  <div class="container-body ">
  <%if !@user.is_company?%>
    <div class="container">
      <h2>Informacion Personal</h2>
      <div class="container">
        <b>Direccion: </b><%=@personal_info.address%><br>
        <b>Fecha de Nacimiento: </b><%=@personal_info.translate_birthdate_to_string%> <br>
        <b>Fijo: </b><%=@personal_info.phone%><br>
        <b>Movil: </b><%=@personal_info.cellphone%><br>
        <b>e-mail: </b><%=@user.email%><br>
      </div>
    </div>
    <% if @educations.size >0%>
    <div class="container">
      <h2>Formacion Academica </h2>
      <div class="container">
        <h5><% @educations.each do |education| %></h5>
        <div>
          <p>
            <h5><b><%=education.title%></b></h5>
            <%if education.description.size>0%>
              <%=education.description%>
              <br>
            <%end%>
            <%=education.school_name%>&nbsp;
            <%=education.start_date.year%>&emsp; - &emsp; <%=education.end_date.year%>
          </p>
        </div>
        <%end%>
      </div>
    </div>
    <%end%>
    <% if @experiences.size >0%>
    <div class="container">
      <h2>Experiencia Profesional </h2>
      <div class="container">
        <h5><% @experiences.each do |experience| %></h5>
          <div>
            <p>
              <h5><b><%=experience.company_name%></b></h5>
              <%=experience.job_title%><br>
              <%=experience.start_job_date%>&emsp; - &emsp;
              <%=experience.finish_job_date%>&emsp;
              <div class="para-completo" style="display:none">
                Actividades a cargo: <%=experience.job_description%><br>
                Personas bajo mi cargo: <%=experience.in_my_charge%>
            </div>
            </p>
          </div>
        <%end%>
      </div>
    </div>
    <%end%>
    <% if @courses.size >0%>
    <div class="container">
      <h2>Cursos y Seminarios </h2>
      <div class="container">
        <h5><% @courses.each do |course| %></h5>
          <div>
            <p>
              <b><%=course.date.year%></b>&emsp;
              <%=course.name%>&emsp;
              <%=course.given%>&emsp;
              <%=course.institution%>&emsp;
              <%=course.workload%>&emsp; Hrs.
            </p>
          </div>
        <%end%>
      </div>
    </div>
    <%end%>
    <% if @knowledges.size >0%>
    <div class="container">
      <h2> Conocimientos</h2>
      <div class="container">
        <h5><% @knowledges.each do |know| %></h5>
          <div>
            <p>
              <b><%=know.area%></b>
              <%=know.description%>
            </p>
          </div>
        <%end%>
      </div>
    </div>
    <%end%>
    <% if @publications.size >0%>
    <div class="container">
      <h2> Publicaciones </h2>
      <div class="container">
        <h5><% @publications.each do |pub| %></h5>
          <div>
            <p>
              <b><%=pub.publicationType%></b><br>
              <%=pub.date.year%>&emsp;<b><%=pub.name%></b><br>
              <%=pub.location%>
            </p>
          </div>
        <%end%>
      </div>
    </div>
    <%end%>
    <% if @skills.size >0%>
    <div class="container">
      <h2> Habilidades</h2>
      <div class="container">
        <h5><% @skills.each do |skill| %></h5>
        <div>
          <p>
            <%=skill.description%>
          </p>
        </div>
        <%end%>
      </div>
    </div>
    <%end%>
    <% if @merits.size >0%>
    <div class="container">
     <h2> Meritos </h2>
     <div class="container">
       <h5><% @merits.each do |merit| %></h5>
       <div>
        <p>
          <b><%=merit.date.year%></b>&emsp;<%=merit.name%><br>
        </p>
       </div>
       <%end%>
     </div>
    </div>
    <%end%>
    <% if @memberships.size >0%>
    <div class="container">
      <h2> Membresia </h2>
      <div class="container">
        <h5><% @memberships.each do |member| %></h5>
          <div>
            <p>
              <b><%=member.name%> en <%=member.organization%></b><br>
              desde <%=member.date.year%>&emsp;<br>
            </p>
          </div>
        <%end%>
      </div>
    </div>
    <%end%>
    <% if @languages.size >0%>
    <div class="container">
      <h2> Idiomas </h2>
      <div class="container">
        <h5><% @languages.each do |language| %></h5>
         <div>
           <p>
             <b><%=language.name%> Nivel:  <%=language.level%> Destreza: <%=language.skill%></b><br>
           </p>
         </div>
        <%end%>
      </div>
    </div>
    <%end%>
  </div>
  <%end%>
</div>
<script>
function mostrar_todo(){
  var divs=document.getElementsByClassName("para-completo");
  var btn1=document.getElementById("mostrar_todo").style.display="none";
  var btn2=document.getElementById("ocultar_todo").style.display="block";
  for (var i=0;i<=divs.length;i++)
  {
    divs[i].style.display="block";
  }
}
function ocultar_todo(){
  var btn1=document.getElementById("mostrar_todo").style.display="block";
  var btn2=document.getElementById("ocultar_todo").style.display="none";
  var divs=document.getElementsByClassName("para-completo");
  for (var i=0;i<=divs.length;i++)
  {
    divs[i].style.display="none";
  }
}
</script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
