<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-sidebar w3-bar-block w3-card w3-black w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-bar-item w3-button  w3-tiny"style="right:0px;"
  onclick="w3_close()">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&emsp;&emsp;Cerrar &times;</button>
  <a onclick="original()" class="w3-bar-item w3-button">Original</a>
  <a onclick="pintarAzul()" class="w3-bar-item w3-button">Estilo 1 Azul</a>
  <a onclick="pintarRojo()" class="w3-bar-item w3-button">Estilo 1 Rojo</a>
</div>


<div style="top:150px; position:fixed;">
  <div class="side-bar">
    <button id="openNav" class="btn btn-md" onclick="w3_open()">Mas opciones &#9776;</button>
  </div>
  <div id="original-link" style="display:block">
  <%= link_to 'Exportar como PDF',resume_path(@resume.id, format: "pdf"), :format => :pdf,:class=>"btn btn-default",target: '_blank' %>
  </div>
  <div id="azul-link" style="display:none">
  <%= link_to 'Exportar como PDF','/resumes/bajar.pdf',:format => :pdf,:class=>"btn btn-default",target: '_blank' %>
  </div>
  <div id="rojo-link" style="display:none">
  <%= link_to 'Exportar como PDF','/resumes/bajar_red.pdf', :format => :pdf,:class=>"btn btn-default",target: '_blank' %>
  </div>
  <div>
    <button id="mostrar_todo" onclick="mostrar_todo()">Mostrar CV completo</button>
    <button id="ocultar_todo" onclick="ocultar_todo()" style="display:none">Mostrar CV resumido</button>
  </div>
</div>
<div class="container" id="main">
<div class="container">
<div class="row-fluid" style="background-color: #f0f0f0; border-top-left-radius: 10px; border-top-right-radius: 10px;">
  <h2><%=@user.name%> <%=@user.last_name%>
    <%=image_tag(@picture.image.url, class: 'img-thumbnail pull-right',style:"width:150px;height:150px")%>
  </h2>
</div>
  <div class="container-body " id="cv-original">
    <div class="container">
    <div class="container">
      <div class="container">
      </div>
    <div class="container">
    <div class="container">
    <h2>Informacion Personal</h2>
    <div class="container">
      <b>Género: </b><%=@personal_info.gender_to_string%><br>
      <b>Direccion: </b><%=@personal_info.address%><br>
      <b>Fecha de Nacimiento: </b><%=@personal_info.translate_birthdate_to_string%> <br>
      <b>Fijo: </b><%=@personal_info.phone%><br>
      <b>Movil: </b><%=@personal_info.cellphone%><br>
      <b>e-mail: </b><%=@user.email%><br>
    </div>
  </div>
  <div class="container">
    <h2>Formacion Academica </h2>
    <div class="container">
    <% if @educations.size >0%>
    <h5><% @educations.each do |education| %></h5>
            <div >
                <p >
                  <h5><b><%=education.title%></b></h5>
                  <%if education.description.size>0%>
                    <%=education.description%>
                    <br>
                  <%end%>
                <%=education.school_name%>&nbsp;
                  <%=education.start_date.year%>&emsp; - &emsp; <%=education.end_date.year%>
                </p>
            </div>
        <%end%>
     <%end%>
  </div>
</div>

  <div class="container">
    <h2>Experiencia Profesional </h2>
    <div class="container">
        <% if @experiences.size >0%>
    <h5><% @experiences.each do |experience| %></h5>
            <div>
                <p>
                  <h5><b><%=experience.company_name%></b></h5>
                  <%=experience.job_title%><br>
                  <%=experience.start_job_date%>&emsp; - &emsp;
                  <%=experience.finish_job_date%>&emsp;
                  <div class="para-completo" style="display:none">
                    Actividades a cargo: <%=experience.job_description%><br>
                    Personas bajo mi cargo: <%=experience.in_my_charge%>
                </div>
                </p>
            </div>
        <%end%>
     <%end%>
   </div>
 </div>
 <% if @courses.size >0%>
<div class="container">
<h2>Cursos y Seminarios </h2>
<div class="container">
    <h5><% @courses.each do |course| %></h5>
            <div>
                <p>
                  <b><%=course.date.year%></b>&emsp;
                  <%=course.name%>&emsp;
                  <%=course.given%>&emsp;
                  <%=course.institution%>&emsp;
                  <%=course.workload%>&emsp; Hrs.
                </p>
            </div>
        <%end%>
   </div>
 </div>
 <%end%>
 <% if @knowledges.size >0%>
 <div class="container">
     <h2> Conocimientos</h2>
     <div class="container">
    <h5><% @knowledges.each do |know| %></h5>
            <div>
                <p>
                  <b><%=know.area%></b>
                  <%=know.description%>
                </p>
            </div>
        <%end%>
   </div>
 </div>
 <%end%>
 <% if @skills.size >0%>
 <div class="container">
     <h2> Habilidades</h2>
     <div class="container">
    <h5><% @skills.each do |skill| %></h5>
            <div>
                <p>
                  <%=skill.description%>
                </p>
            </div>
        <%end%>
   </div>
 </div>
 <%end%>
 <% if @publications.size >0%>
 <div class="container">
     <h2> Publicaciones </h2>
     <div class="container">
    <h5><% @publications.each do |pub| %></h5>
            <div>
                <p>
                  <b><%=pub.publicationType%></b><br>
                  <%=pub.date.year%>&emsp;<b><%=pub.name%></b><br>
                  <%=pub.location%>

                </p>
            </div>
        <%end%>
   </div>
 </div>
 <%end%>
 <% if @merits.size >0%>
 <div class="container">
     <h2> Meritos </h2>
     <div class="container">
    <h5><% @merits.each do |merit| %></h5>
            <div>
                <p>
                  <b><%=merit.date.year%></b>&emsp;<%=merit.name%><br>
                </p>
            </div>
        <%end%>
   </div>
 </div>
 <%end%>
 <% if @memberships.size >0%>
 <div class="container">
<h2> Membresia </h2>
<div class="container">
    <h5><% @memberships.each do |member| %></h5>
            <div>
                <p>
                  <b><%=member.name%> en <%=member.organization%></b><br>
                  desde <%=member.date.year%>&emsp;<br>
                </p>
            </div>
        <%end%>
</div>
</div>
<%end%>
<% if @languages.size >0%>
<div class="container">
 <h2> Idiomas </h2>
 <div class="container">
     <h5><% @languages.each do |language| %></h5>
             <div>
                 <p>
                   <b><%=language.name%><br></b>
                      <b>Nivel: </b> <%=language.level%> <br>
                    <b>  Destreza: </b><%=language.skill%><br>
                 </p>
             </div>
         <%end%>
    </div>
  </div>
  <%end%>
</div>
</div>
</div>
</div>
</div>
</div>
  <!-- TIPO DE CURRICULUM VERDE -->
<div class="container">
  <div class="container-body " id="cv-azul">
          <div class="section-container-blue">
            <%=image_tag(@picture.image.url, class: 'img-thumbnail pull-right',style:"width:150px;height:150px;right:30%;")%>
            <div class="container">
              <div class="container">
                <h1 class="cv-title-name"><b><%=current_user.name%> <%=current_user.last_name%></b> </h1>
                <h3 class="cv-title-name"><%=@user.last_education.title %></h3>
              </div>
            </div>
          </div>
            <div class="section-title-blue">
            <h2>Informacion Personal</h2>
           </div>
          <div class="line-separator-blue">
          </div>
            <div class="container section-container-blue">
              <br>
              <b>Género: </b><%=@personal_info.gender_to_string%><br>
              <b>Direccion: </b><%=@personal_info.address%><br>
              <b>Fecha de Nacimiento: </b><%=@personal_info.translate_birthdate_to_string%> <br>
              <b>Fijo: </b><%=@personal_info.phone%><br>
              <b>Movil: </b><%=@personal_info.cellphone%><br>
              <b>e-mail: </b><%=@user.email%><br>
            </div>
            <br>
  <div class="section-title-blue">
    <h2>Formacion Academica </h2>
  </div>
  <div class="line-separator-blue">
  </div>
    <div class="container section-container-blue">
      <br>
    <% if @educations.size >0%>
    <h5><% @educations.each do |education| %></h5>
            <div >
                <p >
                  <h5><b><%=education.title%></b></h5>
                  <%if education.description.size>0%>
                    <%=education.description%>
                    <br>
                  <%end%>
                <%=education.school_name%>&nbsp;
                  <%=education.start_date.year%>&emsp; - &emsp; <%=education.end_date.year%>
                </p>
            </div>
        <%end%>
     <%end%>
  </div>
<br>
<% if @experiences.size >0%>
  <div class="section-title-blue">
    <h2>Experiencia Profesional </h2>
  </div>
  <div class="line-separator-blue">
  </div>
  <div class="container section-container-blue">
    <br>
      <h5><% @experiences.each do |experience| %></h5>
      <div>
        <p>
          <h5><b><%=experience.company_name%></b></h5>
          <%=experience.job_title%><br>
          <%=experience.start_job_date%>&emsp; - &emsp;
          <%=experience.finish_job_date%>&emsp;
        </p>
      </div>
      <%end%>
   </div>
   <br>
   <%end%>
   <% if @courses.size >0%>
<div class="section-title-blue">
  <h2>Cursos y Seminarios </h2>
</div>
<div class="line-separator-blue">
</div>
<div class="container section-container-blue">
  <br>
    <h5><% @courses.each do |course| %></h5>
            <div>
                <p>
                  <b><%=course.date.year%></b>&emsp;
                  <%=course.name%>&emsp;
                  <%=course.given%>&emsp;
                  <%=course.institution%>&emsp;
                  <%=course.workload%>&emsp; Hrs.
                </p>
            </div>
        <%end%>
   </div>
   <br>
   <%end%>

   <% if @memberships.size >0%>
   <div class="section-title-blue">
     <h2> Membresia </h2>
   </div>

   <div class="line-separator-blue">
   </div>
   <div class="container section-container-blue">
     <h5><% @memberships.each do |member| %></h5>
     <div>
       <p>
         <b><%=member.name%> en <%=member.organization%></b><br>
         desde <%=member.date.year%>&emsp;<br>
       </p>
     </div>
     <%end%>
   </div>
   <br>
   <%end%>
   <% if @merits.size >0%>
   <div class="section-title-blue">
     <h3> Meritos </h3>
   </div>
     <div class="container section-container-blue">
       <h5><% @merits.each do |merit| %></h5>
       <div>
         <p>
           <b><%=merit.date.year%></b>&emsp;<%=merit.name%><br>
         </p>
       </div>
       <%end%>
     </div>
     <br>
   <%end%>

   <div class="container">
   <% if @knowledges.size >0%>
     <div class="section-title-blue vertical-title col-lg-2 col-md-2">
       <h3> Conocimientos</h3>
    </div>
   <div class="col-md-4 col-lg-4 vertical-section-blue">
     <div class="container section-container-blue ">
       <br>
    <h5><% @knowledges.each do |know| %></h5>
            <div>
                <p>
                  <b><%=know.area%></b>
                  <%=know.description%>
                </p>
            </div>
        <%end%>
    </div>
  </div>
   <%end%>

   <% if @skills.size >0%>
 <div class="section-title-blue vertical-title col-lg-2 col-md-2">
     <h3> Habilidades</h3>
   </div>
   <div class="col-md-4 col-lg-4 vertical-section-blue">
   <div class="container section-container-blue">
    <h5><% @skills.each do |skill| %></h5>
            <div>
                <p>
                  <%=skill.description%>
                </p>
            </div>
        <%end%>
   </div>
 </div>
   <%end%>

 <% if @languages.size >0%>
  <div class="section-title-blue vertical-title col-lg-2 col-md-2">
    <h3> Idiomas </h3>
  </div>
  <div class="col-md-4 col-lg-4 vertical-section-blue">
    <div class="container section-container-blue">
    <h5><% @languages.each do |language| %></h5>
     <div>
       <p>
        <b><%=language.name%><br></b>
        <b>Nivel: </b> <%=language.level%> <br>
        <b>  Destreza: </b><%=language.skill%><br>
        </p>
      </div>
      <%end%>
    </div>
  </div>
  <%end%>
  </div>
</div>
</div>
<script>
function w3_open() {
  document.getElementById("mySidebar").style.width = "12%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("mySidebar").style.height ="25%";
  // document.getElementById("openNav").style.display = 'none';
}
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}
function mostrar_todo(){
  var divs=document.getElementsByClassName("para-completo");
  var btn1=document.getElementById("mostrar_todo").style.display="none";
  var btn2=document.getElementById("ocultar_todo").style.display="block";
  for (var i=0;i<=divs.length;i++)
  {
    divs[i].style.display="block";
  }
}
function ocultar_todo(){
  var btn1=document.getElementById("mostrar_todo").style.display="block";
  var btn2=document.getElementById("ocultar_todo").style.display="none";
  var divs=document.getElementsByClassName("para-completo");
  for (var i=0;i<=divs.length;i++)
  {
    divs[i].style.display="none";
  }
}
function pintarAzul(){
    document.getElementById("main").style.display = "none";
    document.getElementById("cv-azul").style.display = "block";
    document.getElementById("rojo-link").style.display ="none";
    document.getElementById("azul-link").style.display ="block";
    document.getElementById("original-link").style.display ="none";
    var lineasA=document.getElementsByClassName("line-separator-red");
    var titulosA=document.getElementsByClassName("section-title-red");
    var seccionesA=document.getElementsByClassName("section-container-red");
    var complementosA=document.getElementsByClassName("vertical-section-red");
    var i=0;
    while(lineasA.length)
    {
      lineasA[i].classList.add('line-separator-blue');
      lineasA[i].classList.remove('line-separator-red');
    }
    while(titulosA.length)
    {
      titulosA[i].classList.add('section-title-blue');
      titulosA[i].classList.remove('section-title-red');
    }
    while(seccionesA.length)
    {
      seccionesA[i].classList.add('section-container-blue');
      seccionesA[i].classList.remove('section-container-red');
    }
    while(complementosA.length)
    {
      complementosA[i].classList.add('vertical-section-blue');
      complementosA[i].classList.remove('vertical-section-red');
    }
}
function pintarRojo(){
    document.getElementById("main").style.display = "none";
    document.getElementById("cv-azul").style.display = "block";
    document.getElementById("rojo-link").style.display ="block";
    document.getElementById("azul-link").style.display ="none";
    document.getElementById("original-link").style.display ="none";
    var lineasA=document.getElementsByClassName("line-separator-blue");
    var titulosA=document.getElementsByClassName("section-title-blue");
    var seccionesA=document.getElementsByClassName("section-container-blue");
    var complementosA=document.getElementsByClassName("vertical-section-blue");
    var i=0;
    while(lineasA.length)
    {
      lineasA[i].classList.add('line-separator-red');
      lineasA[i].classList.remove('line-separator-blue');
    }
    while(titulosA.length)
    {
      titulosA[i].classList.add('section-title-red');
      titulosA[i].classList.remove('section-title-blue');
    }
    while(seccionesA.length)
    {
      seccionesA[i].classList.add('section-container-red');
      seccionesA[i].classList.remove('section-container-blue');
    }
    while(complementosA.length)
    {
      complementosA[i].classList.add('vertical-section-red');
      complementosA[i].classList.remove('vertical-section-blue');
    }
}
function original(){
  document.getElementById("main").style.display = "block";
  document.getElementById("cv-azul").style.display = "none";
  document.getElementById("rojo-link").style.display ="none";
  document.getElementById("azul-link").style.display ="none";
  document.getElementById("original-link").style.display ="block";
}
</script>

<style>
#cv-azul{
  display:none;
}

.section-title-red{
  width:auto;
}
.section-title-blue{
  width:auto;
}
</style>
