<div class="container">

  <div class="btn-group pull-right" style="margin-top:35px">
    <br><br>
    <%if current_user.is_company?%>
    <button id="publicar" class="btn btn-success">Publicar</button>
    <%end%>
    <%if !@user.company%>
    <button id="mostrar_todo" onclick="mostrar_todo()" class="btn btn-primary button-cv">Mostrar CV completo</button>
    <button id="ocultar_todo" onclick="ocultar_todo()" style="display:none" class="btn btn-primary button-cv">Mostrar CV resumido</button>
    <%end%>
  </div>
<%if current_user.is_company?%>
  <div id="addSuggestion" class="modal" >
      <div class="modal-content" >
          <span class="close" id="closeSuggestion">&times;</span>
          <%= form_for :post, url:'/posts/personal' do |f| %>
            <p style="margin-top:3px"><i>La oferta de trabajo enviada a esta persona se publicará en su muro, al igual que la información de contacto registrado de tu empresa</i></p>

            <div class="col col-md-6">
              <%= f.label :Agrega_tu_comentario_aqui %>:<br>
              <%= f.text_area :comment, class: "form-control",:id=>'text_form',:maxlength=>600,:style=>"width:100%" %>
            </div>
              <%= f.hidden_field :user_id, :value=>current_user.id %>
              <%= f.hidden_field :id,:value=>@user.id%>
              <%= f.hidden_field :contact, :value=>current_user.company_information.contact_name%>
              <%= f.hidden_field :phone, :value=>current_user.company_information.phone%>
              <%= f.hidden_field :name, :value=>current_user.name%>
              <div class="col col-md-6">
                Así es como quedarátu mensaje:<br>
                <i>De: <%= current_user.name%><br>
                  <p id="contexto"></p>
                Si te interesa un puesto en nuestra empresa, porfavor contactate con nuestro personal<br>
                <% if current_user.company_information.contact_name!=nil%>
                  Contactate con: <%= current_user.company_information.contact_name %><br>
                <% end%>
                <%if current_user.company_information.phone!=nil%>
                  a este número de referencia: <%= current_user.company_information.phone%><br>
                <%end%>
                </i>
                <br><br>
              </div>
            <div class="row">
              &nbsp;&nbsp;&nbsp;<p><i>&nbsp;&nbsp;&nbsp;(Tu información de contacto registrada ya se muestra automaticamente, no neecesitas ponerla de nuevo)</i></p>
            </div>
            <div class="actions">
              <%= f.submit "Enviar", class: "btn btn-primary pull-right",:id=>'boton_enviar',:disabled=>true%>
            </div>
            <br><br>
          <% end %>

      </div>
  </div>
  <script>
  var botonComentario= document.getElementById("publicar")
  var modalComentario = document.getElementById("addSuggestion");
  var spanComentario =document.getElementById("closeSuggestion");
  // var btns=document.getElementById("aceptar");
  spanComentario.onclick = function() {
      modalComentario.style.display = "none";
  };
  botonComentario.onclick =function(){
    // alert("algo raro");
    modalComentario.style.display ="block";
  };

  $(document).ready(function(){
      $('#boton_enviar').attr('disabled',true);
      $('#text_form').keyup(function(){
          if($(this).val().length !=0)
            $('#boton_enviar').attr('disabled', false);
          else
              $('#boton_enviar').attr('disabled',true);
      })
  });
    $(document).ready(function() {
      $("#text_form").keyup(function() {
	       $('#contexto').html($('#text_form').val());
       });
     });
  </script>
  <%end%>

  <div>
  <%if current_user.is_director and @user.company%>

  <style>
  #texto{
    word-wrap: break-word;
    word-break: normal;
    overflow: hidden;
    max-width:500px;
  }
  </style>
  <div class="container">
    <div class="">
      <div class="">
        <div >
        </div>
        <div class="panel panel-primary">
          <%if current_user.id==@user.id %>
          <div class="panel panel-heading">
            <div class="panel-title" style="padding-top:1px;padding-bottom:1px">
              <h3 style="margin-top:10px">Información Externa</h3>
              <i>(Así es como te ven los demas en nuestra red)</i>
            </div>
          </div>
          <%end%>
          <div class="panel panel-body">
            <div class="row">
              <div class="col col-md-5">
              </div>
              <div class="col col-md-4">
                <%=image_tag(@picture.image.url, class: 'img-thumbnail ',style:"width:150px;height:150px")%>
              </div>
              <div class="col col-md-3">
              </div>
            </div>
            <div class="">
              <div class="col-md-4">
              </div>
              <div class="col col-md-4">
                <h3><%=@user.name%></h3>
                <div class="container">
                  <b>Dirección:</b><%=@company_info.address%><br>
                  <b>Nombre de persona de contacto: </b><%=@company_info.contact_name%><br>
                  <b>Correo de contacto: </b><%=@company_info.contact_email%><br>
                  <b>Código CIUU: </b>
                  <%if @company_info.ciu_code%>
                  <%=@company_info.ciu_code.ciu%><br>
                  <%end%>
                  <b>Área de trabajo: </b>
                  <%if @company_info.ciu_code%>
                  <%=@company_info.ciu_code.description%><br>
                  <%end%>
                  <b>Teléfono fijo: </b><%=@company_info.phone%><br>
                  <b>NIT: </b><%=@company_info.nit%><br>

                  <b>Sobre nosotros:</b>
                  <div class="col col-md-12 col-lg-12" style="text-align: justify">
                    <p id='texto'><%=@company_info.description%></p>
                  </div>
                </div>
              </div>
              <div class="col col-md-3">
              </div>
            </div>

          </div>
        </div>
        <%if current_user.id!=@user.id%>
        <br>
        <b>Declaración de limitaciones de responsabilidad</b><br>
        <i> Toda la información presentada en la Bolsa de Trabajo, es completamente registrada por el postulante o empresa en cuestión. Usted debería consultar con las referencias aqui enlistadas, para confirmar la fiabilidad de los datos.<br>
          Es por eso que la Universidad Católica Boliviana "San Pablo" no se responsabiliza por la veracidad de la información publicada por los postulantes o las empresas registradas en el sistema.</i>
          <% end%>
        </div>
      </div>
    </div>
  <%end%>
  <%if !@user.company%>
    <h2><%=@user.name%> <%=@user.last_name%></h2>
  </div>
  <div class="container-body" style="margin-top:10px">
  <%if !@user.is_company?%>
    <div class="container">
      <h2>Información Personal</h2>
      <div class="container">
        <b>Dirección: </b><%=@personal_info.address%><br>
        <b>Fecha de Nacimiento: </b><%=@personal_info.translate_birthdate_to_string%> <br>
        <b>Estado Civil: </b><%=@personal_info.civil%> <br>
        <b>Fijo: </b><%=@personal_info.phone%><br>
        <b>Movil: </b><%=@personal_info.cellphone%><br>
        <b>e-mail: </b><%=@user.email%><br>
      </div>
    </div>
    <% if @educations.size >0%>
    <div class="container">
      <h2>Formación Académica </h2>
      <div class="container">
        <h5><% @educations.each do |education| %></h5>
        <div>
          <p>
            <h5><b><%=education.title%></b></h5>
            <%if education.description.size>0%>
              <%=education.description%>
              <br>
            <%end%>
            <%=education.school_name%>&nbsp;
            <%=education.start_date.year%>&emsp; - &emsp; <%=education.end_date.year%>
          </p>
        </div>
        <%end%>
      </div>
    </div>
    <%end%>
    <% if @experiences.size >0%>
    <div class="container">
      <h2>Experiencia Profesional </h2>
      <div class="container">
        <h5><% @experiences.each do |experience| %></h5>
          <div>
            <p>
              <h5><b><%=experience.company_name%></b></h5>
              <%=experience.job_title%><br>
              <%=experience.start_job_date%>&emsp; - &emsp;
              <%=experience.finish_job_date%>&emsp;
              <div class="para-completo" style="display:none">
                Actividades a cargo: <%=experience.job_description%><br>
                Personas bajo mi cargo: <%=experience.in_my_charge%><br>
                Rango salarial: <%=experience.salary_range%>
            </div>
            </p>
          </div>
        <%end%>
      </div>
    </div>
    <%end%>
    <% if @courses.size >0%>
    <div class="container">
      <h2>Cursos y Seminarios </h2>
      <div class="container">
        <h5><% @courses.each do |course| %></h5>
          <div>
            <p>
              <b><%=course.date.year%></b>&emsp;
              <%=course.name%>&emsp;
              <%=course.given%>&emsp;
              <%=course.institution%>&emsp;
              <%=course.workload%>&emsp; Hrs.
            </p>
          </div>
        <%end%>
      </div>
    </div>
    <%end%>
    <% if @knowledges.size >0%>
    <div class="container">
      <h2> Conocimientos</h2>
      <div class="container">
        <h5><% @knowledges.each do |know| %></h5>
          <div>
            <p>
              <b><%=know.area%></b>
              <%=know.description%>
            </p>
          </div>
        <%end%>
      </div>
    </div>
    <%end%>
    <% if @publications.size >0%>
    <div class="container">
      <h2> Publicaciones </h2>
      <div class="container">
        <h5><% @publications.each do |pub| %></h5>
          <div>
            <p>
              <b><%=pub.publicationType%></b><br>
              <%=pub.date.year%>&emsp;<b><%=pub.name%></b><br>
              <%=pub.location%>
            </p>
          </div>
        <%end%>
      </div>
    </div>
    <%end%>
    <% if @skills.size >0%>
    <div class="container">
      <h2> Habilidades</h2>
      <div class="container">
        <h5><% @skills.each do |skill| %></h5>
        <div>
          <p>
            <%=skill.description%>
          </p>
        </div>
        <%end%>
      </div>
    </div>
    <%end%>
    <% if @merits.size >0%>
    <div class="container">
     <h2> Méritos </h2>
     <div class="container">
       <h5><% @merits.each do |merit| %></h5>
       <div>
        <p>
          <b><%=merit.date.year%></b>&emsp;<%=merit.name%><br>
        </p>
       </div>
       <%end%>
     </div>
    </div>
    <%end%>
    <% if @memberships.size >0%>
    <div class="container">
      <h2> Membresía </h2>
      <div class="container">
        <h5><% @memberships.each do |member| %></h5>
          <div>
            <p>
              <b><%=member.name%> en <%=member.organization%></b><br>
              desde <%=member.date.year%>&emsp;<br>
            </p>
          </div>
        <%end%>
      </div>
    </div>
    <%end%>
    <% if @languages.size >0%>
    <div class="container">
      <h2> Idiomas </h2>
      <div class="container">
        <h5><% @languages.each do |language| %></h5>
         <div>
           <p>
             <b><%=language.name%> Nivel:  <%=language.level%> Destreza: <%=language.skill%></b><br>
           </p>
         </div>
        <%end%>
      </div>
    </div>
    <%end%>
  </div>
  <%end%>
  <%end%>
</div>
<script>
function mostrar_todo(){
  var divs=document.getElementsByClassName("para-completo");
  var btn1=document.getElementById("mostrar_todo").style.display="none";
  var btn2=document.getElementById("ocultar_todo").style.display="block";
  for (var i=0;i<=divs.length;i++)
  {
    divs[i].style.display="block";
  }
}
function ocultar_todo(){
  var btn1=document.getElementById("mostrar_todo").style.display="block";
  var btn2=document.getElementById("ocultar_todo").style.display="none";
  var divs=document.getElementsByClassName("para-completo");
  for (var i=0;i<=divs.length;i++)
  {
    divs[i].style.display="none";
  }
}

</script>

  <%= stylesheet_link_tag    'user', media: 'all', 'data-turbolinks-track' => true %>
