<div class="table table-responsive">
  <table  class="table table-striped table-bordered" style="text-align: center;">
    <tr>
      <th style="text-align: center;">&nbsp;Nombre&nbsp;</th>
      <th style="text-align: center;">&nbsp;Correo electrónico &nbsp;</th>
      <th style="text-align: center;">&nbsp;Teléfono &nbsp;</th>
      <th></th>
    </tr>
    <% @users.each do |user|%>
      <tr>
        <td><%=user.name%></td>
        <td><%=user.email%></td>
        <td><%=user.phone%></td>
        <td>
          <button class="btn btn-default btn-sm pull-right botonCV" value="<%=user.id%>">
            Ver Currículum
            <!-- <%=link_to "Ver Currículum", {controller: "resumes",action:"external_show",id:user.id},:popup => ['']%> -->

          </button>
        </td>
      </tr>
    <%end%>
  </table>
</div>
