<a href="/reportes"><button class="btn btn-primary">Volver Atras</button></a>
<div class="container">
<h1>Lista de reportes</h1>
  <div class="panel panel-default">
    <div class="panel-heading"><div class="panel-title"><h3>Titulados por gestión</h3></div></div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="center-select">
              <!-- <input type="text" name="title" id='filtrar' style='width:40%'> -->
              <select id="carrera" onchange="cambioCarreras()">
                <%@title_list.each do |x|%>
                  <option><%=x%></option>
                  <%end%>
              </select>
            </div>
          </li>
          <div id="Todas las carreras" class="filtro">
            <li class="list-group-item">
              <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
              <script>
              alert("hola vista");
              var data_for_map="<%=@new_exp.all_cities_for_map%>";
              alert(data_for_map);
              data_for_map=data_for_map.replace(/'/g,'"');
              alert(data_for_map);
              google.charts.load('current', {
                  'packages':['geochart'],
                  // Note: you will need to get a mapsApiKey for your project.
                  // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
                  'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
                });
                google.charts.setOnLoadCallback(drawRegionsMap);

                function drawRegionsMap() {
                  var data = google.visualization.arrayToDataTable([
                    ['País', 'Cantidad'],
                    ['Germany', 200],
                    ['United States', 300],
                    ['Brazil', 400],
                    ['Canada', 500],
                    ['France', 600],
                    ['Bolivia',50],
                    ['RU', 700]
                  ]);

                  var options = {
                    colorAxis: {minValue:'white',colors: ['#87CEEB', '#4169e1']}
                  };

                  var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

                  chart.draw(data, options);
                }
              </script>
              <div id="regions_div"></div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-5">
                  <table class="table table-striped table-bordered table-hover" style="text-align: center;">
                    <tr>
                      <th style="text-align: center;">&nbsp;Región&nbsp;</th>
                      <th style="text-align: center;">&nbsp;Cantidad&nbsp;</th>
                    </tr>
                    <tr>
                      <td>Interior del país</td>
                      <td><%=@new_exp.local_and_international["Interior"]%></td>
                    </tr>
                    <tr>
                      <td>Exterior</td>
                      <td><%=@new_exp.local_and_international["Exterior"]%></td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-primary btn-lg">Detallado</button>
                </div>
                <div class="col-md-5">
                  <%=column_chart @new_exp.local_and_international,label: "Cantidad",xtitle:"Ubicación",title:"Resumen del impacto de los egresados",ytitle:"Egresados en las distintas areas", download: "resumen Impacto"%>
                </div>
              </div>
            </li>
            <li class="list-group-item">
            </li>
            <li class="list-group-item">
              <%=column_chart Experience.group(:city).count,label: "Cantidad",ytitle:"Estudiantes Titulados",xtitle:"País o región",title:"Estudiantes titulados por gestión para todas las carreras", download: "resumen titulados"%>
            </li>
            <li class="list-group-item">
              <table class="table table-striped table-bordered table-hover" style="text-align: center;">
                <tr>
                  <th style="text-align: center;">&nbsp;País o región&nbsp;</th>
                  <th style="text-align: center;">&nbsp;Estudiantes nuevos&nbsp;</th>
                  <th style="text-align: center;">&nbsp;Titulados&nbsp;</th>
                  <th style="text-align: center;">&nbsp;Ingresos hace 5 años&nbsp;</th>
                  <th style="text-align: center;">&nbsp;Relación(%)&nbsp;</th>
                </tr>
              <%[*2010..Date.today.year].each do |anio|%>
              <tr>
                <td>&nbsp;<%=anio%>&nbsp;</td>
                <td>&nbsp;<%=@new_edu.numero_ingresos(anio)%>&nbsp;</td>
                <td>&nbsp;<%=@new_edu.numero_egresos(anio)%>&nbsp;</td>
                <td>&nbsp;<%=@new_edu.numero_ingresos(anio-5)%>&nbsp;</td>
                <td>&nbsp;<%=@new_edu.relacion_acreditacion(anio)%>&nbsp;</td>
              </tr>
              <%end%>
            </table>
            </li>
        </div>
        <div id="Bachiller" class="filtro" style="display:none;">
          <li class="list-group-item">
            <%=line_chart @ingresos,label: "Cantidad",xtitle:"País o región",title:"Estudiantes registrados",ytitle:"Titulados", download: "resumen Ingreso"%>
          </li>
          <li class="list-group-item">
          </li>
          <li class="list-group-item">
            <%=area_chart @egresos,label: "Cantidad",ytitle:"Bachilleres registrados",xtitle:"País o región",title:"Estudiantes titulados por gestión", download: "resumen titulados"%>
          </li>
        </div>
        <div id="Antroplogía" class="filtro" style="display:none;">
          <li class="list-group-item">
            <%=column_chart @new_edu.impacto_de(@new_edu.antropologos),label: "Cantidad",xtitle:"País o región",title:"Ubicación laboral de los titulados de Antropología",ytitle:"Titulados", download: "resumen Ingreso"%>
          </li>
          <li class="list-group-item">
          </li>
          <li class="list-group-item">
            <table class="table table-striped table-bordered table-hover" style="text-align: center;">
              <tr>
                <th style="text-align: center;">&nbsp;País o región&nbsp;</th>
                <th style="text-align: center;">&nbsp;Estudiantes nuevos&nbsp;</th>
                <th style="text-align: center;">&nbsp;Titulados&nbsp;</th>
                <th style="text-align: center;">&nbsp;Ingresos hace 5 años&nbsp;</th>
                <th style="text-align: center;">&nbsp;Relación(%)&nbsp;</th>
              </tr>
            <%[*2010..Date.today.year].each do |anio|%>
            <tr>
              <td>&nbsp;<%=anio%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio,@new_edu.antropologos)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_egresos_por(anio,@new_edu.antropologos)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio-5,@new_edu.antropologos)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.relacion_acreditacion_por(anio,@new_edu.antropologos)%>&nbsp;</td>
            </tr>
            <%end%>
          </table>
          </li>
        </div>
        <div id="Comunicación Social" class="filtro" style="display:none;">
          <li class="list-group-item">
            <%=column_chart @new_edu.impacto_de(@new_edu.comunicadores),label: "Cantidad",xtitle:"País o región",title:"Ubicación laboral de los titulados de Comunicación Social",ytitle:"Titulados", download: "resumen Ingreso"%>
          </li>
          <li class="list-group-item">
          </li>
          <li class="list-group-item">
            <table class="table table-striped table-bordered table-hover" style="text-align: center;">
              <tr>
                <th style="text-align: center;">&nbsp;País o región&nbsp;</th>
                <th style="text-align: center;">&nbsp;Estudiantes nuevos&nbsp;</th>
                <th style="text-align: center;">&nbsp;Titulados&nbsp;</th>
                <th style="text-align: center;">&nbsp;Ingresos hace 5 años&nbsp;</th>
                <th style="text-align: center;">&nbsp;Relación(%)&nbsp;</th>
              </tr>
            <%[*2010..Date.today.year].each do |anio|%>
            <tr>
              <td>&nbsp;<%=anio%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio,@new_edu.comunicadores)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_egresos_por(anio,@new_edu.comunicadores)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio-5,@new_edu.comunicadores)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.relacion_acreditacion_por(anio,@new_edu.comunicadores)%>&nbsp;</td>
            </tr>
            <%end%>
          </table>
          </li>
        </div>
        <div id="Filosofía y Letras" class="filtro" style="display:none;">
          <li class="list-group-item">
            <%=column_chart @new_edu.impacto_de(@new_edu.filosofos),label: "Cantidad",xtitle:"País o región",title:"Ubicación laboral de los titulados de Filosofía y Letras",ytitle:"Titulados", download: "resumen Ingreso"%>
          </li>
          <li class="list-group-item">
          </li>
          <li class="list-group-item">
            <table class="table table-striped table-bordered table-hover" style="text-align: center;">
              <tr>
                <th style="text-align: center;">&nbsp;País o región&nbsp;</th>
                <th style="text-align: center;">&nbsp;Estudiantes nuevos&nbsp;</th>
                <th style="text-align: center;">&nbsp;Titulados&nbsp;</th>
                <th style="text-align: center;">&nbsp;Ingresos hace 5 años&nbsp;</th>
                <th style="text-align: center;">&nbsp;Relación(%)&nbsp;</th>
              </tr>
            <%[*2010..Date.today.year].each do |anio|%>
            <tr>
              <td>&nbsp;<%=anio%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio,@new_edu.filosofos)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_egresos_por(anio,@new_edu.filosofos)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio-5,@new_edu.filosofos)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.relacion_acreditacion_por(anio,@new_edu.filosofos)%>&nbsp;</td>
            </tr>
            <%end%>
          </table>
          </li>
        </div>
        <div id="Psicología" class="filtro" style="display:none;">
          <li class="list-group-item">
            <%=column_chart @new_edu.impacto_de(@new_edu.psicologos).count,label: "Cantidad",xtitle:"País o región",title:"Estudiantes Ingresados por gestión  en la carrera de Psicología",ytitle:"Titulados", download: "resumen Ingreso"%>
          </li>
          <li class="list-group-item">
          </li>
          <li class="list-group-item">
            <table class="table table-striped table-bordered table-hover" style="text-align: center;">
              <tr>
                <th style="text-align: center;">&nbsp;País o región&nbsp;</th>
                <th style="text-align: center;">&nbsp;Estudiantes nuevos&nbsp;</th>
                <th style="text-align: center;">&nbsp;Titulados&nbsp;</th>
                <th style="text-align: center;">&nbsp;Ingresos hace 5 años&nbsp;</th>
                <th style="text-align: center;">&nbsp;Relación(%)&nbsp;</th>
              </tr>
            <%[*2010..Date.today.year].each do |anio|%>
            <tr>
              <td>&nbsp;<%=anio%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio, @new_edu.psicologos)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_egresos_por(anio,@new_edu.psicologos)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio-5,@new_edu.psicologos)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.relacion_acreditacion_por(anio,@new_edu.psicologos)%>&nbsp;</td>
            </tr>
            <%end%>
          </table>
          </li>
        </div>
        <div id="Ingeniería Ambiental" class="filtro" style="display:none;">
          <li class="list-group-item">
            <%=column_chart @new_edu.impacto_de(@new_edu.ambientales),label: "Cantidad",xtitle:"País o región",title:"Ubicación laboral de los titulados de Ingeniería Ambiental",ytitle:"Titulados", download: "resumen Ingreso"%>
          </li>
          <li class="list-group-item">
          </li>
          <li class="list-group-item">
            <table class="table table-striped table-bordered table-hover" style="text-align: center;">
              <tr>
                <th style="text-align: center;">&nbsp;País o región&nbsp;</th>
                <th style="text-align: center;">&nbsp;Estudiantes nuevos&nbsp;</th>
                <th style="text-align: center;">&nbsp;Titulados&nbsp;</th>
                <th style="text-align: center;">&nbsp;Ingresos hace 5 años&nbsp;</th>
                <th style="text-align: center;">&nbsp;Relación(%)&nbsp;</th>
              </tr>
            <%[*2010..Date.today.year].each do |anio|%>
            <tr>
              <td>&nbsp;<%=anio%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio, @new_edu.ambientales)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_egresos_por(anio, @new_edu.ambientales)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio-5, @new_edu.ambientales)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.relacion_acreditacion_por(anio, @new_edu.ambientales)%>&nbsp;</td>
            </tr>
            <%end%>
          </table>
          </li>
        </div>
        <div id="Ingeniería Civil" class="filtro" style="display:none;">
          <li class="list-group-item">
            <%=column_chart @new_edu.impacto_de(@new_edu.civiles),label: "Cantidad",xtitle:"País o región",title:"Ubicación laboral de los titulados de Ingeniería Civil",ytitle:"Titulados  en la carrera de Filosofía y Letras", download: "resumen Ingreso"%>
          </li>
          <li class="list-group-item">
          </li>
          <li class="list-group-item">
            <table class="table table-striped table-bordered table-hover" style="text-align: center;">
              <tr>
                <th style="text-align: center;">&nbsp;País o región&nbsp;</th>
                <th style="text-align: center;">&nbsp;Estudiantes nuevos&nbsp;</th>
                <th style="text-align: center;">&nbsp;Titulados&nbsp;</th>
                <th style="text-align: center;">&nbsp;Ingresos hace 5 años&nbsp;</th>
                <th style="text-align: center;">&nbsp;Relación(%)&nbsp;</th>
              </tr>
            <%[*2010..Date.today.year].each do |anio|%>
            <tr>
              <td>&nbsp;<%=anio%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio,@new_edu.civiles)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_egresos_por(anio,@new_edu.civiles)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio-5,@new_edu.civiles)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.relacion_acreditacion_por(anio,@new_edu.civiles)%>&nbsp;</td>
            </tr>
            <%end%>
          </table>
          </li>
        </div>
        <div id="Ingeniería Industrial" class="filtro" style="display:none;">
          <li class="list-group-item">
            <%=column_chart @new_edu.impacto_de(@new_edu.industriales),label: "Cantidad",xtitle:"País o región",title:"Ubicación laboral de los titulados de Ingeniería Industrial",ytitle:"Titulados", download: "resumen Ingreso"%>
          </li>
          <li class="list-group-item">
          </li>
          <li class="list-group-item">
            <table class="table table-striped table-bordered table-hover" style="text-align: center;">
              <tr>
                <th style="text-align: center;">&nbsp;País o región&nbsp;</th>
                <th style="text-align: center;">&nbsp;Estudiantes nuevos&nbsp;</th>
                <th style="text-align: center;">&nbsp;Titulados&nbsp;</th>
                <th style="text-align: center;">&nbsp;Ingresos hace 5 años&nbsp;</th>
                <th style="text-align: center;">&nbsp;Relación(%)&nbsp;</th>
              </tr>
            <%[*2010..Date.today.year].each do |anio|%>
            <tr>
              <td>&nbsp;<%=anio%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio,@new_edu.industriales)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_egresos_por(anio,@new_edu.industriales)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio-5,@new_edu.industriales)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.relacion_acreditacion_por(anio,@new_edu.industriales)%>&nbsp;</td>
            </tr>
            <%end%>
          </table>
          </li>
        </div>
        <div id="Ingeniería Química" class="filtro" style="display:none;">
          <li class="list-group-item">
            <%=column_chart @new_edu.impacto_de( @new_edu.quimicos),label: "Cantidad",xtitle:"País o región",title:"Ubicación laboral de los titulados de Ingeniería Química",ytitle:"Titulados", download: "resumen Ingreso"%>
          </li>
          <li class="list-group-item">
          </li>

          <li class="list-group-item">
            <table class="table table-striped table-bordered table-hover" style="text-align: center;">
              <tr>
                <th style="text-align: center;">&nbsp;País o región&nbsp;</th>
                <th style="text-align: center;">&nbsp;Estudiantes nuevos&nbsp;</th>
                <th style="text-align: center;">&nbsp;Titulados&nbsp;</th>
                <th style="text-align: center;">&nbsp;Ingresos hace 5 años&nbsp;</th>
                <th style="text-align: center;">&nbsp;Relación(%)&nbsp;</th>
              </tr>
            <%[*2010..Date.today.year].each do |anio|%>
            <tr>
              <td>&nbsp;<%=anio%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio,@new_edu.quimicos)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_egresos_por(anio,@new_edu.quimicos)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio-5,@new_edu.quimicos)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.relacion_acreditacion_por(anio,@new_edu.quimicos)%>&nbsp;</td>
            </tr>
            <%end%>
          </table>
          </li>
        </div>
        <div id="Ingeniería Mecatrónica" class="filtro" style="display:none;">
          <li class="list-group-item">
            <%=column_chart @new_edu.impacto_de(@new_edu.mecatronicos),label: "Cantidad",xtitle:"País o región",title:"Ubicación laboral de los titulados de Ingeniería Mecatrónica",ytitle:"Titulados", download: "resumen Ingreso"%>
          </li>
          <li class="list-group-item">
          </li>
          <li class="list-group-item">
            <table class="table table-striped table-bordered table-hover" style="text-align: center;">
              <tr>
                <th style="text-align: center;">&nbsp;País o región&nbsp;</th>
                <th style="text-align: center;">&nbsp;Estudiantes nuevos&nbsp;</th>
                <th style="text-align: center;">&nbsp;Titulados&nbsp;</th>
                <th style="text-align: center;">&nbsp;Ingresos hace 5 años&nbsp;</th>
                <th style="text-align: center;">&nbsp;Relación(%)&nbsp;</th>
              </tr>
            <%[*2010..Date.today.year].each do |anio|%>
            <tr>
              <td>&nbsp;<%=anio%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio,@new_edu.mecatronicos)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_egresos_por(anio,@new_edu.mecatronicos)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio-5,@new_edu.mecatronicos)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.relacion_acreditacion_por(anio,@new_edu.mecatronicos)%>&nbsp;</td>
            </tr>
            <%end%>
          </table>
          </li>
        </div>
        <div id="Ingeniería de Sistemas" class="filtro" style="display:none;">
          <li class="list-group-item">
            <%=column_chart @new_edu.impacto_de(@new_edu.sistemas),label: "Cantidad",xtitle:"País o región",title:"Estudiantes Ingresados por gestión  en la carrera de Ingeniería de Sistemas",ytitle:"Titulados", download: "resumen Ingreso"%>
          </li>
          <li class="list-group-item">
          </li>
          <li class="list-group-item">
            <table class="table table-striped table-bordered table-hover" style="text-align: center;">
              <tr>
                <th style="text-align: center;">&nbsp;País o región&nbsp;</th>
                <th style="text-align: center;">&nbsp;Estudiantes nuevos&nbsp;</th>
                <th style="text-align: center;">&nbsp;Titulados&nbsp;</th>
                <th style="text-align: center;">&nbsp;Ingresos hace 5 años&nbsp;</th>
                <th style="text-align: center;">&nbsp;Relación(%)&nbsp;</th>
              </tr>
            <%[*2010..Date.today.year].each do |anio|%>
            <tr>
              <td>&nbsp;<%=anio%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio,@new_edu.sistemas)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_egresos_por(anio,@new_edu.sistemas)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio-5,@new_edu.sistemas)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.relacion_acreditacion_por(anio,@new_edu.sistemas)%>&nbsp;</td>
            </tr>
            <%end%>
          </table>
          </li>
        </div>
        <div id="Ingeniería de Telecomunicaciones" class="filtro" style="display:none;">
          <li class="list-group-item">
            <%=column_chart @new_edu.impacto_de(@new_edu.telecomunicadores),label: "Cantidad",xtitle:"País o región",title:"Ubicación laboral de los titulados de Ingeniería de Telecomunicaciones",ytitle:"Titulados", download: "resumen Ingreso"%>
          </li>
          <li class="list-group-item">
          </li>
          <li class="list-group-item">
            <table class="table table-striped table-bordered table-hover" style="text-align: center;">
              <tr>
                <th style="text-align: center;">&nbsp;País o región&nbsp;</th>
                <th style="text-align: center;">&nbsp;Estudiantes nuevos&nbsp;</th>
                <th style="text-align: center;">&nbsp;Titulados&nbsp;</th>
                <th style="text-align: center;">&nbsp;Ingresos hace 5 años&nbsp;</th>
                <th style="text-align: center;">&nbsp;Relación(%)&nbsp;</th>
              </tr>
            <%[*2010..Date.today.year].each do |anio|%>
            <tr>
              <td>&nbsp;<%=anio%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio,@new_edu.telecomunicadores)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_egresos_por(anio,@new_edu.telecomunicadores)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio-5,@new_edu.telecomunicadores)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.relacion_acreditacion_por(anio,@new_edu.telecomunicadores)%>&nbsp;</td>
            </tr>
            <%end%>
          </table>
          </li>
        </div>
        <div id="Administración de Empresas" class="filtro" style="display:none;">
          <li class="list-group-item">
            <%=column_chart @new_edu.impacto_de(@new_edu.administradores),label: "Cantidad",xtitle:"País o región",title:"Ubicación laboral de los titulados de Administración de Empresas",ytitle:"Titulados", download: "resumen Ingreso"%>
          </li>
          <li class="list-group-item">
          </li>

          <li class="list-group-item">
            <table class="table table-striped table-bordered table-hover" style="text-align: center;">
              <tr>
                <th style="text-align: center;">&nbsp;País o región&nbsp;</th>
                <th style="text-align: center;">&nbsp;Estudiantes nuevos&nbsp;</th>
                <th style="text-align: center;">&nbsp;Titulados&nbsp;</th>
                <th style="text-align: center;">&nbsp;Ingresos hace 5 años&nbsp;</th>
                <th style="text-align: center;">&nbsp;Relación(%)&nbsp;</th>
              </tr>
            <%[*2010..Date.today.year].each do |anio|%>
            <tr>
              <td>&nbsp;<%=anio%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio,@new_edu.administradores)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_egresos_por(anio,@new_edu.administradores)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio-5,@new_edu.administradores)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.relacion_acreditacion_por(anio,@new_edu.administradores)%>&nbsp;</td>
            </tr>
            <%end%>
          </table>
          </li>
        </div>
        <div id="Ingeniería Financiera" class="filtro" style="display:none;">
          <li class="list-group-item">
            <%=column_chart @new_edu.impacto_de(@new_edu.financieros),label: "Cantidad",xtitle:"País o región",title:"Ubicación laboral de los titulados de Ingeniería Financieras",ytitle:"Titulados", download: "resumen Ingreso"%>
          </li>
          <li class="list-group-item">
          </li>
          <li class="list-group-item">
            <table class="table table-striped table-bordered table-hover" style="text-align: center;">
              <tr>
                <th style="text-align: center;">&nbsp;País o región&nbsp;</th>
                <th style="text-align: center;">&nbsp;Estudiantes nuevos&nbsp;</th>
                <th style="text-align: center;">&nbsp;Titulados&nbsp;</th>
                <th style="text-align: center;">&nbsp;Ingresos hace 5 años&nbsp;</th>
                <th style="text-align: center;">&nbsp;Relación(%)&nbsp;</th>
              </tr>
            <%[*2010..Date.today.year].each do |anio|%>
            <tr>
              <td>&nbsp;<%=anio%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio,@new_edu.financieros)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_egresos_por(anio,@new_edu.financieros)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio-5,@new_edu.financieros)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.relacion_acreditacion_por(anio,@new_edu.financieros)%>&nbsp;</td>
            </tr>
            <%end%>
          </table>
          </li>
        </div>
        <div id="Derecho" class="filtro" style="display:none;">
          <li class="list-group-item">
            <%=column_chart @new_edu.impacto_de(@new_edu.abogados),label: "Cantidad",xtitle:"País o región",title:"Ubicación laboral de los titulados de Derecho",ytitle:"Titulados", download: "resumen Ingreso"%>
          </li>
          <li class="list-group-item">
          </li>
          <li class="list-group-item">
            <table class="table table-striped table-bordered table-hover" style="text-align: center;">
              <tr>
                <th style="text-align: center;">&nbsp;País o región&nbsp;</th>
                <th style="text-align: center;">&nbsp;Estudiantes nuevos&nbsp;</th>
                <th style="text-align: center;">&nbsp;Titulados&nbsp;</th>
                <th style="text-align: center;">&nbsp;Ingresos hace 5 años&nbsp;</th>
                <th style="text-align: center;">&nbsp;Relación(%)&nbsp;</th>
              </tr>
            <%[*2010..Date.today.year].each do |anio|%>
            <tr>
              <td>&nbsp;<%=anio%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio, @new_edu.abogados)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_egresos_por(anio, @new_edu.abogados)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio-5, @new_edu.abogados)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.relacion_acreditacion_por(anio, @new_edu.abogados)%>&nbsp;</td>
            </tr>
            <%end%>
          </table>
          </li>
        </div>
        <div id="Contaduría Pública" class="filtro" style="display:none;">
          <li class="list-group-item">
            <%=column_chart @new_edu.impacto_de(@new_edu.contadores),label: "Cantidad",xtitle:"País o región",title:"Ubicación laboral de los titulados de Contaduría Pública",ytitle:"Titulados", download: "resumen Ingreso"%>
          </li>
          <li class="list-group-item">
          </li>
          <li class="list-group-item">
            <table class="table table-striped table-bordered table-hover" style="text-align: center;">
              <tr>
                <th style="text-align: center;">&nbsp;País o región&nbsp;</th>
                <th style="text-align: center;">&nbsp;Estudiantes nuevos&nbsp;</th>
                <th style="text-align: center;">&nbsp;Titulados&nbsp;</th>
                <th style="text-align: center;">&nbsp;Ingresos hace 5 años&nbsp;</th>
                <th style="text-align: center;">&nbsp;Relación(%)&nbsp;</th>
              </tr>
            <%[*2010..Date.today.year].each do |anio|%>
            <tr>
              <td>&nbsp;<%=anio%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio, @new_edu.contadores)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_egresos_por(anio, @new_edu.contadores)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio-5, @new_edu.contadores)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.relacion_acreditacion_por(anio, @new_edu.contadores)%>&nbsp;</td>
            </tr>
            <%end%>
          </table>
          </li>
        </div>
        <div id="Ingeniería Comercial" class="filtro" style="display:none;">
          <li class="list-group-item">
            <%=column_chart @new_edu.impacto_de(@new_edu.comerciales),label: "Cantidad",xtitle:"País o región",title:"Ubicación laboral de los titulados de Ingeniería Comercial",ytitle:"Titulados", download: "resumen Ingreso"%>
          </li>
          <li class="list-group-item">
          </li>
          <li class="list-group-item">
            <table class="table table-striped table-bordered table-hover" style="text-align: center;">
              <tr>
                <th style="text-align: center;">&nbsp;País o región&nbsp;</th>
                <th style="text-align: center;">&nbsp;Estudiantes nuevos&nbsp;</th>
                <th style="text-align: center;">&nbsp;Titulados&nbsp;</th>
                <th style="text-align: center;">&nbsp;Ingresos hace 5 años&nbsp;</th>
                <th style="text-align: center;">&nbsp;Relación(%)&nbsp;</th>
              </tr>
            <%[*2010..Date.today.year].each do |anio|%>
            <tr>
              <td>&nbsp;<%=anio%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio,@new_edu.comerciales)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_egresos_por(anio,@new_edu.comerciales)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.numero_ingresos_por(anio-5,@new_edu.comerciales)%>&nbsp;</td>
              <td>&nbsp;<%=@new_edu.relacion_acreditacion_por(anio,@new_edu.comerciales)%>&nbsp;</td>
            </tr>
            <%end%>
          </table>
          </li>
        </div>

        </ul>
      </div>
    </div>
  </div>


  <script>

  function cambioCarreras(){
    var selected=document.getElementById("carrera").value;
    var filtros=document.getElementsByClassName("filtro");
    for (var i=0; i<filtros.length;i++)
    {
      filtros[i].style.display="none";
    }
    document.getElementById(selected).style.display="block";

  }

  </script>
  <style>
  .center-select > select  {
  margin: 50px;
  width: 400px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  }
    .center-select{
      padding-left:25%;
    left:30%;
    }
  </style>
