<a href="/reportes"><button class="btn btn-primary">Volver Atras</button></a>
<div class="container">
  <h2>Lista de reportes</h2>
  <div class="panel panel-default">
    <div class="panel-heading"><div class="panel-title"><h3>Resumen </h3></div></div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item">
          <button class="btn btn-warning btn-sm pull-right" id="mostrarFecha" onclick="showFecha()" style="display:none; ">Mostrar Gráfica Estadística</button>
          <button class="btn btn-warning btn-sm pull-right" id="ocultarFecha" onclick="showFecha()">Ocultar Gráfica Estadística</button>
          <div>
            <div class="container">
              <div class="table-responsive">
                <table  class="table table-striped table-bordered table-hover" style="text-align: center;" id="table_report">
                  <tr>
                    <th style="text-align: center;">&nbsp;Titulo&nbsp;</th>
                    <th style="text-align: center;">&nbsp;Estudiantes egresados &nbsp;</th>
                  </tr>
                  <% @data_graphic.each do |user|%>
                  <tr>
                    <td ><%=user[0]%></td>
                    <td><%=user[1]%></td>
                  </tr>
                  <%end%>
                </table>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item" id="lista_usuarios">
            <div class="table table-responsive">
              <table  class="table table-striped table-bordered" style="text-align: center;">
                <tr>
                  <th style="text-align: center;">&nbsp;Nombre&nbsp;</th>
                  <th style="text-align: center;">&nbsp;Correo electronico &nbsp;</th>
                  <th style="text-align: center;">&nbsp;Telefono &nbsp;</th>
                  <th></th>
                </tr>
                <% @users.each do |user|%>
                  <tr>
                    <td><%=user.name%></td>
                    <td><%=user.email%></td>
                    <td><%=user.phone%></td>
                    <td>
                      <button class="btn btn-default btn-sm pull-right">
                        <%=link_to "Ver Curriculum", {controller: "resumes",action:"external_show",id:user.id}%>
                      </button>
                    </td>
                  </tr>
                <%end%>
              </table>
            </div>
        </li>
        <li class="list-group-item">
          <div id="by_date">
          <%@data_graphic_to_chart=@data_graphic%>
          <%@total =@data_graphic_to_chart.sum{|x,y| @data_graphic_to_chart[x]}%>
          <%@data_graphic_to_chart=@data_graphic_to_chart.each{|x,y| @data_graphic_to_chart[x]=y.to_f/@total*100}%>
          <%@data_graphic_to_chart=@data_graphic_to_chart.each{|x,y| y.to_s.replace "#{y}%"}%>
            <%= pie_chart @data_graphic_to_chart, stacked: true, donwload: true,suffix:"%"%>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<script>
  var fecha = document.getElementById("by_date");
  var botonOcultarF = document.getElementById("ocultarFecha");
  var botonMostrarF = document.getElementById("mostrarFecha");
  window.onload =function(){
    botonMostrarF.style.display="block";
    botonOcultarF.style.display="none";
    fecha.style.display="none";
  }
  function showFecha() {
    if (fecha.style.display === "none") {
      fecha.style.display = "block";
      botonMostrarF.style.display="none";
      botonOcultarF.style.display="block";
    } else {
      fecha.style.display = "none";
      botonMostrarF.style.display="block";
      botonOcultarF.style.display="none";
    }
  }

  $('#table_report tr').click(function(){
  // alert( $('tr').index(this) + $('tr').val(this)[0]);
  showUsers();
  });
  function showUsers(){
    var lista=document.getElementById("lista_usuarios");
    if (lista.style.display=="none")
      lista.style.display="block";
    else
      lista.style.display="none";
  }
</script>
