<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>Bolsa de Trabajo</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag    'users', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
 <script src="http://canvg.googlecode.com/svn/trunk/canvg.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />


 <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/css/lightbox.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/responsive-elements/1.0.2/responsive-elements.min.js">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
<!-- jQuery library -->

<!-- Offers form css -->
  <style>


    nav select {display: none;}
    ul#menu li{display: inline;}
    @media screen and (min-width: 960px){
      ul#menu {display:block;}
      ul#icon-menu {display:none;}
      #input-buscar{
        display:none;
      }
      #btn-search{
        top:0;
      }
      #buscar-inp {
        margin-top: 0px;
        width:20%;
      }
      #noti_number{
        margin-right:-5px;
      }
    }
    @media screen and (max-width: 1132px) {
      ul#icon-menu li{display: inline}
      nav ul#menu { display: none; }
      nav ul#icon-menu {display: inline-block;}
      #input-buscar{display:none;}
      #btn-search{
        top:0px;
        right:0px;
        position:absolute;
      }
      #buscar-inp {
        margin-top: 0px;
        width:12%;
      }
    }
    @media screen and (max-width:760px){
      ul#icon-menu li{display: inline;margin-top:10px}
      nav ul#menu { display: none; }
      nav ul#icon-menu {display: inline-block;vertical-align:middle;margin-top:15px}
      #input-buscar{display:none;}
    }
  </style>
</head>
<body >
  <% if user_signed_in? %>
  <nav class="navbar-inverse navbar-fixed-top navbar-fixed-top" >
      <p class="navbar-brand pull-right"style="color:#9d9d9d">Bienvenido <%= current_user.name %> <%=current_user.last_name%></p>
  </nav>
  <nav class="navbar navbar-inverse navbar-fixed-top navbar-collapse" style="background-color:#45526e ;top:42px;position:fixed;margin-bottom:5px">
<%else%>
<nav class="navbar navbar-inverse navbar-fixed-top navbar-collapse" style="background-color:#45526e ;top:0px;position:fixed;font-size:6px;margin-bottom:5px">
<%end%>
      <ul id="menu" >
        <!-- <li><img src="/logocato.gif" style="width:2%;height:2%"></li> -->
        <li>  <%= link_to '<span class="fa fa-home fa-2x" style="margin-left:37%"></span><br>Bolsa de Trabajo'.html_safe, '/', :class=>'navbar-text pull-left'%></li>
        <% if user_signed_in? %>
        <li >
            <%= link_to '<span class="fa fa-user-circle fa-2x" style="margin-left:25%" ></span><br>Mi Perfil'.html_safe, '/users/profile', :class => 'navbar-link navbar-text' ,:style=>"left:40%"%> &emsp;
        </li>
        <li><%= link_to '<span class="fa fa-edit fa-2x"style="margin-left:35%"></span><br>Editar perfil'.html_safe, edit_user_registration_path, :class => 'navbar-link navbar-text' %>&emsp;</li>
        <%if current_user.is_company?%>
          <li><%= link_to '<span class="fa fa-external-link fa-2x" style="margin-left:30%"></span><br>Publicar oferta'.html_safe, '/oferta/nueva', :class => 'navbar-link navbar-text' %>&emsp;</li>
          <li><%= link_to '<span class="fa fa-id-card fa-2x" style="margin-left:45%"></span><br>Ver información Externa'.html_safe, "/CompanyInformation/"+current_user.id.to_s, :class => 'navbar-link navbar-text' %>&emsp;</li>
        <%elsif !current_user.is_administrator%>
          <li><%= link_to '<span class="fa fa-graduation-cap fa-2x" style="margin-left:30%"></span><br>Curriculum'.html_safe, '/mycurriculum', :class => 'navbar-link navbar-text' %>&emsp;</li>
          <li><%= link_to '<span class="fa fa-pencil fa-2x" style="margin-left:35%"></span><br>Editar CV'.html_safe, '/users/curriculum/edit', :class => 'navbar-link navbar-text' %>&emsp;</li>
        <%end%>
        <li><%= link_to '<span class="fa fa-user-plus fa-2x" style="margin-left:35%"></span><br>Ver grupos'.html_safe, '/grupos/todos', :class => 'navbar-link navbar-text' %>&emsp;</li>
        <li><%= link_to '<span class="fa fa-group fa-2x" style="margin-left:35%"></span><br>Mis grupos'.html_safe, '/grupos/mis_grupos', :class => 'navbar-link navbar-text' %>&emsp;</li>
        <li><%= link_to '<span class="fa fa-envelope fa-2x" style="margin-left:35%"></span><br>Notificaciones'.html_safe, '/mis_notificaciones', :class => 'navbar-link navbar-text',:style=>'padding-right:0px' %><span id="noti_number" style="color:rgb(255, 255, 255);margin-left:-10px;margin-top:39px" class="navbar-text"><%=current_user.unreaded_notifications.size%>&emsp;</span></li>
        <%if current_user.is_administrator or current_user.is_secretary?%>
          <li><%= link_to '<span class="fa fa-user-secret fa-2x" style="margin-left:45%"></span><br>Gestion de usuarios'.html_safe, '/users', :class => 'navbar-link navbar-text' %>&emsp;</li>
          <li><%= link_to '<span class="fa fa-comment fa-2x" style="margin-left:40%"></span><br>Sugerencias!'.html_safe, '/suggestions', :class => 'navbar-link navbar-text' %>&emsp;</li>

        <%end%>
        <%if current_user.is_director%>
          <li><%= link_to '<span class="fa fa-bar-chart fa-2x" style="margin-left:25%"></span><br>Reportes'.html_safe,'/reportes',:class=>'navbar-link navbar-text' %>&emsp;</li>
        <%end%>
        <li><%= link_to '<span class="fa fa-sign-out fa-2x" style="margin-left:20%"></span><br>Salir'.html_safe, destroy_user_session_path, method: :delete, :class => 'navbar-link navbar-text'  %></li>
        <li class="pull-right" style="margin-top:13px" id="buscar-inp">
          <%= form_for :user, url: '/busqueda/usuarios' do |f| %>
          <div class="row input-group" style="vertical-align:middle;margin-top:7px" >
            <div class="col col-md-10" style="align-left; padding-right:0px;">
              <%= f.text_field :name,:class=>"form-control",:id=>"search-box",placeholder:"Buscar",:maxlength=>30%>
            </div>
            <div class="col col-md-2" style="padding-left:0px">
              <button type="submit" class="btn btn-primary" ><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
          <% end %>
        </li>
        <% else %>
        <li><%= link_to  '<span class="fa fa-pencil-square fa-2x" style="margin-left:40%"></span><br>Registrarse'.html_safe, new_user_registration_path, :class => 'navbar-link navbar-text'  %>  </li>
        <li><%= link_to '<span class="fa fa-sign-in fa-2x" style="margin-left:35%"></span><br>Iniciar Sesión'.html_safe, new_user_session_path, :class => 'navbar-link navbar-text'  %></li>
        <% end %>
      </ul>

    <ul id="icon-menu" style="background-color:#45526e ;top:0px;position:absolute;left:-5%">
      <li>  <%= link_to '<span class="fa fa-home fa-lg"></span>'.html_safe, '/', :class=>'navbar-link navbar-text'%>&emsp;</li>
      <% if user_signed_in? %>
      <li>
          <%= link_to '<span class="fa fa-user-circle fa-lg"></span>'.html_safe, '/users/profile', :class => 'navbar-link navbar-text' %> &emsp;
      </li>
      <li><%= link_to '<span class="fa fa-edit fa-lg"></span>'.html_safe, edit_user_registration_path, :class => 'navbar-link navbar-text' %>&emsp;</li>
      <%if current_user.is_company?%>
        <li><%= link_to '<span class="fa fa-external-link fa-lg"></span>'.html_safe, '/oferta/nueva', :class => 'navbar-link navbar-text' %>&emsp;</li>
        <li><%= link_to '<span class="fa fa-id-card fa-lg"></span>'.html_safe, "/CompanyInformation/"+current_user.id.to_s, :class => 'navbar-link navbar-text' %>&emsp;</li>
      <%elsif !current_user.is_administrator%>
        <li><%= link_to '<span class="fa fa-graduation-cap fa-lg"></span>'.html_safe, '/mycurriculum', :class => 'navbar-link navbar-text' %>&emsp;</li>
        <li><%= link_to '<span class="glyphicon glyphicon-pencil fa-lg"></span>'.html_safe, '/users/curriculum/edit', :class => 'navbar-link navbar-text ' %>&emsp;</li>
      <%end%>
      <li><%= link_to '<span class="fa fa-user-plus fa-lg"></span>'.html_safe, '/grupos/todos', :class => 'navbar-link navbar-text' %>&emsp;</li>
      <li><%= link_to '<span class="fa fa-group fa-lg"></span>'.html_safe, '/grupos/mis_grupos', :class => 'navbar-link navbar-text' %>&emsp;</li>
      <li><%= link_to '<span class="fa fa-envelope fa-lg"></span>'.html_safe, '/mis_notificaciones', :class => 'navbar-link navbar-text',:style=>'padding-right:0px' %><span style="color:rgb(255, 255, 255);" class="navbar-text"><%=current_user.unreaded_notifications.size%>&emsp;</span></li>
      <%if current_user.is_administrator or current_user.is_secretary?%>
        <li><%= link_to '<span class="fa fa-user-secret fa-lg"></span>'.html_safe, '/users', :class => 'navbar-link navbar-text' %>&emsp;</li>
        <li><%= link_to '<span class="fa fa-comment fa-lg"></span>'.html_safe, '/suggestions', :class => 'navbar-link navbar-text' %>&emsp;</li>

      <%end%>
      <%if current_user.is_director%>
        <li><%= link_to '<span class="fa fa-bar-chart fa-lg"></span>'.html_safe,'/reportes',:class=>'navbar-link navbar-text' %>&emsp;</li>
      <%end%>
      <li><%= link_to '<span class="fa fa-sign-out fa-lg"></span>'.html_safe, destroy_user_session_path, method: :delete, :class => 'navbar-link navbar-text'  %>&emsp;</li>

      <% else %>
      <li><%= link_to '<span class="fa fa-pencil-square fa-lg" style="margin-right:20px"></span>'.html_safe, new_user_registration_path, :class => 'navbar-link navbar-text'  %>  </li>
      <li><%= link_to '<span class="fa fa-sign-in fa-lg"></span>'.html_safe, new_user_session_path, :class => 'navbar-link navbar-text'  %></li>
      <% end %>

     </ul>
  </nav>
<!-- <div class="navbar navbar-inverse navbar-fixed-top collapse navbar-collapse"style="position:fixed;top:0px;">
  <%= link_to 'Bolsa de Trabajo', '/', :class=>'navbar-text pull-left'%>
  <% if user_signed_in? %>
<p class="navbar-text pull-right">
    <p class="navbar-text pull-right">
  <%= link_to 'Perfil', '/users/profile', :class => 'navbar-link' %>&emsp;
  <%if !current_user.is_company?%>
  <%= link_to 'Editar CV', '/users/curriculum/edit', :class => 'navbar-link' %>&emsp;
  <%= link_to 'Curriculum', '/mycurriculum', :class => 'navbar-link' %>&emsp;

  <%else%>
  <%= link_to 'Publicar oferta', '/oferta/nueva', :class => 'navbar-link' %>&emsp;
  <%end%>
  <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %>&emsp;
  <%= link_to 'Ver grupos', '/grupos/todos', :class => 'navbar-link' %>&emsp;
  <%= link_to 'Mis grupos', '/grupos/mis_grupos', :class => 'navbar-link' %>&emsp;
  <%= link_to 'Notificaciones', '/mis_notificaciones', :class => 'navbar-link' %><span style="color:rgb(255, 255, 255);"><%=current_user.unreaded_notifications.size%>&emsp;</span>
  <%if current_user.is_administrator%>
    <%= link_to 'Gestion de usuarios', '/users', :class => 'navbar-link' %>&emsp;
  <%end%>
  <%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  </p>
  <span class="navbar-text pull-left">
    <%= form_for :user, url: '/busqueda/usuarios' do |f| %>
      <div>
      <%= f.text_field :name%>
      <%= f.submit "Buscar" %>
      </div>
    <% end %>
  </span>
<% else %>
  <%= link_to "Registrarse", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Iniciar Sesion", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>
</div> -->



<div class="container" style="margin-top:25px">
<% if notice %>
  <div class="alert alert-success">
    <h4><%= notice %></h4>
  </div>
<% end %>
<% if alert and alert.size>0%>
  <div class="alert alert-danger">
    <h4><%= alert %>
    </h4>
  </div>
<% end %>
<%if flash and !notice and !alert%>
<div class="container">
   <% flash.each do |key, value| %>
     <div class="alert alert-<%= key %>">
       <%= value %>
     </div>
   <% end %>
   <% debug(params) if Rails.env.development? %>
 </div>
 <%end%>
 </div>

<%= yield %>
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/boo  tstrap.min.js"></script> -->
<%if user_signed_in?%>
<button type="button" class="suggestion-button btn-lg btn-info" id="suggestionButton" title="Agrega tu comentario"><span class="glyphicon glyphicon-comment"></span></button>

<div id="addSuggestion" class="modal" >
    <div class="modal-content" style="width:50%">
        <span class="close" id="closeSuggestion">&times;</span>
        <%= form_for :suggestion, url:'/suggestion/create' do |f| %>
          <p>Los comentarios son completamente Anonimos</p>
          <div class="field">
            <%= f.label :Agrega_tu_comentario_aqui %>:<br>
            <%= f.text_area :comment, class: "form-control",:id=>'text_form',:maxlength=>600 %>
          </div>
          <div class="field">
            <%= f.hidden_field :user_id, :value=>current_user.id %>
          </div>
          <div class="actions">
            <%= f.submit "Enviar", class: "btn btn-primary pull-right",:id=>'boton_enviar',:disabled=>true%>
          </div>
          <br>
        <% end %>

    </div>
</div>

<%end%>
</body>
</html>
<style>
.suggestion-button{
  top:90%;
  right:0px;
  position:fixed;
}
.suggestion-button:hover span { display: none; }
 .suggestion-button:hover:after {
  content: "Danos tus sugerencias!";
 }
.navbar-inverse .navbar-text{
  color: #ffffff;
  font-size: 12px;
}
.navbar {
  background:#45526e  !important;
  background-image: -webkit-linear-gradient(top,#1a5a8f 0,#1a5a8f 100%);
  background-image: linear-gradient(to bottom,#1a5a8f 0,#1a5a8f 100%);
}
.navbar-inverse .navbar-link{
  color: #ffffff;
}
.close {
    color: #aaa;
    float: right;
    font-size: 45px;
    font-weight: bold;
}

</style>
<script>

var botonComentario= document.getElementById("suggestionButton")
var modalComentario = document.getElementById("addSuggestion");
var spanComentario =document.getElementById("closeSuggestion");
// var btns=document.getElementById("aceptar");
spanComentario.onclick = function() {
    modalComentario.style.display = "none";
};
botonComentario.onclick =function(){
  // alert("algo raro");
  modalComentario.style.display ="block";
};
$(document).ready(function(){
    $('#boton_enviar').attr('disabled',true);
    $('#text_form').keyup(function(){
        if($(this).val().length !=0)
          $('#boton_enviar').attr('disabled', false);
        else
            $('#boton_enviar').attr('disabled',true);
    })
});
// Create the dropdown base
// $("<select />").appendTo("nav");
//
// // Create default option "Go to..."
// $("<option />", {
//    "selected": "selected",
//    "value"   : "",
//    "text"    : "Ir a..."
// }).appendTo("nav select");

// Populate dropdown with menu items
// $("nav a").each(function() {
//  var el = $(this);
//  $("<option />", {
//      "value"   : el.attr("href"),
//      "text"    : el.text()
//  }).appendTo("nav select");
// });
$("nav select").change(function() {
  window.location = $(this).find("option:selected").val();
});
document.getElementById('search-box').value = ""
</script>
