<div class="container" style="margin-top:50px;">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="panel-title" style="padding-top:1px;padding-bottom:1px">
        <h4>Editar Perfil </h4>
      </div>
    </div>
    <div class="panel-body">
      <div class="col col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 style="margin-left:10px">Datos de la cuenta</h4>
          </div>
          <div class="panel-body">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group">
              <%= f.label :nombres ,:class=>'form-label'%><br />
              <%= f.text_field :name,:class=>'form-control',:maxlength=>'30'%>
            </div>
            <%if !current_user.is_company?%>
              <div class="form-group">
                <%= f.label :apellidos,:class=>'form-label' %><br />
                <%= f.text_field :last_name,:class=>'form-control',:maxlength=>'30'%>
              </div>
            <%end%>
            <div class="form-group">
              <%= f.label :email,:class=>'form-label'  %><br />
              <%= f.email_field :email, autofocus: true,:class=>'form-control' ,:maxlength=>'50'%>
            </div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
            <div class="form-group">
              <%= f.label :contraseña_actual,:class=>'form-label' %> <br />
              <div class="">
                <%= f.password_field :password, autocomplete: "off",:class=>'form-control' %>
              </div>
              <i>Nota: Es obligatorio ingresar la contraseña para cambiar los datos</i>
            </div>
            <div class="actions">
              <%= f.submit "Actualizar",:class=>'btn btn-primary pull-right' %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 style="margin-left:10px">Cambiar contraseña</h4>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <%=form_for(@user, url: 'user/edit/password' ) do |f|%>
              <%= f.label :contraseña,:class=>'form-label' %> <br />
              <%= f.password_field :password, autocomplete: "off",:class=>'form-control' %>
                <% if @minimum_password_length %>
                  <em>Nota:<%= @minimum_password_length %> caracteres minimo, por lo menos una mayuscula, una minuscula y un caracter</em>
                <% end %>
            </div>
            <div class="form-group">
              <%= f.label :confirmación_contraseña,:class=>'form-label' %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" ,:class=>'form-control'%>
            </div>
            <div class="form-group">
              <%= f.label :contraseña_actual,:class=>'form-label' %> <br />
              <%= f.password_field :current_password, autocomplete: "off",:class=>'form-control' %>
              <i>Nota: Es obligatorio ingresar la contraseña para cambiar los datos</i>
            </div>
            <div class="actions">
              <%= f.submit "Cambiar Contraseña",:class=>'btn btn-primary pull-right' %>
            </div>
              <% end %>
          </div>
        </div>
      </div>
  <br>
  <div class="col col-md-12">
    <div class="panel panel-primary">
      <%if (current_user.is_company?)%>
        <div class="panel-heading">
          <h4 style="margin-left:10px">Información Empresarial</h4>
        </div>
        <%@p=current_user.company_information%>
        <%= form_for :company_information, url: '/company/update' do |f| %>
        <%= link_to "Atras", "/users/profile",:class=>'btn btn-default' %>
        <div class="panel-body">
          <div class="row">
            <div class="col col-md-6">
              <%= f.label :correo_de_contacto,:class=>'form-label' %><br />
              <%= f.email_field :contact_email, autofocus: true ,:class=>'form-control',:maxlength=>'50',:value=>@p.contact_email%>
            </div>
            <div class="col col-md-6">
              <%= f.label :nombre_de_contacto,:class=>'form-label' %><br />
              <%= f.text_field :contact_name,:class=>'form-control',:maxlength=>'50',:value=>@p.contact_name %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col col-md-6">
              <%= f.label :Teléfono_Fijo,:class=>'form-label' %><br/>
              <%= f.number_field :phone,:class=>'form-control',:max=>'99999999999',:min=>'1000000',:value=>@p.phone %>
            </div>
            <div class="col col-md-6">
              <%= f.label :nit,:class=>'form-label' %></br>
              <%= f.number_field :nit,:class=>'form-control',:value=>@p.nit %>
            </div>
          </div>
          <br>
          <div class="form-group">
            <%= f.label :Dirección,:class=>'form-label' ,:maxlength=>'100'%><br />
            <%= f.text_field :address,:class=>'form-control',:value=>@p.address%>
          </div>
          <div class="form-group">
            <%= f.label :código_ciuu,:class=>'form-label' %><br />
            <%= collection_select(:company_information,:ciu_code_id,CiuCode.all,:id,:description,{:class=>'form-control'},{:multiple => false}) %>
          </div>
          <br>
          <div class="form-group">
            <%= f.label :descripción ,:class=>'form-label'%></br>
            <%= f.text_area  :description,:class=>'form-control' ,:maxlength=>'300',:value=>@p.description%><br>
          </div>
          <%= f.hidden_field :user_id, :value => current_user.id%>
          <%=f.hidden_field :id, :value => current_user.company_information.id%>
          <div class="actions">
            <%= f.submit "Guardar" ,:class=>'btn btn-primary pull-right'%>
          </div>
        <% end %>
        </div>
      <%else%>
        <div class="panel-heading">
          <h4 style="margin-left:10px">Información Personal</h4>
        </div>
        <div class="panel-body">
          <%@u=current_user.personal_information%>
          <%= form_for :personal_information, url: '/personal/update' do |f| %>
          <div class="row">
            <div class="col col-md-6">
              <%= f.label :Teléfono_Fijo,:class=>'form-label' %><br/>
              <%= f.number_field :phone,:class=>'form-control',:max=>'999999999999',:min=>'1000000',:value=>@u.phone %>
            </div>
            <div class="col col-md-6">
              <%= f.label :celular,:class=>'form-label' %><br/>
              <%= f.number_field :cellphone,:class=>'form-control',:max=>'99999999999',:min=>'1000000',:value=>@u.cellphone %>
            </div>
          </div>
          <br>
          <div class="form-group">
            <%= f.label :Dirección,:class=>'form-label' %><br />
            <%= f.text_field :address,:class=>'form-control',:maxlength=>'100',:value=>@u.address%>
          </div>
          <br>
          <div class="row">
            <div class="col col-md-4">
              <%= f.label :Fecha_Nacimiento,:class=>'form-label' %><br />
              <%= f.date_select :birthdate,:start_year=> 1970,:end_year=>Time.now.year-10,:default=>@u.translate_birthday_to_edit%>
            </div>
            <div class="col col-md-4">
              <div class="checkbox">
                <b style="margin-left:-5px"><%= f.label :género%>:</b>
                <%= f.label :Hombre%>
                <%= f.radio_button :gender, true, :checked=>true%>
                <%= f.label :Mujer%>
                <%= f.radio_button :gender, false%>
              </div>
            </div>
            <div class="col col-md-4">
                <%@per_aux=PersonalInformation.new%>
                <%=f.label :estado_civil,:class=>'form-label'%><br/>
                <%= f.select :civil,@u.civil_options,:selected=>@u.self_option%>
            </div>
          </div>
          <%= f.hidden_field :user_id, :value => current_user.id%>
          <%=f.hidden_field :id, :value => current_user.personal_information.id%>
          <div class="actions">
            <%= f.submit "Guardar",:class=>'btn btn-primary pull-right' %>
          </div>
          <% end %>
        </div>
      </div>
      <%end%>
    </div>
    <div class="col col-md-12">
    <div  class="panel panel-primary">
      <div class="panel-heading">
        <h4 style="margin-left:10px" >Eliminar mi cuenta</h4>
      </div>
<!-- # <%= link_to "Destroy", admin_destroy_user_path(current_user), method: :delete, data: { confirm: "You sure?" } %> -->
      <div class="panel-body">
        <p>Ya no quieres ser parte de nuestra red? <%= button_to "Eliminar mi cuenta", registration_path(resource_name), data: { confirm: "Estas seguro?" }, method: :delete ,:class=>'btn btn-danger pull-right'%></p>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
