






<div class="container" style="margin-top:15px;">
  <%if devise_error_messages!.size>0%>
  <div class="alert alert-danger alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

    <%= devise_error_messages! %>
  </div>
<%end%>

<div class="panel panel-primary">
<div class="panel-heading" style="padding-top:1px;padding-bottom:1px">
<h3 style="margin-top:10px;margin-left:10px">Registro</h3>
</div>
<div class= "panel-body">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name),:class=>"form-horizontal") do |f| %>
<div class="row">
  <div class="col col-md-6">
    <%= f.label :nombres,:class=>"control-label persona" %>
    <%= f.label :nombre_de_la_empresa,:class=>"control-label empresa",:style=>"display:none" %>
    <%= f.text_field :name,:class=>"form-control"%>
  </div>
  <div class="col col-md-6" id="apellidos">
    <%= f.label :apellidos,:class=>"control-label col-sm-2" %><br />
    <%= f.text_field :last_name,:class=>"form-control" %>
  </div>
</div>
<br>
  <div class="">
    <div clss="">
      <%= f.label :correo_electrónico,:class=>"control-label" %><br />
      <%= f.email_field :email, autofocus: true,:class=>"form-control " %>
    </div>
  </div>
  <br>
<div class="row">
  <div class="col col-md-6">
    <%= f.label :contraseña,:class=>"control-label" %>
    <%= f.password_field :password, autocomplete: "off",:class=>"form-control" %>
  </div>

  <div class="col col-md-6">
    <%= f.label :confirmar_contraseña,:class=>"control-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off",:class=>"form-control" %>
  </div>
  <% if @minimum_password_length %>&nbsp;
  <em>&nbsp;&nbsp;Nota: <%= @minimum_password_length %> caracteres minimo, por lo menos una mayuscula, una minuscula y un caracter</em>
  <% end %><br />
</div>
<br>
  <div class="form-group">
    <%=f.check_box :company, :id=>'check_company'%>
    <%=f.label :quiero_registrarme_como_empresa%>
  </div>
  <div class="actions">
    <%= f.submit "Registrarse",:class=>'btn btn-primary pull-right' %>
  </div>
<% end %>
</div>
<!-- # <%= render "users/shared/links" %> -->
</div>

</div>
<style>
 #check_company:checked ~ .persona{
   display: none;
}
</style>

<script>

$('#check_company').click(function() {
  $('.persona')[this.checked ? "hide" : "show"]();
  $('.empresa')[this.checked ? "show" : "hide"]();
  $('#apellidos')[this.checked ? "hide" : "show"]();
});
// $(function(){
// $('body').tooltip({ selector: '[data-toggle="tooltip"]' });
// });
// $(function(){
// $('body').tooltip({ selector: '[data-toggle="tooltip2"]' });
// });
</script>
